**Paper**: [Wrangling categorical in R](https://peerj.com/preprints/3163/)

In [2]:
library(tidyverse)

In [3]:
GSS <- read_csv('https://raw.githubusercontent.com/dsscollection/factor-mgmt/master/data/GSScleaned.csv')
GSS %>% head()

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  Year = col_double(),
  ID = col_double(),
  LaborStatus = col_character(),
  OccupationalPrestigeScore = col_double(),
  MaritalStatus = col_character(),
  NumChildren = col_double(),
  Age = col_character(),
  HighestSchoolCompleted = col_double(),
  Sex = col_character(),
  Race = col_character(),
  ChildhoodFamilyIncome = col_character(),
  TotalFamilyIncome = col_character(),
  RespondentIncome = col_character(),
  PoliticalParty = col_character(),
  OpinionOfIncome = col_character(),
  SexualOrientation = col_character()
)

  Year ID LaborStatus      OccupationalPrestigeScore MaritalStatus NumChildren
1 2014 1  Working fulltime 0                         Divorced      0
2 2014 2  Working fulltime 0                         Married       0
3 2014 3  Unempl, laid off 0                         Divorced      1
4 2014 4  Working parttime 0                         Married       2
5 2014 5  Retired          0                         Married       3
6 2014 6  Working fulltime 0                         Married       1
  Age       HighestSchoolCompleted Sex    Race  ChildhoodFamilyIncome
1 53.000000 16                     Male   White Below average
2 26.000000 16                     Female White Average
3 59.000000 13                     Male   White Below average
4 56.000000 16                     Female White Below average
5 74.000000 17                     Female White Above average
6 56.000000 17                     Female White Above average
  TotalFamilyIncome RespondentIncome PoliticalParty     OpinionOfIncome
1 $25000 or more    $25000 or more   Not str republican Above average
2 $25000 or more    $25000 or more   Not str republican Above average
3 $25000 or more    Not applicable   Strong republican  Below average
4 $25000 or more    $10000 - 14999   Not str republican Above average
5 Refused           Not applicable   Independent        Average
6 $25000 or more    $25000 or more   Strong republican  Above average
  SexualOrientation
1 Heterosexual or straight
2 Heterosexual or straight
3 Heterosexual or straight
4 Heterosexual or straight
5 Heterosexual or straight
6 No answer

In [4]:
GSS %>% glimpse()

Rows: 2,540
Columns: 16
$ Year                      <dbl> 2014, 2014, 2014, 2014, 2014, 2014, 2014,...
$ ID                        <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...
$ LaborStatus               <chr> "Working fulltime", "Working fulltime", "...
$ OccupationalPrestigeScore <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ MaritalStatus             <chr> "Divorced", "Married", "Divorced", "Marri...
$ NumChildren               <dbl> 0, 0, 1, 2, 3, 1, 2, 2, 4, 3, 2, 0, 5, 2,...
$ Age                       <chr> "53.000000", "26.000000", "59.000000", "5...
$ HighestSchoolCompleted    <dbl> 16, 16, 13, 16, 17, 17, 12, 17, 10, 15, 5...
$ Sex                       <chr> "Male", "Female", "Male", "Female", "Fema...
$ Race                      <chr> "White", "White", "White", "White", "Whit...
$ ChildhoodFamilyIncome     <chr> "Below average", "Average", "Below averag...
$ TotalFamilyIncome         <chr> "$25000 or more", "$25000 or more", "$250...
$ RespondentIncome          <chr> "$25000 or more", "$25000 or more", "Not ...
$ PoliticalParty            <chr> "Not str republican", "Not str republican...
$ OpinionOfIncome           <chr> "Above average", "Above average", "Below ...
$ SexualOrientation         <chr> "Heterosexual or straight", "Heterosexual...

# Changing the labels of factor levels

Our first example works with `LaborStatus` variable.   It is a categorical variable with 9 levels.  Most of the labels are spelled out fully, but a few are strangely formatted.  We wantto change this.  
This is a speci c case of the more general problem of changing the text of factor labels,so they appear more nicely formatted in a plot

In [22]:
LaborStatus <- as.factor(GSS$LaborStatus)

In [28]:
levels(LaborStatus)

[1] "Keeping house"    "No answer"        "Other"            "Retired"
[5] "School"           "Temp not working" "Unempl, laid off" "Working fulltime"
[9] "Working parttime"

In [32]:
LaborStatus %>% summary()

   Keeping house        No answer            Other          Retired
             263                2               76              460
          School Temp not working Unempl, laid off Working fulltime
              90               40              104             1230
Working parttime             NA's
             273                2

Spell out fully some labels:

In [38]:
LaborStatus1 <- LaborStatus %>% fct_recode('Temporarily not working' = 'Temp not working',
                           'Unemployment, laid off ' = 'Unempl, laid off',
                           'Working full time' = 'Working fulltime',
                           'Working part time ' = 'Working parttime')

In [39]:
LaborStatus1 %>% levels()

[1] "Keeping house"           "No answer"
[3] "Other"                   "Retired"
[5] "School"                  "Temporarily not working"
[7] "Unemployment, laid off " "Working full time"
[9] "Working part time "

In [40]:
LaborStatus1 %>% summary()

          Keeping house               No answer                   Other
                    263                       2                      76
                Retired                  School Temporarily not working
                    460                      90                      40
Unemployment, laid off        Working full time      Working part time
                    104                    1230                     273
                   NA's
                      2

### Aside - Editing whitespace out of levels

A  more  general  problem  sometimes  arises  due  to  extra  spaces  included  when  data  areingested.  Such whitespace can be dealt with when data is read, or addressed later using
string operations.

In [42]:
gender <- factor(c("male ", "male  ", "male    ", "male"))

levels(gender)

[1] "male"     "male "    "male  "   "male    "

In [45]:
gender_trim <- gender %>% fct_relabel(str_trim)

gender_trim

levels(gender_trim)

[1] male male male male
Levels: male

[1] "male"

# Reordering factor levels

In [46]:
income <- as.factor(GSS$OpinionOfIncome)

In [47]:
levels(income)

[1] "Above average"     "Average"           "Below average"
[4] "Don't know"        "Far above average" "Far below average"
[7] "No answer"

In [48]:
summary(income)

    Above average           Average     Below average        Don't know
              483              1118               666                21
Far above average Far below average         No answer              NA's
               65               179                 6                 2

In [50]:
income1 <- income %>% fct_relevel('Far above average', 'Above average', 'Average', 'Below average', 'Far below average')

In [51]:
levels(income1)

[1] "Far above average" "Above average"     "Average"
[4] "Below average"     "Far below average" "Don't know"
[7] "No answer"

In [52]:
summary(income1)

Far above average     Above average           Average     Below average
               65               483              1118               666
Far below average        Don't know         No answer              NA's
              179                21                 6                 2

# Combine several levels into one

### Combine discrete levels

In [53]:
MaritalStatus <- as.factor(GSS$MaritalStatus)

In [55]:
levels(MaritalStatus)

[1] "Divorced"      "Married"       "Never married" "No answer"
[5] "Separated"     "Widowed"

In [56]:
summary(MaritalStatus)

     Divorced       Married Never married     No answer     Separated
          411          1158           675             4            81
      Widowed          NA's
          209             2

In [58]:
MaritalStatus1 <- MaritalStatus %>% fct_collapse('Not married' = c('Divorced', 'Never married', 'Widowed', 'Separated'))

In [60]:
levels(MaritalStatus1)

[1] "Not married" "Married"     "No answer"

In [61]:
summary(MaritalStatus1)

Not married     Married   No answer        NA's
       1376        1158           4           2

### Combine numeric-type levels

In this data, age is provided as an integer for respondents 18-88, but also includes the possible answers 89 or older,No answer and NA.A common data wrangling task might be to turn this into a factor variable with two levels:   18-65,  and  over  65.   In  this  case,  it  would  be  easier  to  deal  with  a  conditional statement  about  the  numeric  values,  rather  than  writing  out  each  of  the  numbers  as  acharacter vector

In [66]:
Age <- as.factor(GSS$Age)

In [67]:
levels(Age)

 [1] "18.000000"   "19.000000"   "20.000000"   "21.000000"   "22.000000"
 [6] "23.000000"   "24.000000"   "25.000000"   "26.000000"   "27.000000"
[11] "28.000000"   "29.000000"   "30.000000"   "31.000000"   "32.000000"
[16] "33.000000"   "34.000000"   "35.000000"   "36.000000"   "37.000000"
[21] "38.000000"   "39.000000"   "40.000000"   "41.000000"   "42.000000"
[26] "43.000000"   "44.000000"   "45.000000"   "46.000000"   "47.000000"
[31] "48.000000"   "49.000000"   "50.000000"   "51.000000"   "52.000000"
[36] "53.000000"   "54.000000"   "55.000000"   "56.000000"   "57.000000"
[41] "58.000000"   "59.000000"   "60.000000"   "61.000000"   "62.000000"
[46] "63.000000"   "64.000000"   "65.000000"   "66.000000"   "67.000000"
[51] "68.000000"   "69.000000"   "70.000000"   "71.000000"   "72.000000"
[56] "73.000000"   "74.000000"   "75.000000"   "76.000000"   "77.000000"
[61] "78.000000"   "79.000000"   "80.000000"   "81.000000"   "82.000000"
[66] "83.000000"   "84.000000"   "85.000000"   "86.000000"   "87.000000"
[71] "88.000000"   "89 or older" "No answer"

In [68]:
summary(Age)

  18.000000   19.000000   20.000000   21.000000   22.000000   23.000000
          6          25          26          24          28          30
  24.000000   25.000000   26.000000   27.000000   28.000000   29.000000
         31          48          47          41          31          51
  30.000000   31.000000   32.000000   33.000000   34.000000   35.000000
         57          49          55          47          46          40
  36.000000   37.000000   38.000000   39.000000   40.000000   41.000000
         40          54          47          52          46          54
  42.000000   43.000000   44.000000   45.000000   46.000000   47.000000
         35          54          39          41          34          43
  48.000000   49.000000   50.000000   51.000000   52.000000   53.000000
         32          39          54          45          37          60
  54.000000   55.000000   56.000000   57.000000   58.000000   59.000000
         53          52          60          43          60          47
  60.000000   61.000000   62.000000   63.000000   64.000000   65.000000
         46          38          44          42          38          40
  66.000000   67.000000   68.000000   69.000000   70.000000   71.000000
         35          41          21          23          32          28
  72.000000   73.000000   74.000000   75.000000   76.000000   77.000000
         20          22          25          21          24          17
  78.000000   79.000000   80.000000   81.000000   82.000000   83.000000
         28          26          16          14           8          11
  84.000000   85.000000   86.000000   87.000000   88.000000 89 or older
         13           6           9           8          11          19
  No answer        NA's
          9           2

In [74]:
GSS %>% mutate(tidyAge = parse_number(Age)) %>% 
mutate(tidyAge = if_else(tidyAge < 65, 'Below 65', 'Above 65')) %>% 
mutate(tidyAge = as.factor(tidyAge)) %>%
pull(tidyAge) %>% summary()

Warning message:
"Problem with `mutate()` input `tidyAge`.
i 9 parsing failures.
 row col expected    actual
  31  -- a number No answer
  99  -- a number No answer
 835  -- a number No answer
1267  -- a number No answer
1320  -- a number No answer
.... ... ........ .........
See problems(...) for more details.

i Input `tidyAge` is `parse_number(Age)`."Warning message:
"9 parsing failures.
 row col expected    actual
  31  -- a number No answer
  99  -- a number No answer
 835  -- a number No answer
1267  -- a number No answer
1320  -- a number No answer
.... ... ........ .........
See problems(...) for more details.
"

Above 65 Below 65     NA's
     518     2011       11

# Creating derived categorical variables

# Defensive Coding