In [2]:
library(lubridate)

# Convert an object to a date or date-time

Convert an object to a date or date-time

```r
as_date(x, ...)

# S4 method for ANY
as_date(x, ...)

# S4 method for POSIXt
as_date(x, tz = NULL)

# S4 method for numeric
as_date(x, origin = lubridate::origin)

# S4 method for character
as_date(x, tz = NULL, format = NULL)

as_datetime(x, ...)

# S4 method for POSIXt
as_datetime(x, tz = "UTC")

# S4 method for numeric
as_datetime(x, origin = lubridate::origin, tz = "UTC")

# S4 method for character
as_datetime(x, tz = "UTC", format = NULL)

# S4 method for ANY
as_datetime(x, tz = "UTC")
```

### Arguments

`x`	
a vector of POSIXt, numeric or character objects

`...`	
further arguments to be passed to specific methods (see above).

`tz`	
a time zone name (default: time zone of the POSIXt object x). See `OlsonNames()`.

`origin`	
a Date object, or something which can be coerced by `as.Date(origin, ...)` to such an object (default: the Unix epoch of "1970-01-01"). Note that in this instance, x is assumed to reflect the number of days since origin at "UTC".

`format`	
format argument for character methods. When supplied parsing is performed by `strptime()`. For this reason consider using specialized parsing functions in lubridate.

`Value`
a vector of Date objects corresponding to x.

# Examples

This can convert an object to date or date-time (e.g: POSIXct, ...)  
while functions like `ymd()`, `ymd_hms()`, ... can only convert numeric vector or charcter vector to date or date time

In [3]:
dt_utc <- ymd_hms("2010-08-03 00:50:50")
dt_utc

[1] "2010-08-03 00:50:50 UTC"

In [12]:

as_date(dt_utc)

[1] "2010-08-03"

In [13]:
as.Date(dt_utc)

[1] "2010-08-03"

In [5]:
dt_london <- ymd_hms("2010-08-03 00:50:50", tz = 'Europe/London')

dt_london

[1] "2010-08-03 00:50:50 BST"

In [11]:
# The time is change to UTC timezone (default)
as_datetime(dt_london, tz = 'UTC')

[1] "2010-08-02 23:50:50 UTC"

In [15]:
## need not supply origin
as_date(10)   # ten days from 1970-01-01

[1] "1970-01-11"

In [17]:
## Will replace invalid date format with NA
dt_wrong <- c("2009-09-29", "2012-11-29", "2015-29-12")

as_date(dt_wrong)

Warning message:
" 1 failed to parse."

[1] "2009-09-29" "2012-11-29" NA