In [2]:
library(lubridate)
library(tidyverse)

# Get/set date component of a date-time

Date-time must be a POSIXct, POSIXlt, Date, chron, yearmon, yearqtr, zoo, zooreg, timeDate, xts, its, ti, jul, timeSeries, and fts objects.
```r
date(x)

date(x) <- value
```
**Arguments**  
`x`	
a date-time object

`value`	
an object for which the date() function is defined

# Value

the date of x as a Date

# Details

`date()` does not yet support years before 0 C.E. Also `date()` is not defined for Period objects.

# Examples

In [5]:
x <- ymd_hms("2012-03-26 23:12:13", tz = "America/New_York")
x

[1] "2012-03-26 23:12:13 EDT"

In [6]:
# get date
date(x)

date(x) %>% class()

[1] "2012-03-26"

[1] "Date"

In [7]:
as_date(x) # by default as.Date assumes you want to know the date in UTC
#> [1] "2012-03-27"
as_date(x, tz = "America/New_York")

[1] "2012-03-26"

[1] "2012-03-26"

In [8]:
date(x) <- as_date("2000-01-02")

x

[1] "2000-01-02 23:12:13 EST"