In [2]:
library(lubridate)

# Get/set months component of a date-time

Date-time must be a POSIXct, POSIXlt, Date, Period, chron, yearmon, yearqtr, zoo, zooreg, timeDate, xts, its, ti, jul, timeSeries, and fts objects.
```r
month(x, label = FALSE, abbr = TRUE, locale = Sys.getlocale("LC_TIME"))

month(x) <- value
```

### Value

If `label = FALSE`: month as number (1-12, 1 = January, 12 = December), otherwise as an ordered factor.

# Examples

In [3]:
my_birthday <- dmy('06/10/2001')

In [6]:
# by default, show month as number 1, 2, 3, ... (label = FALSE)
month(my_birthday)

[1] 10

In [5]:
# show month as string (Jan, Feb, ...)
month(my_birthday, label = T)

[1] Oct
12 Levels: Jan < Feb < Mar < Apr < May < Jun < Jul < Aug < Sep < ... < Dec

In [7]:
# show full month name
month(my_birthday, label = T, abbr = F)

[1] October
12 Levels: January < February < March < April < May < June < ... < December

In [8]:
# change month to 1
month(my_birthday) <- 1

my_birthday

[1] "2001-01-06"

In [9]:
# equivalent
month(my_birthday) <- 1

my_birthday

[1] "2001-01-06"