In [2]:
library(lubridate)

# Get the fiscal quarter and semester of a date-time

Quarters divide the year into fourths. Semesters divide the year into halfs.
```r
quarter(x, with_year = FALSE, fiscal_start = 1)

semester(x, with_year = FALSE)
```

# Examples

In [3]:
x <- ymd(c("2012-03-26", "2012-05-04", "2012-09-23", "2012-12-31"))
x

[1] "2012-03-26" "2012-05-04" "2012-09-23" "2012-12-31"

In [9]:
# Each date falls on what quarter? be default, the The first quarter starts on January (fiscal_start = 1)
quarter(x)

[1] 1 2 3 4

In [10]:
# include year in the result
quarter(x, with_year = T)

[1] 2012.1 2012.2 2012.3 2012.4

In [11]:
# first quarter starts on April

quarter(x, fiscal_start = 4)

[1] 4 1 2 3