In [2]:
library(tidyverse)

# Group input by rows

`rowwise()` allows you to compute on a data frame a row-at-a-time. This is most useful when a vectorised function doesn't exist.

Most dplyr verbs preserve row-wise grouping. The exception is `summarise()`, which return a `grouped_df`. You can explicitly ungroup with `ungroup()` or `as_tibble()`, or convert to a grouped_df with `group_by()`.

```R
rowwise(data, ...)
```

# Examples

In [4]:
df <- tibble(x = runif(6), y = runif(6), z = runif(6))
# Compute the mean of x, y, z in each row
df %>% rowwise() %>% mutate(m = mean(c(x, y, z)))

  x          y          z          m
1 0.73382409 0.30498552 0.36696888 0.4685928
2 0.38861898 0.49776658 0.81855870 0.5683148
3 0.45411062 0.65161103 0.01952812 0.3750833
4 0.05591376 0.16763634 0.76291700 0.3288224
5 0.83464217 0.61396142 0.80867060 0.7524247
6 0.26627651 0.09878392 0.92598392 0.4303481

In [6]:
# use c_across() to more easily select many variables
df %>% rowwise() %>% mutate(m = mean(c_across(x:z)))

  x          y          z          m
1 0.73382409 0.30498552 0.36696888 0.4685928
2 0.38861898 0.49776658 0.81855870 0.5683148
3 0.45411062 0.65161103 0.01952812 0.3750833
4 0.05591376 0.16763634 0.76291700 0.3288224
5 0.83464217 0.61396142 0.80867060 0.7524247
6 0.26627651 0.09878392 0.92598392 0.4303481