In [2]:
library(tidyverse)

# Select grouping variables

This selection helpers matches grouping variables. It can be used in select() or vars() selections.

```R
group_cols(vars = NULL, data = NULL)
```

**Arguments**  
`vars`	
Deprecated; please use data instead.

`data`	
For advanced use only. The default NULL automatically finds the "current" data frames.

# Examples

In [6]:
TF <- data.frame(
    clan = c('VNC', 'VN', 'King Allool', 'VNC', 'King Allool', 'VN'),
    player = c('Meomeo888', 'VN Van Du', 'GHOST', 'VN Pikachu', 'Dr Strange', 'VN Wanie'),
    power = c(95, 78, 75, 100, 90, 85),
    country = c('VN', 'VN', 'USA', 'VN', 'INDIA', 'VN')
)
TF

  clan        player     power country
1 VNC         Meomeo888   95   VN
2 VN          VN Van Du   78   VN
3 King Allool GHOST       75   USA
4 VNC         VN Pikachu 100   VN
5 King Allool Dr Strange  90   INDIA
6 VN          VN Wanie    85   VN

In [8]:
TF %>% 
group_by(clan) %>% select(group_cols())  # select columns used for grouping

  clan
1 VNC
2 VN
3 King Allool
4 VNC
5 King Allool
6 VN

In [9]:
TF %>% 
group_by(clan, country) %>% 
select(group_cols())         # select columns used for grouping

  clan        country
1 VNC         VN
2 VN          VN
3 King Allool USA
4 VNC         VN
5 King Allool INDIA
6 VN          VN