In [1]:
import os
import numpy as np
import pandas as pd

In [23]:
os.chdir(r'C:\Users\dell\Books\pydata-book-2nd-edition')

In [85]:
%%HTML
<style>
.i {
    color: teal;
    font-weight: bold;
    font-size: 24px;
}
code {
    font-weight: bold;
}
.note {
    color: red;
}
.syntax {
    font-size: 20px;
    font-weight: bold;
}
</style>
<p class = 'i'>Text file</p>

In [22]:
 !type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [53]:
%%HTML
<p class = 'i'>Read data</p>

In [6]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. Consider this:

In [25]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [68]:
%%HTML
<p class = 'i'>Let pandas assign default name: <code>header = None</code></p>

In [26]:
df = pd.read_csv('examples/ex2.csv', header = None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [70]:
%%HTML
<p class = 'i'>Specify header names by yourself: <code>names = ['col name 1', 'col name 2', ...]</code></p>

In [27]:
df = pd.read_csv('examples/ex2.csv', names = ['Math', 'Physic', 'History', 'Note'])
df

   Math  Physic  History   Note
1     2       3        4  hello
5     6       7        8  world
9    10      11       12    foo

In [71]:
 %%HTML
<p class = 'i'>set index column: <code> index_col = integer index or label index</code></p>

In [36]:
df = pd.read_csv('examples/ex1.csv', index_col = 'message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

hierarchical index

In [40]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [41]:
df = pd.read_csv('examples/csv_mindex.csv', index_col = [0,1])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [56]:
%%HTML
<p class = 'i'>Regular Expression Delimiter</p>

In [55]:
file = open('examples/ex3.csv')
list(file)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [57]:
df = pd.read_csv('examples/ex3.csv', sep = '\s+')
df

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [65]:
%%HTML
<p class = 'i'>Handle Exceptions: <code>skiprows</code></p>

In [61]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [63]:
df = pd.read_csv('examples/ex4.csv', skiprows = [0, 2, 3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [73]:
%%HTML
<p class = 'i'>Handling missing values: <code>na_values = [value1, value2, ...]</code></p>
<p><b>Intuition</b>: treat value1, value2, ... as NA after loading data</p>

In [74]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [75]:
df = pd.read_csv('examples/ex5.csv', na_values = ['NA'])
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [77]:
%%HTML
<p class = 'note'>Use a <b>dict</b> to specify values to be considered as NA for each column</p>

In [78]:
df = pd.read_csv('examples/ex5.csv', na_values = {'message' : ['foo', 'NA'], 'c': [11]})
df

  something  a   b    c   d message
0       one  1   2  3.0   4     NaN
1       two  5   6  NaN   8   world
2     three  9  10  NaN  12     NaN

In [79]:
%%HTML
<p class = 'i'>Reading Text Files in Pieces</p>

In [83]:
%%HTML
<p class = 'syntax'>Only read first n rows: <code>nrows = n</code><p>

In [87]:
df = pd.read_csv('examples/ex6.csv', nrows = 5)
df

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [88]:
%%HTML
<p class = 'i'>Writing Data out to Text Format</p>

In [92]:
import sys
df = pd.read_csv('examples/ex5.csv', na_values = 'NA')
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [93]:
df.fillna({'c' : -1, 'message' : 'unknown'}, inplace = True)
df

  something  a   b     c   d  message
0       one  1   2   3.0   4  unknown
1       two  5   6  -1.0   8    world
2     three  9  10  11.0  12      foo

In [94]:
df.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|unknown
1|two|5|6|-1.0|8|world
2|three|9|10|11.0|12|foo

In [96]:
%%HTML
<p>Notice in the above file, we save the index and columns</p>
<p>To disable this, set <code>index = None</code>, <code>columns = None</code></p>

In [98]:
df.to_csv(sys.stdout, sep = '|', index = None, columns = None)

something|a|b|c|d|message
one|1|2|3.0|4|unknown
two|5|6|-1.0|8|world
three|9|10|11.0|12|foo