In [2]:
library(tidyverse)

# Anonymise factor levels

Replaces factor levels with arbitrary numeric identifiers. Neither the values nor the order of the levels are preserved.

```r
fct_anon(f, prefix = "")
```

**Arguments**  
`f` 	
A factor.

`prefix` 	
A character prefix to insert in front of the random labels.

# Examples

In [4]:
gss_cat %>% pull(relig) %>% fct_count()

   f                       n
1  No answer                  93
2  Don't know                 15
3  Inter-nondenominational   109
4  Native american            23
5  Christian                 689
6  Orthodox-christian         95
7  Moslem/islam              104
8  Other eastern              32
9  Hinduism                   71
10 Buddhism                  147
11 Other                     224
12 None                     3523
13 Jewish                    388
14 Catholic                 5124
15 Protestant              10846
16 Not applicable              0

In [6]:
gss_cat %>% pull(relig) %>% fct_anon() %>% fct_count()

   f  n
1  01  5124
2  02   689
3  03   388
4  04 10846
5  05    71
6  06   147
7  07    93
8  08    95
9  09    32
10 10   224
11 11    15
12 12    23
13 13     0
14 14  3523
15 15   109
16 16   104

In [7]:
gss_cat %>% pull(relig) %>% fct_anon('XX') %>% fct_count()

   f    n
1  XX01  3523
2  XX02     0
3  XX03    32
4  XX04   224
5  XX05  5124
6  XX06   388
7  XX07    23
8  XX08   104
9  XX09    95
10 XX10   147
11 XX11   109
12 XX12   689
13 XX13 10846
14 XX14    71
15 XX15    15
16 XX16    93