In [2]:
library(tidyverse)

<b>This is based on self-understanding</b>

# On 1 element

In [4]:
name1 <- 'VN Pikachu'

name2 <- 'Tank Cao'

In [5]:
str_sub(name1, 3, 5)

[1] " Pi"

In [6]:
str_sub(name2, 2, 7)

[1] "ank Ca"

# On a vector

The above can be done by vectorizing:

In [7]:
name <- c(name1, name2)
#This mean
#slice the first element from 3 to 5
#slice the second element from 2 to 7
#and so on....
str_sub(name, start = c(3, 2), end = c(5, 7))

[1] " Pi"    "ank Ca"

if we pass a single value to `start` or `end`, it will be broadcast to the length of the input. In this case, the input is a vector of 2 elements, so if we past a single value `v`, it will automatically be broadcasted to `c(v, v)`

In [8]:
#slice the first element from 1 to  5
#slice the second element from 1 to 7
str_sub(name, start = 1, end = c(5, 7))
#Equivalent
str_sub(name, start = c(1, 1), end = c(5, 7))

[1] "VN Pi"   "Tank Ca"

[1] "VN Pi"   "Tank Ca"

In [9]:
#slice the first element from 3 to 6
#slice the second element from 3 to 6
str_sub(name, start = 3, end = 6)
#equivalent
str_sub(name, start = c(3, 3), end = c(6, 6))

[1] " Pik" "nk C"

[1] " Pik" "nk C"

If we use a single string, but pass n values to `start` or `end`, then the string will be repeated n times

In [13]:
'123456789' %>% str_sub(c(1, 2, 3, 4), c(2, 3, 4, 5))

#equivalent
rep('123456789', 4) %>% str_sub(c(1, 2, 3, 4), c(2, 3, 4, 5))

[1] "12" "23" "34" "45"

[1] "12" "23" "34" "45"