In [2]:
library(lubridate)

# Create or parse a period object

A ‘period’ is a timespan defined in civil time (human) units like years, months, and days.

**`period()`** creates or parses a period object with the specified values

```r
period(num = NULL, units = "second", ...)

is.period(x)

seconds(x = 1)

minutes(x = 1)

hours(x = 1)

days(x = 1)

weeks(x = 1)

years(x = 1)

milliseconds(x = 1)

microseconds(x = 1)

nanoseconds(x = 1)

picoseconds(x = 1)

# S3 method for numeric
months(x, abbreviate)
```

### Value

a period object

### Details

Within a Period object, time units do not have a fixed length (except for seconds) until they are added to a date-time. The length of each time unit will depend on the date-time to which it is added. For example, a year that begins on 2009-01-01 will be 365 days long. A year that begins on 2012-01-01 will be 366 days long. When math is performed with a period object, each unit is applied separately. How the length of a period is distributed among its units is non-trivial. For example, when leap seconds occur 1 minute is longer than 60 seconds.

Periods track the change in the "clock time" between two date-times. They are measured in common time related units: years, months, days, hours, minutes, and seconds. Each unit except for seconds must be expressed in integer values.

Besides the main constructor and parser `period()`, period objects can also be created with the specialized functions `years()`, `months()`, `weeks()`, `days()`, `hours()`, `minutes()`, and `seconds()`. These objects can be added to and subtracted to date-times to create a user interface similar to object oriented programming.

Note: Arithmetic with periods can result in undefined behavior when non-existent dates are involved (such as February 29th in non-leap years). Please see Period for more details and `%m+%` and `add_with_rollback()` for alternative operations.

### Examples

One unit:

In [7]:
period(1, 'year')

period(year = 1)

years(1)

[1] "1y 0m 0d 0H 0M 0S"

[1] "1y 0m 0d 0H 0M 0S"

[1] "1y 0m 0d 0H 0M 0S"

In [8]:
period(-1, 'hour')

period(hour = -1)

hours(-1)

[1] "-1H 0M 0S"

[1] "-1H 0M 0S"

[1] "-1H 0M 0S"

<hr>

Multiple units:

In [10]:
minutes(5) + seconds(90)
period(c(5, 90), c('minutes', 'seconds'))

period(minutes = 5, seconds = 90)

[1] "5M 90S"

[1] "5M 90S"

[1] "5M 90S"

In [12]:
weeks(1) + days(13) + hours(2) + minutes(1) + seconds(3)

period(c(3, 1, 2, 13, 1), c("second", "minute", "hour", "day", "week"))

period(week = 1, day = 13, hour = 2, minute = 1, second = 3)

[1] "20d 2H 1M 3S"

[1] "20d 2H 1M 3S"

[1] "20d 2H 1M 3S"

In [13]:
period(hours = -1, minutes = 60)

[1] "-1H 60M 0S"

<hr>

Lubridate style parsing

In [15]:
period('2min 1sec')

[1] "2M 1S"

In [17]:
period('2M 1S')

[1] "2M 1S"

In [18]:
period('3 days 5 hours 20 minutes 1 second')

[1] "3d 5H 20M 1S"

In [19]:
period('2 days, 1 hour, 11 minutes, 20 seconds')

[1] "2d 1H 11M 20S"

<hr>
ISO 8601 parsing

In [21]:
period("P10M23DT23H") # M stands for months

period("10DT10M") # M stands for minutes

period("P3Y6M4DT12H30M5S") # M for both minutes and months

period("P23DT60H 20min 100 sec") # mixing ISO and lubridate style parsing

[1] "10m 23d 23H 0M 0S"

[1] "10d 0H 10M 0S"

[1] "3y 6m 4d 12H 30M 5S"

[1] "23d 60H 20M 100S"

<hr>

Elementary constructor:

In [24]:
# period preserve time, increase month by 1
ymd_hms('2001/10/06 20:39:28') + months(1)

# duration does not preserve time, when adding 1 month
ymd_hms('2001/10/06 20:39:28') + dmonths(1)

[1] "2001-11-06 20:39:28 UTC"

[1] "2001-11-06 07:09:28 UTC"

In [26]:
# retain date class
res <- ymd('2001-10-06') + days(7)

res

class(res)

[1] "2001-10-13"

[1] "Date"

In [27]:
# convert date to POSIX when adding hours, minutes, seconds, ... to Date class
res <- ymd('2001-10-06') + hours(5) + seconds(3)

res

class(res)

[1] "2001-10-06 05:00:03 UTC"

[1] "POSIXct" "POSIXt"

<hr>sequencing

In [28]:
y <- ymd(090101) # "2009-01-01 CST"
y + months(1:12)

 [1] "2009-02-01" "2009-03-01" "2009-04-01" "2009-05-01" "2009-06-01"
 [6] "2009-07-01" "2009-08-01" "2009-09-01" "2009-10-01" "2009-11-01"
[11] "2009-12-01" "2010-01-01"

<hr>compare DST handling to durations

In [30]:
boundary <- ymd_hms("2009-03-08 01:59:59", tz="America/Chicago")

boundary + days(1) # period: preseve time

boundary + ddays(1) # duration: might not preverse time

[1] "2009-03-09 01:59:59 CDT"

[1] "2009-03-09 02:59:59 CDT"

# Is x a period object?

In [32]:
is.period(as.Date('2010/10/10'))

[1] FALSE

In [33]:
is.period(days(3))

[1] TRUE

In [34]:
is.period(period(3, 'days'))

[1] TRUE

# Change an object to a period

**`as.period`** changes Interval, Duration, difftime and numeric class objects to Period class objects with the specified units

```r
as.period(x, unit, ...)
```
**Arguments**   
`x`	
an interval, difftime, or numeric object

`unit`	
A character string that specifies which time units to build period in. unit is only implemented for the as.period.numeric method and the as.period.interval method. For as.period.interval, as.period will convert intervals to units no larger than the specified unit.

`...`	
additional arguments to pass to as.period

### Value

a period object

### Details

Users must specify which time units to measure the period in. The exact length of each time unit in a period will depend on when it occurs. See Period and `period()`. The choice of units is not trivial; units that are normally equal may differ in length depending on when the time period occurs. For example, when a leap second occurs one minute is longer than 60 seconds.

Because periods do not have a fixed length, they can not be accurately converted to and from Duration objects. Duration objects measure time spans in exact numbers of seconds, see Duration. Hence, a one to one mapping does not exist between durations and periods. When used with a Duration object, `as.period` provides an inexact estimate; the duration is broken into time units based on the most common lengths of time units, in seconds. Because the length of months are particularly variable, a period with a months unit can not be coerced from a duration object. For an exact transformation, first transform the duration to an interval with `as.interval()`.

Coercing an interval to a period may cause surprising behavior if you request periods with small units. A leap year is 366 days long, but one year long. Such an interval will convert to 366 days when unit is set to days and 1 year when unit is set to years. Adding 366 days to a date will often give a different result than adding one year. Daylight savings is the one exception where this does not apply. Interval lengths are calculated on the UTC timeline, which does not use daylight savings. Hence, periods converted with seconds or minutes will not reflect the actual variation in seconds and minutes that occurs due to daylight savings. These periods will show the "naive" change in seconds and minutes that is suggested by the differences in clock time. See the examples below.

### Examples

In [38]:
span <- interval(ymd_hms("2009-01-01 00:00:00"), ymd_hms("2010-02-02 01:01:01")) #interval

as.period(span) 

as.period(span, unit = 'day')

[1] "1y 1m 1d 1H 1M 1S"

[1] "397d 1H 1M 1S"

In [40]:
leap <- interval(ymd("2016-01-01"), ymd("2017-01-01"))

as.period(leap, unit = "days")

as.period(leap, unit = 'years')

[1] "366d 0H 0M 0S"

[1] "1y 0m 0d 0H 0M 0S"

In [43]:
dst <- interval(ymd("2016-11-06", tz = "America/Chicago"), ymd("2016-11-07", tz = "America/Chicago"))

as.period(dst, unit = "seconds")

# daily saving times, 25 hours a day
as.period(dst, unit = 'hours')

[1] "90000S"

[1] "25H 0M 0S"

In [45]:
x <- period(hours = 1, minutes = 10)

as.numeric(x)

[1] 4200

In [47]:
# 1 hour 10 minutes is approximately 1.16666 hour
as.numeric(x, 'hours')

[1] 1.166667

In [48]:
as.numeric(x, 'minutes')

[1] 70