In [3]:
library(lubridate)

# Add and subtract months to a date without exceeding the last day of the new month

Adding months frustrates basic arithmetic because consecutive months have different lengths. With other elements, it is helpful for arithmetic to perform automatic roll over. For example, 12:00:00 + 61 seconds becomes 12:01:01. However, people often prefer that this behavior NOT occur with months. For example, we sometimes want January 31 + 1 month = February 28 and not March 3. `%m+%` performs this type of arithmetic. Date `%m+%` months(n) always returns a date in the nth month after Date. If the new date would usually spill over into the n + 1th month, `%m+%` will return the last day of the nth month (`rollback()`). Date `%m-%` months(n) always returns a date in the nth month before Date.

```r
e1 %m+% e2

add_with_rollback(e1, e2, roll_to_first = FALSE, preserve_hms = TRUE)
```

# Details

`%m+%` and `%m-%` handle periods with components less than a month by first adding/subtracting months and then performing usual arithmetics with smaller units.

`%m+%` and `%m-%` should be used with caution as they are not one-to-one operations and results for either will be sensitive to the order of operations.

# Examples

In [17]:
jan <- ymd_hms("2010-01-31 03:04:05")

jan %m+% months(1:3)
# equivalent
add_with_rollback(jan, months(1:3))

# compare without rolling

jan + months(1:3)    # date 2010-02-31, 2010-04-31 is invalid.  January and April only have 30 days

[1] "2010-02-28 03:04:05 UTC" "2010-03-31 03:04:05 UTC"
[3] "2010-04-30 03:04:05 UTC"

[1] "2010-02-28 03:04:05 UTC" "2010-03-31 03:04:05 UTC"
[3] "2010-04-30 03:04:05 UTC"

[1] NA                        "2010-03-31 03:04:05 UTC"
[3] NA

In [19]:
leap <- ymd("2012-02-29")

leap %m+% years(1)
# equivalent
add_with_rollback(leap, years(1))

# compare without rolling
leap + years(1)   # date 2013-02-29 is an invalid date, only leap year, February has 29 days

[1] "2013-02-28"

[1] "2013-02-28"

[1] NA

In [16]:
leap %m-% years(1)

#equivalent
leap %m+% years(-1)

#equivalent
add_with_rollback(leap, years(-1))

# compare without rolling

leap - years(1)  # date 2011-02-29 is invalid

[1] "2011-02-28"

[1] "2011-02-28"

[1] "2011-02-28"

[1] NA

In [21]:
x <- ymd_hms("2019-01-29 01:02:03")

add_with_rollback(x, months(1))

[1] "2019-02-28 01:02:03 UTC"

In [22]:
add_with_rollback(x, months(1), preserve_hms = T) # default preserve_hms = T

[1] "2019-02-28 01:02:03 UTC"

In [23]:
add_with_rollback(x, months(1), preserve_hms = F) # do not preserve hsm, change to 00:00:00

[1] "2019-02-28 UTC"

In [26]:
add_with_rollback(x, months(1), roll_to_first = F) # default, change from January 29 to February 28

[1] "2019-02-28 01:02:03 UTC"

In [27]:
add_with_rollback(x, months(1), roll_to_first = T)  # change from January 29 to February 28

[1] "2019-03-01 01:02:03 UTC"