In [3]:
library(tidyverse)

# Locate the position of patterns in a string

```r
str_locate(string, pattern)     # re.search(pattern, string).span()

str_locate_all(string, pattern) # Match.span() for Match in re.finditer(pattern, string) 
```

# Examples

In [4]:
'VN Pikachu' %>% str_locate('\\w+')

     start end
[1,] 1     2

In [5]:
'VN Pikachu' %>% str_locate_all('\\w+')

[[1]]
     start end
[1,]     1   2
[2,]     4  10

Vectorize

In [7]:
players <- c('VN Pikachu', 'Meomeo888', 'soso-777-', 'VNC Son La TF', 'VN Wanie')

In [8]:
# Return a matrix
players %>% str_locate('\\w+')

     start end
[1,] 1     2
[2,] 1     9
[3,] 1     4
[4,] 1     3
[5,] 1     2

In [9]:
# return a list of matrix
players %>% str_locate_all('\\w+')

[[1]]
     start end
[1,]     1   2
[2,]     4  10

[[2]]
     start end
[1,]     1   9

[[3]]
     start end
[1,]     1   4
[2,]     6   8

[[4]]
     start end
[1,]     1   3
[2,]     5   7
[3,]     9  10
[4,]    12  13

[[5]]
     start end
[1,]     1   2
[2,]     4   8

You can use **`str_locate()`** to find the matching pattern, **`str_sub()`** to extract and/or modify them.

In [4]:
player <- 'Pikachu level 31'

location <- player %>% str_locate('\\d+')

location

     start end
[1,] 15    16

In [8]:
# extract match from location by using `str_sub`
player %>% str_sub(location)

[1] "31"

In [9]:
# replace
str_sub(player, location) <- 'thirty one'

player

[1] "Pikachu level thirty one"