In [3]:
library(tidyverse)

# Replace matched patterns in a string

```r
str_replace(string, pattern, replacement)      # re.sub(pattern, replacement, string, count = 1)

str_replace_all(string, pattern, replacement)  # re.sub(pattern, replacement, string)
```

**Arguments**  
`replacement`	
A character vector of replacements. Should be either length one, or the same length as string or pattern. References of the form `\1`, `\2`, etc will be replaced with the contents of the respective matched group (created by `()`).

To perform multiple replacements in each element of string, pass a named vector `(c(pattern1 = replacement1))` to `str_replace_all`. Alternatively, pass a function to replacement: it will be called once for each match and its return value will be used to replace the match.

To replace the complete string with NA, use replacement = NA_character_.

# Examples

In [4]:
fruits <- c("one apple", "two pears", "three bananas")

In [5]:
fruits %>% str_replace('[aeiou]', '-')

[1] "-ne apple"     "tw- pears"     "thr-e bananas"

In [6]:
fruits %>% str_replace_all('[aeiou]', '-')

[1] "-n- -ppl-"     "tw- p--rs"     "thr-- b-n-n-s"

In [15]:
#replace the complete string with NA
fruits %>% str_replace('b', NA_character_)

[1] "one apple" "two pears" NA

In [18]:
fruits %>% str_replace_all('[aeiou]', '')

[1] "n ppl"    "tw prs"   "thr bnns"

In [17]:
#Back reference
str_replace(fruits, "([aeiou])", "\\1\\1")

[1] "oone apple"     "twoo pears"     "threee bananas"

In [7]:
#using a function to replace
decorate <- function(match) paste0('(', match, ')')

fruits %>% str_replace_all('[aeiou]', decorate)

[1] "(o)n(e) (a)ppl(e)"       "tw(o) p(e)(a)rs"
[3] "thr(e)(e) b(a)n(a)n(a)s"

In [11]:
# If you want to apply multiple patterns and replacements to the same
# string, pass a named vector to pattern.

'one apple 6666' %>% str_replace_all(c('[aeiou]' = '-', '\\d' = '?'))

[1] "-n- -ppl- ????"

In [13]:
#This one is diffrent, repeat input string 2 times then broadcast
'one apple 666' %>% str_replace_all(c('[aeiou]', '\\d'), c('-', '?'))

[1] "-n- -ppl- 666" "one apple ???"