In [1]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"Warning message:
"package 'stringr' was built under R version 3.6.3"Warning message:
"package 'forcats' was built under R version 3.6.3"-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Complete a data frame with missing combinations

Turns implicit missing values into explicit missing values. This is a wrapper around expand(), dplyr::left_join() and replace_na() that's useful for completing missing combinations of data.

```r
complete(data, ..., fill = list())
```

# Examples

In [2]:
df <- tibble(
  group = c(1:2, 1),
  item_id = c(1:2, 2),
  item_name = c("a", "b", "b"),
  value1 = 1:3,
  value2 = 4:6
)

df

  group item_id item_name value1 value2
1 1     1       a         1      4
2 2     2       b         2      5
3 1     2       b         3      6

group = 1 has:

item_id | item_name
1         a
2         b


we expect group = 2 has them same as above

item_id | item_name
1         a
2         b

In [3]:
# expand only return the selected expanded columns
df %>% expand(group, nesting(item_id, item_name))

  group item_id item_name
1 1     1       a
2 1     2       b
3 2     1       a
4 2     2       b

In [4]:
# complete return dataframe with expaned columns
df %>% complete(group, nesting(item_id, item_name))

  group item_id item_name value1 value2
1 1     1       a          1      4
2 1     2       b          3      6
3 2     1       a         NA     NA
4 2     2       b          2      5

In [5]:
#equivalent to:
df %>% expand(item_id, item_name)

  item_id item_name
1 1       a
2 1       b
3 2       a
4 2       b

In [6]:
# You can also choose to fill in missing values

# fill missing value in column `value1` with 0 and column `value2` with -1
df %>% complete(group, nesting(item_id, item_name), fill = list(value1 = 0, value2 = -1))

  group item_id item_name value1 value2
1 1     1       a         1       4
2 1     2       b         3       6
3 2     1       a         0      -1
4 2     2       b         2       5