In [3]:
library(tidyverse)

# Drop rows containing missing values

```r
drop_na(data, ...)
```

# Examples

In [4]:
df <- tibble(x = c(1, 2, NA), y = c("a", NA, "b"))

df

  x  y
1  1 a
2  2 NA
3 NA b

In [5]:
#drop rows if having NA
df %>% drop_na()

  x y
1 1 a

In [6]:
#drop rows if column y contain NA

df %>% drop_na(y)

  x  y
1  1 a
2 NA b

In [8]:
vars <- c('q', 'k', 'y')

df %>% drop_na(any_of(vars))

  x  y
1  1 a
2 NA b