In [3]:
library(tidyverse)

# Expand data frame to include all possible combinations of values

`expand()` generates all combination of variables found in a dataset. It is paired with `nesting()` and `crossing()` helpers. `crossing()` is a wrapper around `expand_grid()` that de-duplicates and sorts its inputs; `nesting()` is a helper that only finds combinations already present in the data.

**`expand()`** is often useful in conjunction with joins:

* use it with `right_join()` to convert implicit missing values to explicit missing values (e.g., fill in gaps in your data frame).

* use it with `anti_join()` to figure out which combinations are missing (e.g., identify gaps in your data frame).

```r
expand(data, ..., .name_repair = "check_unique")

crossing(..., .name_repair = "check_unique")

nesting(..., .name_repair = "check_unique")
```

# Examples

In [4]:
fruits <- tibble(
  type   = c("apple", "orange", "apple", "orange", "orange", "orange"),
  year   = c(2010, 2010, 2012, 2010, 2010, 2012),
  size  =  factor(
    c("XS", "S",  "M", "S", "S", "M"),
    levels = c("XS", "S", "M", "L")
  ),
  weights = rnorm(6, as.numeric(size) + 2)
)

fruits

  type   year size weights
1 apple  2010 XS   3.807436
2 orange 2010 S    4.212495
3 apple  2012 M    3.103962
4 orange 2010 S    3.551894
5 orange 2010 S    1.831740
6 orange 2012 M    3.623320

In [6]:
# All possible combinations ---------------------------------------
# Note that all defined, but not necessarily present, levels of the
# factor variable `size` are retained.

fruits %>% expand(type)

  type
1 apple
2 orange

In [12]:
#create by product of unique values from 2 columns
#e.g: if `type` has 2 unique value 1, 2
#e.:     `size` has 2 unique value 3, 4
#Then the result is (1, 3), (1, 4), (2, 3), (2, 4)

#Think of: itertools.product(fruits['type'], fruits['size'])

fruits %>% expand(type, size)

  type   size
1 apple  XS
2 apple  S
3 apple  M
4 apple  L
5 orange XS
6 orange S
7 orange M
8 orange L

In [8]:
fruits %>% expand(type, size, year)

   type   size year
1  apple  XS   2010
2  apple  XS   2012
3  apple  S    2010
4  apple  S    2012
5  apple  M    2010
6  apple  M    2012
7  apple  L    2010
8  apple  L    2012
9  orange XS   2010
10 orange XS   2012
11 orange S    2010
12 orange S    2012
13 orange M    2010
14 orange M    2012
15 orange L    2010
16 orange L    2012

In [9]:
# Only combinations that already appear in the data ---------------
fruits %>% expand(nesting(type))

  type
1 apple
2 orange

In [13]:

fruits %>% expand(nesting(type, size))

  type   size
1 apple  XS
2 apple  M
3 orange S
4 orange M

In [15]:
#think of using count
fruits %>% count(type, size)

  type   size n
1 apple  XS   1
2 apple  M    1
3 orange S    3
4 orange M    1

In [16]:
fruits %>% expand(nesting(type, size, year))

  type   size year
1 apple  XS   2010
2 apple  M    2012
3 orange S    2010
4 orange M    2012

In [18]:
# Other uses -------------------------------------------------------
# Use with `full_seq()` to fill in values of continuous variables


#intertools.product(fruits['type'], fruits['size'], full_seq(fruits['year'], 1))
fruits %>% expand(type, size, full_seq(year, 1))

   type   size full_seq(year, 1)
1  apple  XS   2010
2  apple  XS   2011
3  apple  XS   2012
4  apple  S    2010
5  apple  S    2011
6  apple  S    2012
7  apple  M    2010
8  apple  M    2011
9  apple  M    2012
10 apple  L    2010
11 apple  L    2011
12 apple  L    2012
13 orange XS   2010
14 orange XS   2011
15 orange XS   2012
16 orange S    2010
17 orange S    2011
18 orange S    2012
19 orange M    2010
20 orange M    2011
21 orange M    2012
22 orange L    2010
23 orange L    2011
24 orange L    2012

In [19]:
# Use `anti_join()` to determine which observations are missing

In [23]:
all <- fruits %>% expand(type, size, year) 

all  %>% anti_join(fruits)

Joining, by = c("type", "size", "year")

   type   size year
1  apple  XS   2012
2  apple  S    2010
3  apple  S    2012
4  apple  M    2010
5  apple  L    2010
6  apple  L    2012
7  orange XS   2010
8  orange XS   2012
9  orange S    2012
10 orange M    2010
11 orange L    2010
12 orange L    2012

In [24]:
# Use with `right_join()` to fill in missing rows
fruits %>% dplyr::right_join(all)

Joining, by = c("type", "year", "size")

   type   year size weights
1  apple  2010 XS   3.807436
2  orange 2010 S    4.212495
3  apple  2012 M    3.103962
4  orange 2010 S    3.551894
5  orange 2010 S    1.831740
6  orange 2012 M    3.623320
7  apple  2012 XS         NA
8  apple  2010 S          NA
9  apple  2012 S          NA
10 apple  2010 M          NA
11 apple  2010 L          NA
12 apple  2012 L          NA
13 orange 2010 XS         NA
14 orange 2012 XS         NA
15 orange 2012 S          NA
16 orange 2010 M          NA
17 orange 2010 L          NA
18 orange 2012 L          NA