In [3]:
library(tidyverse)

# Create a tibble from all combinations of inputs

Create a tibble from all combinations of inputs

```r
expand_grid(..., .name_repair = "check_unique")
```

# Examples

**`...`**	
Name-value pairs. The name will become the column name in the output.

In [4]:
expand_grid(x = 1:2, y = 1:3)

  x y
1 1 1
2 1 2
3 1 3
4 2 1
5 2 2
6 2 3

In [6]:
# Can also expand data frames
df <- data.frame(x = 1:2, y = c(2, 1))

df

  x y
1 1 2
2 2 1

In [9]:
#Understand how it works, thick of a dataframe as a vector in which each row is a value
expand_grid(df, b = 1:3)

  x y b
1 1 2 1
2 1 2 2
3 1 2 3
4 2 1 1
5 2 1 2
6 2 1 3

In [13]:
df1 <- data.frame(a = c(0, 1), b = c(0, 1))
df2 <- data.frame(m = c(2, 3), n = c(2, 3))

df1

  a b
1 0 0
2 1 1

In [14]:
df2

  m n
1 2 2
2 3 3

In [15]:
expand_grid(df1, df2)

  a b m n
1 0 0 2 2
2 0 0 3 3
3 1 1 2 2
4 1 1 3 3