In [2]:
library(tidyverse)

# Fill in missing values with previous or next value

Fills missing values in selected columns using the next or previous entry. This is useful in the common output format where values are not repeated, and are only recorded when they change.

```r
fill(data, ..., .direction = c("down", "up", "downup", "updown"))
```

# Examples

think of `foward fill` and `backward fill` in pandas

In [4]:
df <- data.frame(
    x = 1:5,
    y =  letters[1:5],
    z = c(2, NA, NA, NA, 3),
    t = c(NA, NA, NA, 5, 2)
)

df

  x y z  t
1 1 a  2 NA
2 2 b NA NA
3 3 c NA NA
4 4 d NA  5
5 5 e  3  2

In [5]:
#Fill NA values in column z with backward fill
df %>% fill(z, .direction = 'up')

  x y z t
1 1 a 2 NA
2 2 b 3 NA
3 3 c 3 NA
4 4 d 3  5
5 5 e 3  2

In [6]:
# tidy-select, fill every column
df %>% fill(everything(), .direction = 'up')

  x y z t
1 1 a 2 5
2 2 b 3 5
3 3 c 3 5
4 4 d 3 5
5 5 e 3 2

In [19]:
#fill NA in column z with forward fill
df %>% fill(z, .direction = 'down')

  x y z t
1 1 a 2 NA
2 2 b 2 NA
3 3 c 2 NA
4 4 d 2  5
5 5 e 3  2

In [20]:
#first down then up
df %>% fill(z, .direction = 'downup')

  x y z t
1 1 a 2 NA
2 2 b 2 NA
3 3 c 2 NA
4 4 d 2  5
5 5 e 3  2

In [21]:
#first up then down
df %>% fill(z, .direction = 'updown')

  x y z t
1 1 a 2 NA
2 2 b 3 NA
3 3 c 3 NA
4 4 d 3  5
5 5 e 3  2