In [3]:
library(tidyverse)

# Replace NAs with specified values

```r
replace_na(data, replace, ...)
```

# Examples

Replace NA in a vector

In [1]:
v <- c('VN Pikachu', NA, 'Tank Cao', 'Meomeo')
v

[1] "VN Pikachu" NA           "Tank Cao"   "Meomeo"

In [4]:
v %>% replace_na('unknown')

[1] "VN Pikachu" "unknown"    "Tank Cao"   "Meomeo"

replace NA in a data frame, `replace` is a list

In [14]:
df <- data.frame(
    name = c('GHOST', NA),
    clan = c(NA, 'VN Pikachu'),
    level = c(NA, NA),
    stringsAsFactors = F
)

df

  name  clan       level
1 GHOST NA         NA
2 NA    VN Pikachu NA

In [15]:
#replace every NA in data frame with 'Unknown'
df %>% replace_na(list(name = 'unknown', clan = 'missing', level = -1))

  name    clan       level
1 GHOST   missing    -1
2 unknown VN Pikachu -1

In [17]:
# Replace NULLs in a list: NULLs are the list-col equivalent of NAs
df_list <- tibble(z = list(1:5, NULL, 10:20))

df_list

  z
1 1, 2, 3, 4, 5
2 NULL
3 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

In [18]:
df_list %>% replace_na(list(z = list(5)))

  z
1 1, 2, 3, 4, 5
2 5
3 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20