In [2]:
library(tidyverse)

# Find first non-missing element

Given a set of vectors, **`coalesce()`** finds the first non-missing value at each position. This is inspired by the SQL COALESCE function which does the same thing for NULLs.

```r
coalesce(...)
```

# Examples

This function works like **`combine_first()`** in Python

In [4]:
y <- c(1, 2, NA, NA, 5)
z <- c(NA, NA, 3, 4, 10)

coalesce(y, z)

coalesce(z, y)

[1] 1 2 3 4 5

[1]  1  2  3  4 10

In [5]:
x <- sample(c(1:5, NA, NA, NA))
x

[1]  5 NA  3  4 NA  2 NA  1

In [9]:
## Replace missing value with 0
coalesce(x, 0L)

[1] 5 0 3 4 0 2 0 1