In [2]:
library(tidyverse)

# Context dependent expressions

These functions return information about the "current" group or "current" variable, so only work inside specific contexts like `summarise()` and `mutate()`

* **`n()`** gives the current group size.

* **`cur_data()`** gives the current data for the current group (excluding grouping variables).

* **`cur_data_all()`** gives the current data for the current group (including grouping variables)

* **`cur_group()`** gives the group keys, a tibble with one row and one column for each grouping variable.

* **`cur_group_id()`** gives a unique numeric identifier for the current group.

* **`cur_group_rows()`** gives the row indices for the current group.

* **`cur_column()`** gives the name of the current column (in across() only).

# Examples

In [4]:
TF <- data.frame(
    clan = c('VNC', 'King Allool', 'King Allool', 'VNC', 'King Allool'),
    player = c('Meomeo888', 'GHOST', 'Dr Strange', 'quachtinh', 'LEXUS')
)

TF

  clan        player
1 VNC         Meomeo888
2 King Allool GHOST
3 King Allool Dr Strange
4 VNC         quachtinh
5 King Allool LEXUS

In [5]:
#The number of rows for each group
TF %>%
group_by(clan) %>% summarize(n = n())

# grouping metadata
TF %>% 
group_by(clan) %>% group_size()

`summarise()` ungrouping output (override with `.groups` argument)

  clan        n
1 King Allool 3
2 VNC         2

[1] 3 2

In [8]:
TF %>%
group_by(clan) %>% mutate(id = cur_group_id())

# grouping metadata

TF %>% group_by(clan) %>% group_indices()

  clan        player     id
1 VNC         Meomeo888  2
2 King Allool GHOST      1
3 King Allool Dr Strange 1
4 VNC         quachtinh  2
5 King Allool LEXUS      1

[1] 2 1 1 2 1

In [7]:
TF %>%
group_by(clan) %>%
summarize(row = cur_group_rows())

# Grouping metadata
TF %>% group_by(clan) %>% group_rows()

`summarise()` regrouping output by 'clan' (override with `.groups` argument)

  clan        row
1 King Allool 2
2 King Allool 3
3 King Allool 5
4 VNC         1
5 VNC         4

<list_of<integer>[2]>
[[1]]
[1] 2 3 5

[[2]]
[1] 1 4

In [10]:
TF %>%
group_by(clan) %>%
summarize(data = list(cur_group()))

`summarise()` ungrouping output (override with `.groups` argument)

  clan        data
1 King Allool 1
2 VNC         2

In [11]:
TF %>%
group_by(clan) %>%
summarize(data = list(cur_data()))

# grouping metadata

TF %>% group_by(clan) %>% group_data()

`summarise()` ungrouping output (override with `.groups` argument)

  clan        data
1 King Allool 2, 1, 3
2 VNC         4, 5

  clan        .rows
1 King Allool 2, 3, 5
2 VNC         1, 4

In [14]:
TF %>%
group_by(clan) %>%
summarize(data = list(cur_data_all()))

`summarise()` ungrouping output (override with `.groups` argument)

  clan        data
1 King Allool 1, 1, 1, 4, 3, 5
2 VNC         2, 2, 6, 7