In [5]:
library(tidyverse)

# Compute lagged or leading values

Find the "previous" (`lag()`) or "next" (`lead()`) values in a vector. Useful for comparing values behind of or ahead of the current values.

```r
lag(x, n = 1L, default = NA, order_by = NULL, ...)

lead(x, n = 1L, default = NA, order_by = NULL, ...)
```

# Examples

In [6]:
lag(1:5)

[1] NA  1  2  3  4

In [8]:
lag(1:5, n = 2)

[1] NA NA  1  2  3

In [10]:
#default value for <NA> to -1
lag(1:5, n = 2, default = -1)

[1] -1 -1  1  2  3

In [7]:
lead(1:5)

[1]  2  3  4  5 NA

In [9]:
lead(1:5, n = 3)

[1]  4  5 NA NA NA

If data are not already ordered, use `order_by`

In [17]:
scrambled <- slice_sample(tibble(year = 2000:2005, value = (0:5) ^ 2), prop = 1)
scrambled

  year value
1 2005 25
2 2001  1
3 2002  4
4 2004 16
5 2000  0
6 2003  9

In [18]:
#The wrong way
wrong <- mutate(scrambled, previous_year_value = lag(value))
arrange(wrong, year)

  year value previous_year_value
1 2000  0    16
2 2001  1    25
3 2002  4     1
4 2003  9     0
5 2004 16     4
6 2005 25    NA

In [16]:
#The right way

  year value previous_year_value
1 2000  0    NA
2 2001  1     0
3 2002  4     1
4 2003  9     4
5 2004 16     9
6 2005 25    16

In [19]:
right <- mutate(scrambled, previous_year_value = lag(value, order_by = year))
arrange(right, year)

  year value previous_year_value
1 2000  0    NA
2 2001  1     0
3 2002  4     1
4 2003  9     4
5 2004 16     9
6 2005 25    16