In [2]:
library(tidyverse)

# Convert values to NA

This is a translation of the SQL command NULLIF. It is useful if you want to convert an annoying value to NA.

```r
na_if(x, y)
```

**Arguments**   
`x`	
Vector to modify  
`y`	
Value to replace with NA

# Examples

`ifelse(x == y, NA, x)`

In [4]:
y <- c("abc", "def", "", "ghi")
#tufn '' to NA
na_if(y, '')

[1] "abc" "def" NA    "ghi"

In [7]:
na_if(1:5, 5:1)

[1]  1  2 NA  4  5