In [2]:
library(tidyverse)

# Extract the first, last or nth value from a vector

These are straightforward wrappers around [[. The main advantage is that you can provide an optional secondary vector that defines the ordering, and provide a default value to use when the input is shorter than expected.

```r
nth(x, n, order_by = NULL, default = default_missing(x))

first(x, order_by = NULL, default = default_missing(x))

last(x, order_by = NULL, default = default_missing(x))
```

# Examples

In [ ]:
x <- c('VN Pikachu', 'Tank Cao', 'Meomeo888')
y <- c(3, 1, 2)

In [ ]:
first(x)

In [ ]:
last(x)

In [ ]:
nth(x, 2)

In [ ]:
# default value when index out of range
x %>% nth(10, default = '<missing>')

In [ ]:
#Get the last value
nth(x, -1)

In [ ]:
#get the second last value
nth(x, -2)

In [ ]:
#Order by y, so internally, x will looks like: x <- c('Tank Cao', 'Meomeo888', 'VN Pikchu')
first(x, order_by = y)