In [3]:
library(tidyverse)

# A helper function for ordering window function output

This function makes it possible to control the ordering of window functions in R that don't have a specific ordering parameter. When translated to SQL it will modify the order clause of the OVER function.

```r
order_by(order_by, call)
```

**Arguments**   
`order_by`	
a vector to order_by

`call`	
a function call to a window function, where the first argument is the vector being operated on

# Examples

In [7]:
df <- data.frame(year = 2000:2005, value = (0:5) ^ 2)
scrambled <- df[sample(nrow(df)), ]

scrambled

  year value
5 2004 16
4 2003  9
1 2000  0
6 2005 25
2 2001  1
3 2002  4

In [9]:
#Wrong way
wrong <- mutate(scrambled, running = cumsum(value))
wrong

  year value running
1 2004 16    16
2 2003  9    25
3 2000  0    25
4 2005 25    50
5 2001  1    51
6 2002  4    55

In [10]:
#Right way
right <- mutate(scrambled, running = order_by(year, cumsum(value)))
arrange(right, year)

  year value running
1 2000  0     0
2 2001  1     1
3 2002  4     5
4 2003  9    14
5 2004 16    30
6 2005 25    55