In [3]:
library(tidyverse)

# Recode values

This is a vectorised version of `switch()`: you can replace numeric values based on their position or their name, and character or factor values only by their name. This is an S3 generic: dplyr provides methods for numeric, character, and factors. For logical vectors, use `if_else()`. For more complicated criteria, use `case_when()`.

You can use `recode()` directly with factors; it will preserve the existing order of levels while changing the values. Alternatively, you can use `recode_factor()`, which will change the order of levels to match the order of replacements. See the forcats package for more tools for working with factors and their levels.

```r
recode(.x, ..., .default = NULL, .missing = NULL)

recode_factor(.x, ..., .default = NULL, .missing = NULL, .ordered = FALSE)
```

# Examples

In [5]:
# For character values, recode values with named arguments only. Unmatched
# values are unchanged.
char_vec <- sample(c("a", "b", "c"), 10, replace = TRUE)

char_vec

 [1] "c" "a" "b" "c" "b" "b" "a" "b" "b" "c"

In [7]:
recode(char_vec, 'a' = "Apple")

 [1] "c"     "Apple" "b"     "c"     "b"     "b"     "Apple" "b"     "b"
[10] "c"

In [8]:
recode(char_vec, 'a' = 'Apple', 'b' = 'Banana')

 [1] "c"      "Apple"  "Banana" "c"      "Banana" "Banana" "Apple"  "Banana"
 [9] "Banana" "c"

Use `.default` as replacement for unmatched values. Note that NA and
replacement values need to be of the same type.

In [9]:
#replace unmatched values with NA_character_
#NOTE: this will raise an error if we replace with NA, NA_logical_, NA_integer_, ....
recode(char_vec, 'a' = 'Apple', .default = NA_character_)

 [1] NA      "Apple" NA      NA      NA      NA      "Apple" NA      NA
[10] NA

In [11]:
#replace unmatched values with UKNOWN
recode(char_vec, 'a' = 'Apple', 'b' = 'Banana', .default = 'UKNOWN')

 [1] "UKNOWN" "Apple"  "Banana" "UKNOWN" "Banana" "Banana" "Apple"  "Banana"
 [9] "Banana" "UKNOWN"

In [12]:
# Use a named character vector for unquote splicing with !!!
level_key <- c(a = "apple", b = "banana", c = "carrot")
recode(char_vec, !!!level_key)

 [1] "carrot" "apple"  "banana" "carrot" "banana" "banana" "apple"  "banana"
 [9] "banana" "carrot"

In [14]:
recode(char_vec, !!!level_key)

 [1] "carrot" "apple"  "banana" "carrot" "banana" "banana" "apple"  "banana"
 [9] "banana" "carrot"

In [17]:
# For numeric values, named arguments can also be used
num_vec <- c(1:4, NA)
recode(num_vec, `2` = 20L, `4` = 40L)

[1]  1 20  3 40 NA

In [21]:
# Or if you don't name the arguments, recode() matches by position.
# (Only works for numeric vector)
recode(num_vec, "a", "b", "c", "d")
#This is equivalent to: recode(num_vec, `1` = 'a', `2` = 'b', `3`  = 'c', `4` = 'd')

[1] "a" "b" "c" "d" NA

In [23]:
recode(c(1,5,3), "a", "b", "c", "d", .default = 'missing')
#Equivalent: recode(c(1,5,3), `1` = 'a', `2` = 'b', `3` = 'c', `4` = 'd', .default = 'missing')

[1] "a"       "missing" "c"

Use `.missing` to replace missing values in .x (i.e value to replace NA)
Use `.default` to change the replacement value (i.e  default value for unmatched values)

In [25]:
num_vec

[1]  1  2  3  4 NA

In [26]:
#NA is missing value
recode(num_vec, "a", "b", "c", .default = "other", .missing = "missing")

[1] "a"       "b"       "c"       "other"   "missing"

In [27]:
# For factor values, use only named replacements
# and supply default with levels()
factor_vec <- factor(c("a", "b", "c"))
recode(factor_vec, a = "Apple", .default = levels(factor_vec))

[1] Apple b     c
Levels: Apple b c

In [28]:
# Use recode_factor() to create factors with levels ordered as they
# appear in the recode call. The levels in .default and .missing
# come last.
recode_factor(num_vec, `1` = "z", `2` = "y", `3` = "x")

Warning message:
"Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default"

[1] z    y    x    <NA> <NA>
Levels: z y x

In [30]:
num_vec

[1]  1  2  3  4 NA

In [29]:
recode_factor(num_vec, `1` = "z", `2` = "y", `3` = "x",
              .default = "D", .missing = "M")

[1] z y x D M
Levels: z y x D M

In [31]:
# When the input vector is a compatible vector (character vector or
# factor), it is reused as default.
recode_factor(letters[1:3], b = "z", c = "y")

[1] a z y
Levels: z y a

In [32]:
recode_factor(factor(letters[1:3]), b = "z", c = "y")

[1] a z y
Levels: z y a

In [33]:
# Use a named character vector to recode factors with unquote splicing.
level_key <- c(a = "apple", b = "banana", c = "carrot")
recode_factor(char_vec, !!!level_key)

 [1] carrot apple  banana carrot banana banana apple  banana banana carrot
Levels: apple banana carrot