In [2]:
library(tidyverse)

# Windowed Rank Function

Six variations on ranking functions, mimicking the ranking functions described in SQL2003. They are currently implemented using the built in rank function, and are provided mainly as a convenience when converting between R and SQL. All ranking functions map smallest inputs to smallest outputs. Use `desc()` to reverse the direction.

```R
row_number(x)

ntile(x = row_number(), n)

min_rank(x)

dense_rank(x)

percent_rank(x)

cume_dist(x)
```

**Arguments**  
`x`	
a vector of values to rank. Missing values are left as is. If you want to treat them as the smallest or largest values, replace with Inf or -Inf before ranking.

`n`	
number of groups to split up into

# Details


* **`row_number()`**: equivalent to `rank(ties.method = "first")`

* **`min_rank()`**: equivalent to `rank(ties.method = "min")`

* **`dense_rank()`**: like `min_rank()`, but with no gaps between ranks

* **`percent_rank()`**: a number between 0 and 1 computed by rescaling min_rank to [0, 1]

* **`cume_dist()`**: a cumulative distribution function. Proportion of all values less than or equal to the current rank.

* **`ntile()`**: a rough rank, which breaks the input vector into n buckets. The size of the buckets may differ by up to one, larger buckets have lower rank.

# Examples

In [3]:
x <- c(1, 2, 2, 3, 5, NA)
x

[1]  1  2  2  3  5 NA

In [4]:
row_number(x)                    #dplyr, NA is left as it is

rank(x, ties.method = 'first')  #base, notice <NA> has rank 6

[1]  1  2  3  4  5 NA

[1] 1 2 3 4 5 6

In [5]:
min_rank(x)

[1]  1  2  2  4  5 NA

In [6]:
dense_rank(x)

[1]  1  2  2  3  4 NA

In [7]:
percent_rank(x)

[1] 0.00 0.25 0.25 0.75 1.00   NA

In [8]:
cume_dist(x)

[1] 0.2 0.6 0.6 0.8 1.0  NA

In [9]:
#Using 2 buckets
ntile(x, n = 2)

[1]  1  1  1  2  2 NA

row_number can be used with single table verbs without specifying x
(for data frames and databases that support windowing)

In [20]:

mutate(mtcars, is_min_rank_equal_1 = row_number() == 1L)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb is_min_rank_equal_1
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4     TRUE
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    FALSE
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    FALSE
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    FALSE
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    FALSE
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    FALSE
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    FALSE
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    FALSE
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    FALSE
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    FALSE
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    FALSE
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    FALSE
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    FALSE
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    FALSE
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    FALSE
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    FALSE
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    FALSE
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    FALSE
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    FALSE
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    FALSE
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    FALSE
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    FALSE
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    FALSE
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    FALSE
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    FALSE
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    FALSE
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    FALSE
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    FALSE
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    FALSE
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    FALSE
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    FALSE
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    FALSE

In [21]:
#select from 5-th row to 10-th row
mtcars %>% filter(between(row_number(), 5, 10))
#Equivalent: mtcars %>% slice(5:10)

                  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.46 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.19 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.15 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.44 18.30 1  0  4    4