# Date and Time Data Types and Tools

In [3]:
from datetime import datetime

Get current time:

In [4]:
datetime.now()

datetime.datetime(2019, 10, 19, 11, 22, 20, 57660)

Create datetime:

In [5]:
my_birthday = datetime(2001, 10, 6, 20, 55, 33)
my_birthday

datetime.datetime(2001, 10, 6, 20, 55, 33)

Time delta:

In [6]:
time = datetime.now() - my_birthday
time

datetime.timedelta(days=6586, seconds=52099, microseconds=230563)

How many days I have lived?

In [7]:
time.days

6586

My brother was born after me 5 minutes:

In [10]:
from datetime import timedelta
#timedelta?
kien_birthday = my_birthday + timedelta(minutes = 5)
kien_birthday

datetime.datetime(2001, 10, 6, 21, 0, 33)

## Converting between string and datetime

In [11]:
%%HTML
<h3>Datetime to string</h3>

In [12]:
my_birthday.strftime('%d-%m-%Y')

'06-10-2001'

In [13]:
%%HTML
<h3>String to datetime (with known format):</h3>

In [14]:
women_day = '2019*3*8'
datetime.strptime(women_day, '%Y*%d*%m')

datetime.datetime(2019, 8, 3, 0, 0)

In [15]:
%%HTML
<h3>Parsing</h3>

In [23]:
from dateutil.parser import parse
parse('06/10/2001', dayfirst = True)

datetime.datetime(2001, 10, 6, 0, 0)

In [24]:
parse('20:55:33 Oct, 6 2001')

datetime.datetime(2001, 10, 6, 20, 55, 33)

In [26]:
%%HTML
<h3 style = 'color:teal;'>Pandas parsing: <code>pd.to_datetime(...)</code></h3>

In [36]:
import pandas as pd
events = ['06/10/2001', '8/3/2019', '20/10/2019', '20/11/2019', '26/12/2019']
dt = pd.to_datetime(events, format = '%d/%m/%Y')
dt

DatetimeIndex(['2001-10-06', '2019-03-08', '2019-10-20', '2019-11-20',
               '2019-12-26'],
              dtype='datetime64[ns]', freq=None)

## Indexing, selection, subseting

In [37]:
import os
os.chdir(r'C:\Users\dell\PycharmProjects\MachineLearning\Pandas\datasets')

In [40]:
df = pd.read_csv('germany.csv', index_col = 0, parse_dates = True)
df.head(10)

            Consumption  Wind  Solar  Wind+Solar
Date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN
2006-01-06     1403.427   NaN    NaN         NaN
2006-01-07     1300.287   NaN    NaN         NaN
2006-01-08     1207.985   NaN    NaN         NaN
2006-01-09     1529.323   NaN    NaN         NaN
2006-01-10     1576.911   NaN    NaN         NaN

Select data on 2006/01/01:

In [45]:
df.loc['2006/01/01']

Consumption    1069.184
Wind                NaN
Solar               NaN
Wind+Solar          NaN
Name: 2006-01-01 00:00:00, dtype: float64

Select data on year 2007:

In [47]:
df.loc['2007'].head(10)

            Consumption  Wind  Solar  Wind+Solar
Date
2007-01-01     1128.843   NaN    NaN         NaN
2007-01-02     1416.669   NaN    NaN         NaN
2007-01-03     1471.586   NaN    NaN         NaN
2007-01-04     1514.823   NaN    NaN         NaN
2007-01-05     1484.168   NaN    NaN         NaN
2007-01-06     1249.663   NaN    NaN         NaN
2007-01-07     1173.687   NaN    NaN         NaN
2007-01-08     1510.013   NaN    NaN         NaN
2007-01-09     1554.889   NaN    NaN         NaN
2007-01-10     1556.122   NaN    NaN         NaN

select data in the fisrt month of 2006:

In [48]:
df.loc['2006-01']

            Consumption  Wind  Solar  Wind+Solar
Date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN
2006-01-06     1403.427   NaN    NaN         NaN
2006-01-07     1300.287   NaN    NaN         NaN
2006-01-08     1207.985   NaN    NaN         NaN
2006-01-09     1529.323   NaN    NaN         NaN
2006-01-10     1576.911   NaN    NaN         NaN
2006-01-11     1577.176   NaN    NaN         NaN
2006-01-12     1553.280   NaN    NaN         NaN
2006-01-13     1545.002   NaN    NaN         NaN
2006-01-14     1359.945   NaN    NaN         NaN
2006-01-15     1265.475   NaN    NaN         NaN
2006-01-16     1563.738   NaN    NaN         NaN
2006-01-17     1598.303   NaN    NaN         NaN
2006-01-18     1572.984   NaN    NaN         NaN
2006-01-19     1558.290   NaN    NaN         NaN
2006-01-20     1540.604   NaN    NaN         NaN
2006-01-21     1348.188   NaN    NaN         NaN
2006-01-22     1248.111   NaN    NaN         NaN
2006-01-23     1569.691   NaN    NaN         NaN
2006-01-24     1603.252   NaN    NaN         NaN
2006-01-25     1613.312   NaN    NaN         NaN
2006-01-26     1601.673   NaN    NaN         NaN
2006-01-27     1586.065   NaN    NaN         NaN
2006-01-28     1373.030   NaN    NaN         NaN
2006-01-29     1252.215   NaN    NaN         NaN
2006-01-30     1554.722   NaN    NaN         NaN
2006-01-31     1575.129   NaN    NaN         NaN

Select data from 6/2016 -> 12/2016:

In [49]:
df.loc['6-2016' : '12-2016']

            Consumption     Wind    Solar  Wind+Solar
Date
2016-06-01     1431.441  174.740   99.114     273.854
2016-06-02     1421.839  108.363  120.895     229.258
2016-06-03     1394.273  102.326  143.213     245.539
2016-06-04     1170.051   54.248  173.422     227.670
2016-06-05     1076.440   51.030  176.637     227.667
2016-06-06     1393.733   69.562  217.347     286.909
2016-06-07     1419.232   48.539  214.927     263.466
2016-06-08     1420.198  162.731  160.187     322.918
2016-06-09     1405.974  100.748  155.237     255.985
2016-06-10     1371.476  141.588  220.844     362.432
2016-06-11     1156.451   43.853  134.774     178.627
2016-06-12     1080.805   85.063  120.363     205.426
2016-06-13     1390.936  105.647  116.442     222.089
2016-06-14     1413.197   66.559  135.004     201.563
2016-06-15     1408.312   52.425  142.133     194.558
2016-06-16     1405.908   31.063  136.231     167.294
2016-06-17     1382.577  161.169  117.882     279.051
2016-06-18     1162.117  141.464  166.885     308.349
2016-06-19     1066.990   87.349  138.538     225.887
2016-06-20     1377.795  225.611  185.492     411.103
2016-06-21     1408.899   95.575  131.177     226.752
2016-06-22     1426.195   54.656  185.635     240.291
2016-06-23     1446.406  149.945  229.714     379.659
2016-06-24     1427.889  100.460  198.067     298.527
2016-06-25     1195.550  131.554  134.967     266.521
2016-06-26     1071.035  167.573  160.407     327.980
2016-06-27     1389.253  173.928  168.835     342.763
2016-06-28     1415.082   95.775  177.457     273.232
2016-06-29     1422.497  233.871  181.635     415.506
2016-06-30     1420.479  151.654  123.378     275.032
...                 ...      ...      ...         ...
2016-12-02     1585.450  305.234   33.942     339.176
2016-12-03     1371.141   71.490   56.021     127.511
2016-12-04     1299.910   94.521   48.039     142.560
2016-12-05     1614.383   83.789   40.092     123.881
2016-12-06     1650.038   81.145   30.851     111.996
2016-12-07     1671.129  326.674   22.856     349.530
2016-12-08     1632.362  488.881   39.197     528.078
2016-12-09     1591.420  426.732   20.611     447.343
2016-12-10     1345.308  392.208   40.237     432.445
2016-12-11     1267.997  541.689   11.375     553.064
2016-12-12     1569.869  162.478   15.058     177.536
2016-12-13     1602.297  105.683   21.872     127.555
2016-12-14     1595.293   61.788   16.451      78.239
2016-12-15     1601.397  190.446   15.773     206.219
2016-12-16     1567.488  129.076   28.827     157.903
2016-12-17     1365.579   95.797   18.208     114.005
2016-12-18     1266.495  123.343    8.439     131.782
2016-12-19     1542.018   73.534   18.001      91.535
2016-12-20     1572.427  165.172   26.455     191.627
2016-12-21     1567.399  309.568   22.974     332.542
2016-12-22     1512.661  257.197   20.109     277.306
2016-12-23     1415.811  395.296   16.111     411.407
2016-12-24     1195.354  681.509   12.843     694.352
2016-12-25     1117.673  719.778    6.608     726.386
2016-12-26     1121.213  718.160   15.463     733.623
2016-12-27     1289.324  640.895   23.448     664.343
2016-12-28     1294.881  214.990   19.450     234.440
2016-12-29     1295.897  167.698   42.910     210.608
2016-12-30     1291.044  239.257   48.546     287.803
2016-12-31     1212.568  315.063   34.580     349.643

[214 rows x 4 columns]

## Time Series with duplicate indices:

In [52]:
times = pd.to_datetime(['06/10/2001', '06/10/2001', '20/11/2019'], dayfirst = True)
events = pd.Series(['Trung\'s birthday', 'Kien\'s birthday', 'Teacher\'s day'], index = times)
events.name = 'Events'
events

2001-10-06    Trung's birthday
2001-10-06     Kien's birthday
2019-11-20       Teacher's day
Name: Events, dtype: object

Check if indices are duplicate:

In [53]:
events.index.is_unique

False

Select events on Oct, 6 2001:

In [59]:
events['10-06-2001']

2001-10-06    Trung's birthday
2001-10-06     Kien's birthday
Name: Events, dtype: object

Summary events on each unique datetime:

In [62]:
events.groupby(level = 0).apply(lambda sr: ', '.join(sr.to_list()))

2001-10-06    Trung's birthday, Kien's birthday
2019-11-20                        Teacher's day
Name: Events, dtype: object

## Date range, Frequencies and Shifting

### Generating date range

School holiday: starting at 20/11/2019 and last for 3 days:

In [66]:
holiday = pd.date_range('11/20/2019', periods = 3, freq = 'D')
holiday

DatetimeIndex(['2019-11-20', '2019-11-21', '2019-11-22'], dtype='datetime64[ns]', freq='D')

Weapon actiavation: from 1/1/2019 -> 26/1/2019, reload each 3 days:

In [68]:
time = pd.date_range('1/1/2019', '1/26/2019', freq = '3D')
time

DatetimeIndex(['2019-01-01', '2019-01-04', '2019-01-07', '2019-01-10',
               '2019-01-13', '2019-01-16', '2019-01-19', '2019-01-22',
               '2019-01-25'],
              dtype='datetime64[ns]', freq='3D')

Get the end day of months 2 -> 8 in year 2019:

In [70]:
pd.date_range('2/1/2019', '9/1/2019', freq = 'M')

DatetimeIndex(['2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31', '2019-08-31'],
              dtype='datetime64[ns]', freq='M')

In [78]:
%%HTML
<h3 style = 'color:red;'><i>Normalized</i> to Midnight convention.(H:M:S = 00:00:00)</h3>

In [77]:
pd.date_range('10/06/2001 10:11:12', periods = 5, normalize=True)

DatetimeIndex(['2001-10-06', '2001-10-07', '2001-10-08', '2001-10-09',
               '2001-10-10'],
              dtype='datetime64[ns]', freq='D')

## Frequencies and Date Offsets

Get the Bussiness month start in year 2019:

In [85]:
pd.date_range('1/1/2019', '12/31/2019', freq = 'BMS')

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-03', '2019-07-01', '2019-08-01',
               '2019-09-02', '2019-10-01', '2019-11-01', '2019-12-02'],
              dtype='datetime64[ns]', freq='BMS')

In [86]:
%%HTML
<h3>Week of Month dates</h3>

Get the third 3 Friday of each month:

In [88]:
pd.date_range('1/1/2019', '12/31/2019', freq = 'WOM-3FRI')

DatetimeIndex(['2019-01-18', '2019-02-15', '2019-03-15', '2019-04-19',
               '2019-05-17', '2019-06-21', '2019-07-19', '2019-08-16',
               '2019-09-20', '2019-10-18', '2019-11-15', '2019-12-20'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

<h3>Datetime Offsets</h3>

In [121]:
from pandas.tseries.offsets import Minute
#shift an event by -123 minutes
pd.datetime(2019, 10,20, 0, 0, 0) - Minute(123)

Timestamp('2019-10-19 21:57:00')

## Shifting

Shift data:

In [91]:
events.shift(1)

2001-10-06                 NaN
2001-10-06    Trung's birthday
2019-11-20     Kien's birthday
Name: Events, dtype: object

Shift index: (requirement: DatetimeIndex)

In [93]:
#Shift each date by 2 days
events.shift(2, freq = 'D')

2001-10-08    Trung's birthday
2001-10-08     Kien's birthday
2019-11-22       Teacher's day
Name: Events, dtype: object

In [96]:
#equivalent: tshift(shift index)
events.tshift(2, freq = 'D')

2001-10-08    Trung's birthday
2001-10-08     Kien's birthday
2019-11-22       Teacher's day
Name: Events, dtype: object

# Time Zone handling

## Localization and Convesion

By default, time series in pandas are <i>time  zone  naive </i> (it does not specify time zone)

In [102]:
events.index.tz

Generate date ranges with a time zone set:

In [104]:
holiday = pd.date_range('11/20/2019 7:00:00 AM', periods = 3, tz = 'UTC')
holiday,  holiday.tz

(DatetimeIndex(['2019-11-20 07:00:00+00:00', '2019-11-21 07:00:00+00:00',
                '2019-11-22 07:00:00+00:00'],
               dtype='datetime64[ns, UTC]', freq='D'), <UTC>)

<h3>Localization: <code>TimeSeries.tz_localize(timezone)</code></h3>

Specify UTC time zone for <code>events</code>

In [109]:
events = events.tz_localize('UTC')
events.index.tz

<h3>Conversion: <code>TimeSeries.tz_convert(another timezone)</code></h3>

Convert the timezone of <code>events</code> from <b>UTC</b> to <b>US/Eastern</b>

In [111]:
events = events.tz_convert('US/Eastern')
events.index.tz

## Timestamp Object: Time Zone Awareness

Create a Timestamp with Time Zone:

In [113]:
death_time = pd.Timestamp('9/2/1945 20:38:55', tz = 'UTC')
death_time

Timestamp('1945-09-02 20:38:55+0000', tz='UTC')

<h3>Localization: Convert a Timestamp object from <i>time zone naive</i> to <i>time zone awareness</i>.</h3>

In [117]:
incident = pd.Timestamp('11/20/2019 11:22:33 AM')
incident = incident.tz_localize('US/Eastern')
incident

Timestamp('2019-11-20 11:22:33-0500', tz='US/Eastern')

<h3>Conversion</h3>

In [118]:
incident.tz_convert('US/Eastern')

Timestamp('2019-11-20 11:22:33-0500', tz='US/Eastern')

<h3>Operations between different time zones</h3>

If two time series with different time zones are combined, the result will be UTC.

# Periods

<i>Periods</i> represent timespans, like days, months, quarters or years.
<br/>
e.g: The period 2017-06 indicates the whole month 6 in year 2017: (i.e: 01/06/2017 00:00:00 -- 30/06/2017 23:59: 59)

In [133]:
p = pd.Period('2017/06')
p

Period('2017-06', 'M')

<h3>Period arithmetic</h3>

If 2 periods have the same frequency, the difference between them is the number of units:

In [134]:
p1 = pd.Period('2018/02')
p1 - p

Add a period by a constant results in: <code>p + <i>constant</i> * freq</code>

In [135]:
p + 2

Period('2017-08', 'M')

<h3>Period Range</h3>

In [137]:
pr = pd.period_range('1/1/2019', '31/12/2019', freq = 'M')
pr

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
            dtype='period[M]', freq='M')

<h3>PeriodIndex</h3>

In [147]:
periods = pd.PeriodIndex(['2019Q1', '2019Q2', '2019Q3'], freq = 'Q')
periods

PeriodIndex(['2019Q1', '2019Q2', '2019Q3'], dtype='period[Q-DEC]', freq='Q-DEC')

The <i>PeriodIndex class</i> stores a sequence of periods and can be served as any pandas data structure:

In [148]:
events = pd.Series(['Create a vision', 'Lauching', 'Succeed'], index = periods)
events

2019Q1    Create a vision
2019Q2           Lauching
2019Q3            Succeed
Freq: Q-DEC, dtype: object

<h3>Period Frequency conversion: <code>TimeSeries.asfreq(freq, how)</h3>

Convert an anual period to monthly period, either at the start or at the end of the year:

In [151]:
p = pd.Period('2019', freq = 'A-DEC')
#Notice the month of the period after converting its frequency 
p.asfreq('M', how = 'start'), p.asfreq('M', how = 'end')

(Period('2019-01', 'M'), Period('2019-12', 'M'))

<b style = 'color:red;'>NOTE:</b><br>
For a <i>fiscal year</i> ending on a month <u>other than December</u>, the monthly subperiods belongings are different:

In [152]:
p = pd.Period('2019', freq = 'A-MAR')
#Notice the month of the period after converting its frequency 
p.asfreq('M', how = 'start'), p.asfreq('M', how = 'end')

(Period('2018-04', 'M'), Period('2019-03', 'M'))

<h3>Quarterly Period Frequencies</h3>

a period has a different meaning depending on <i>fiscal year end</i>:

In [153]:
#fiscal year end on JANUARY
p = pd.Period('2019Q1', freq = 'Q-JAN')
p

Period('2019Q1', 'Q-JAN')

In [154]:
p.asfreq('D', how = 'start')

Period('2018-02-01', 'D')

In [155]:
p.asfreq('D', how = 'end')

Period('2018-04-30', 'D')

<h3>Converting Timestamp to Period( and back)</h3>

<h4>Syntax:<code>Timestamp.to_period(freq)</code></h4>

In [159]:
t = pd.to_datetime('10/06/2001 20:33:55')
t.to_period(freq = 'M')

Period('2001-10', 'M')

<h4>Syntax:<code>Period.to_timestamp(freq, how)</code></h4>

In [164]:
holiday = pd.Period('2019-11')
start_day = holiday.to_timestamp(freq = 'D', how = 'start')
start_day

Timestamp('2019-11-01 00:00:00')

# Resampling and frequency conversion

<h2>Downsampling</h2>

There are a couple of things to think about:
<ul>
    <li>Which side of the interval is <i>closed</i></li>
    <li>How to label each aggregated bin, either with the start of the interval or the end</li>
</ul>

In [168]:
dt = pd.date_range('10/06/2001', periods = 12, freq = 'T')
stock_price = pd.Series(range(12), index = dt)
stock_price

2001-10-06 00:00:00     0
2001-10-06 00:01:00     1
2001-10-06 00:02:00     2
2001-10-06 00:03:00     3
2001-10-06 00:04:00     4
2001-10-06 00:05:00     5
2001-10-06 00:06:00     6
2001-10-06 00:07:00     7
2001-10-06 00:08:00     8
2001-10-06 00:09:00     9
2001-10-06 00:10:00    10
2001-10-06 00:11:00    11
Freq: T, dtype: int64

Downsample to 3 minutes:

In [169]:
stock_price.resample('3T').sum()

2001-10-06 00:00:00     3
2001-10-06 00:03:00    12
2001-10-06 00:06:00    21
2001-10-06 00:09:00    30
Freq: 3T, dtype: int64

Chose the end of each interval as label:

In [170]:
stock_price.resample('3T', label = 'right').sum()

2001-10-06 00:03:00     3
2001-10-06 00:06:00    12
2001-10-06 00:09:00    21
2001-10-06 00:12:00    30
Freq: 3T, dtype: int64

Close the left side of each interval:

In [171]:
stock_price.resample('3T', closed = 'left').sum()

2001-10-06 00:00:00     3
2001-10-06 00:03:00    12
2001-10-06 00:06:00    21
2001-10-06 00:09:00    30
Freq: 3T, dtype: int64

<b>Visualization</b>: [0, 1, 2, 3) -- [3,4,5, 6) -- [6, 7, 8, 9) -- [9, 10, 11, 12)
<hr>
[0,1,2] -- [3, 4, 5] -- [6, 7, 8] -- [9, 10, 11]

Close the right side of each interval:

In [173]:
stock_price.resample('3T', closed = 'right', label = 'right').sum()

2001-10-06 00:00:00     0
2001-10-06 00:03:00     6
2001-10-06 00:06:00    15
2001-10-06 00:09:00    24
2001-10-06 00:12:00    21
Freq: 3T, dtype: int64

<b>Visualization</b>:  (0, 1, 2, 3] -- (3, 4, 5, 6] -- (6, 7, 8, 9] -- (9, 10, 11]
<hr>
[0] -- [1, 2, 3] -- [4, 5, 6] -- [7, 8, 9] -- [10, 11]

<h3>Downsample with groupby</h3>

In [176]:
dt = pd.date_range('1/1/2019', periods = 100, freq = 'D')
sr = pd.Series(range(100), index = dt)
#Downsample to each month
sr.groupby(lambda index: index.month).sum()

1     465
2    1246
3    2294
4     945
dtype: int64

## Upsampling and Interpolation

In [182]:
dt = pd.date_range('10/06/2001', periods = 3, freq = 'D')
sr = pd.Series(range(3), index = dt)
sr

2001-10-06    0
2001-10-07    1
2001-10-08    2
Freq: D, dtype: int64

Upsampling to each hour:

In [189]:
sr.resample('H').ffill(limit = 2)

2001-10-06 00:00:00    0.0
2001-10-06 01:00:00    0.0
2001-10-06 02:00:00    0.0
2001-10-06 03:00:00    NaN
2001-10-06 04:00:00    NaN
2001-10-06 05:00:00    NaN
2001-10-06 06:00:00    NaN
2001-10-06 07:00:00    NaN
2001-10-06 08:00:00    NaN
2001-10-06 09:00:00    NaN
2001-10-06 10:00:00    NaN
2001-10-06 11:00:00    NaN
2001-10-06 12:00:00    NaN
2001-10-06 13:00:00    NaN
2001-10-06 14:00:00    NaN
2001-10-06 15:00:00    NaN
2001-10-06 16:00:00    NaN
2001-10-06 17:00:00    NaN
2001-10-06 18:00:00    NaN
2001-10-06 19:00:00    NaN
2001-10-06 20:00:00    NaN
2001-10-06 21:00:00    NaN
2001-10-06 22:00:00    NaN
2001-10-06 23:00:00    NaN
2001-10-07 00:00:00    1.0
2001-10-07 01:00:00    1.0
2001-10-07 02:00:00    1.0
2001-10-07 03:00:00    NaN
2001-10-07 04:00:00    NaN
2001-10-07 05:00:00    NaN
2001-10-07 06:00:00    NaN
2001-10-07 07:00:00    NaN
2001-10-07 08:00:00    NaN
2001-10-07 09:00:00    NaN
2001-10-07 10:00:00    NaN
2001-10-07 11:00:00    NaN
2001-10-07 12:00:00    NaN
2001-10-07 13:00:00    NaN
2001-10-07 14:00:00    NaN
2001-10-07 15:00:00    NaN
2001-10-07 16:00:00    NaN
2001-10-07 17:00:00    NaN
2001-10-07 18:00:00    NaN
2001-10-07 19:00:00    NaN
2001-10-07 20:00:00    NaN
2001-10-07 21:00:00    NaN
2001-10-07 22:00:00    NaN
2001-10-07 23:00:00    NaN
2001-10-08 00:00:00    2.0
Freq: H, dtype: float64

<h2>Resampling with Period</h2>

In [198]:
pr = pd.period_range('1/1/2019', '31/12/2019', freq = 'D')
pr

PeriodIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
             '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
             '2019-01-09', '2019-01-10',
             ...
             '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
             '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
             '2019-12-30', '2019-12-31'],
            dtype='period[D]', length=365, freq='D')

In [199]:
sr = pd.Series(range(len(pr)), index = pr)
sr

2019-01-01      0
2019-01-02      1
2019-01-03      2
2019-01-04      3
2019-01-05      4
2019-01-06      5
2019-01-07      6
2019-01-08      7
2019-01-09      8
2019-01-10      9
2019-01-11     10
2019-01-12     11
2019-01-13     12
2019-01-14     13
2019-01-15     14
2019-01-16     15
2019-01-17     16
2019-01-18     17
2019-01-19     18
2019-01-20     19
2019-01-21     20
2019-01-22     21
2019-01-23     22
2019-01-24     23
2019-01-25     24
2019-01-26     25
2019-01-27     26
2019-01-28     27
2019-01-29     28
2019-01-30     29
             ...
2019-12-02    335
2019-12-03    336
2019-12-04    337
2019-12-05    338
2019-12-06    339
2019-12-07    340
2019-12-08    341
2019-12-09    342
2019-12-10    343
2019-12-11    344
2019-12-12    345
2019-12-13    346
2019-12-14    347
2019-12-15    348
2019-12-16    349
2019-12-17    350
2019-12-18    351
2019-12-19    352
2019-12-20    353
2019-12-21    354
2019-12-22    355
2019-12-23    356
2019-12-24    357
2019-12-25    358
2019-12-26    359
2019-12-27    360
2019-12-28    361
2019-12-29    362
2019-12-30    363
2019-12-31    364
Freq: D, Length: 365, dtype: int64

<h3>Downsampling with Period</h3>

In [200]:
sr.resample('M', closed = 'left').sum()

2019-01      465
2019-02     1246
2019-03     2294
2019-04     3135
2019-05     4185
2019-06     4965
2019-07     6076
2019-08     7037
2019-09     7725
2019-10     8928
2019-11     9555
2019-12    10819
Freq: M, dtype: int64

### Upsampling with Period

In [201]:
holiday_time = pd.period_range('2019-06', '2019-08', freq = 'M')
holiday_time

PeriodIndex(['2019-06', '2019-07', '2019-08'], dtype='period[M]', freq='M')

In [202]:
sr = pd.Series(range(3), index = holiday_time)
sr

2019-06    0
2019-07    1
2019-08    2
Freq: M, dtype: int64

In [206]:
sr.resample('D', convention = 'start').bfill(limit = 7)

2019-06-01    0.0
2019-06-02    NaN
2019-06-03    NaN
2019-06-04    NaN
2019-06-05    NaN
2019-06-06    NaN
2019-06-07    NaN
2019-06-08    NaN
2019-06-09    NaN
2019-06-10    NaN
2019-06-11    NaN
2019-06-12    NaN
2019-06-13    NaN
2019-06-14    NaN
2019-06-15    NaN
2019-06-16    NaN
2019-06-17    NaN
2019-06-18    NaN
2019-06-19    NaN
2019-06-20    NaN
2019-06-21    NaN
2019-06-22    NaN
2019-06-23    NaN
2019-06-24    1.0
2019-06-25    1.0
2019-06-26    1.0
2019-06-27    1.0
2019-06-28    1.0
2019-06-29    1.0
2019-06-30    1.0
             ...
2019-08-02    NaN
2019-08-03    NaN
2019-08-04    NaN
2019-08-05    NaN
2019-08-06    NaN
2019-08-07    NaN
2019-08-08    NaN
2019-08-09    NaN
2019-08-10    NaN
2019-08-11    NaN
2019-08-12    NaN
2019-08-13    NaN
2019-08-14    NaN
2019-08-15    NaN
2019-08-16    NaN
2019-08-17    NaN
2019-08-18    NaN
2019-08-19    NaN
2019-08-20    NaN
2019-08-21    NaN
2019-08-22    NaN
2019-08-23    NaN
2019-08-24    NaN
2019-08-25    NaN
2019-08-26    NaN
2019-08-27    NaN
2019-08-28    NaN
2019-08-29    NaN
2019-08-30    NaN
2019-08-31    NaN
Freq: D, Length: 92, dtype: float64