**Reference**: <https://adv-r.hadley.nz/base-types.html>

In [1]:
library(tidyverse)

-- Attaching packages ----------------------------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

-- Conflicts -------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Goals

- How many types of object in R? what are they?
- What is a base object? examples?
- What is an OO (object oriented) object? examples?
- What is base type?

# Types of objects

2 types of objects:
- Base objects
- Oject Oriented objects

# The difference between Base objectss and OO objects

 >Use **`is.object`** or **`sloop::otype`**

In [4]:
# return True if an object is an OO object
is.object(1) # this is a base type object, so the result is FALSE


sloop::otype(1)

[1] FALSE

[1] "base"

Technically, OO objects have class attribute, and base objects do not

In [11]:
attributes(mtcars)

$names
 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

$row.names
 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

$class
[1] "data.frame"

In [12]:
attr(mtcars, 'class')

[1] "data.frame"

In [13]:
attributes(1:10)

NULL

In [14]:
attr(1:10, 'class')

NULL

>**`sloop::s3_class`** to see implicit class`**

In [15]:
sloop::s3_class(1:10)

[1] "integer" "numeric"

In [16]:
sloop::s3_class(mtcars)

[1] "data.frame"

# Base type

Every object has a base type

In [17]:
typeof(mtcars)

[1] "list"

In [18]:
typeof(1:10)

[1] "integer"

In [19]:
typeof(factor(c('apple', 'banana')))

[1] "integer"

# Tips and Tricks

`is.numeric` checks for objects that be have like numeric

In [20]:
is.numeric(1)
is.numeric(2L)

[1] TRUE

[1] TRUE

In [21]:
is.numeric(factor(letters))

[1] FALSE

`purrr::is_numeric` checks for objects that have the underline type if numeric. But this is deprecated, please do not use this.

In [22]:
is_numeric(factor(letters))

Warning message:
"Deprecated"

[1] TRUE