In [3]:
library(tidyverse)

# Efficiently bind multiple data frames by row and column

```R
bind_rows(..., .id = NULL)

bind_cols(
  ...,
  .name_repair = c("unique", "universal", "check_unique", "minimal")
)
```

# Examples

In [9]:
VNC <- data.frame(
    name = c('VN Pikachu', 'Meomeo888'),
    level = c(31, 32)
)

VN <- data.frame(
    name = c('VN Wanie', 'VNC Son La TF'),
    level = c(33, 33)
)

In [10]:
bind_rows(VNC, VN)

  name          level
1 VN Pikachu    31
2 Meomeo888     32
3 VN Wanie      33
4 VNC Son La TF 33

The contents of lists are spliced automatically:

In [11]:
bind_rows(list(VNC, VN))

  name          level
1 VN Pikachu    31
2 Meomeo888     32
3 VN Wanie      33
4 VNC Son La TF 33

In [12]:
bind_rows(list(VNC, VN), list(VN, VNC))

  name          level
1 VN Pikachu    31
2 Meomeo888     32
3 VN Wanie      33
4 VNC Son La TF 33
5 VN Wanie      33
6 VNC Son La TF 33
7 VN Pikachu    31
8 Meomeo888     32

In [4]:
bind_rows(
  c(a = 1, b = 2),
  c(a = 3, b = 4)
)

  a b
1 1 2
2 3 4

In [6]:
# You can mix vectors and data frames:
bind_rows(
  c(a = 1, b = 2),
  tibble(a = 3:4, b = 5:6),
  c(a = 7, b = 8)
)

  a b
1 1 2
2 3 5
3 4 6
4 7 8

When you supply a column name with the `.id` argument, a new
column is created to link each row to its original data frame

In [13]:
bind_rows(VNC, VN, .id = 'id')

  id name          level
1 1  VN Pikachu    31
2 1  Meomeo888     32
3 2  VN Wanie      33
4 2  VNC Son La TF 33

In [15]:
bind_rows(list('VN Champions' = VNC, 'VIET NAM' = VN), .id = 'clan')

  clan         name          level
1 VN Champions VN Pikachu    31
2 VN Champions Meomeo888     32
3 VIET NAM     VN Wanie      33
4 VIET NAM     VNC Son La TF 33

Columns don't need to match when row-binding

In [16]:
bind_rows(tibble(x = 1:3), tibble(y = 1:4))

  x  y
1  1 NA
2  2 NA
3  3 NA
4 NA  1
5 NA  2
6 NA  3
7 NA  4


```R
#Rows do need to match when column-binding
#This will raise an error
bind_cols(tibble(x = 1:3), tibble(y = 1:2))
```

In [19]:
VNC.stats <- data.frame(
    sex = c('Male', 'Male'),
    age = c(19, 33)
)

bind_cols(VNC, VNC.stats)

  name       level sex  age
1 VN Pikachu 31    Male 19
2 Meomeo888  32    Male 33