In [2]:
library(tidyverse)

# Filtering joins

Filtering joins filter rows from x based on the presence or absence of matches in y:

* **`semi_join()`** return all rows from x with a match in y.

* **`anti_join()`** return all rows from x without a match in y.

```R
semi_join(x, y, by = NULL, copy = FALSE, ...)

# S3 method for data.frame
semi_join(x, y, by = NULL, copy = FALSE, ..., na_matches = c("na", "never"))

anti_join(x, y, by = NULL, copy = FALSE, ...)

# S3 method for data.frame
anti_join(x, y, by = NULL, copy = FALSE, ..., na_matches = c("na", "never"))
```

# Examples

In [5]:
band_members

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

In [6]:
band_instruments

  name  plays
1 John  guitar
2 Paul  bass
3 Keith guitar

In [4]:
#Return all observations in `band_members` with a match in `band_instruments` by column `name` in both data frames
band_members %>% semi_join(band_instruments, by = 'name')

  name band
1 John Beatles
2 Paul Beatles

In [9]:
#Return all observations in `band_members` do not have a match in `band_instruments` by column `name` in both data frames
band_members %>% anti_join(band_instruments, by = 'name')

  name band
1 Mick Stones