In [2]:
library(tidyverse)

**`nest_join()`** returns all rows and columns in x with a new nested-df column that contains all matches from y. When there is no match, the list column is a 0-row tibble.

```R
nest_join(x, y, by = NULL, copy = FALSE, keep = FALSE, name = NULL, ...)

# S3 method for data.frame
nest_join(x, y, by = NULL, copy = FALSE, keep = FALSE, name = NULL, ...)
```

# Examples

In [5]:
clan <- data.frame(clan = c('VNC', 'Daemones'), country = c('Vietnam', 'Philipine'))
clan

  clan     country
1 VNC      Vietnam
2 Daemones Philipine

In [6]:
player <- data.frame(clan = c('VNC', 'VNC', 'Daemones', 'Daemones'), name = letters[1:4], level = 1:4)
player

  clan     name level
1 VNC      a    1
2 VNC      b    2
3 Daemones c    3
4 Daemones d    4

In [12]:
nested <- clan %>% nest_join(player, by = 'clan') 

nested

  clan     country   player
1 VNC      Vietnam   1, 2, 1, 2
2 Daemones Philipine 3, 4, 3, 4

In [13]:
# each cell in the column player is a data frame
nested %>% pull(player)

[[1]]
# A tibble: 2 x 2
  name  level
  <fct> <int>
1 a         1
2 b         2

[[2]]
# A tibble: 2 x 2
  name  level
  <fct> <int>
1 c         3
2 d         4