In [3]:
library(tidyverse)

# Chop and unchop

Chopping and unchopping preserve the width of a data frame, changing its length. `chop()` makes df shorter by converting rows within each group into list-columns. `unchop()` makes df longer by expanding list-columns so that each element of the list-column gets its own row in the output. `chop()` and `unchop()` are building blocks for more complicated functions (like `unnest()`, `unnest_longer()`, and `unnest_wider()`) and are generally more suitable for programming than interactive data analysis.

# Examples

In [5]:
# Chop ==============================================================
df <- tibble(x = c(1, 1, 1, 2, 2, 3), y = 1:6, z = 6:1)

df

  x y z
1 1 1 6
2 1 2 5
3 1 3 4
4 2 4 3
5 2 5 2
6 3 6 1

**`chop`** preserve the width of the data frame (i.e: the number of columns)

In [6]:
# Note that we get one row of output for each unique combination of
# non-chopped variables
df %>% chop(c(y, z))

  x y       z
1 1 1, 2, 3 6, 5, 4
2 2 4, 5    3, 2
3 3 6       1

**`nest`** does not preserve the width of the data frame

In [13]:
df %>% nest(data = c(y, z))

  x data
1 1 1, 2, 3, 6, 5, 4
2 2 4, 5, 3, 2
3 3 6, 1

In [14]:
# Unchop ============================================================
df <- tibble(x = 1:4, y = list(integer(), 1L, 1:2, 1:3))

df

  x y
1 1
2 2 1
3 3 1, 2
4 4 1, 2, 3

In [15]:
df %>% unchop(y)

  x y
1 2 1
2 3 1
3 3 2
4 4 1
5 4 2
6 4 3

In [16]:
df %>% unchop(y, keep_empty = TRUE)

  x y
1 1 NA
2 2  1
3 3  1
4 3  2
5 4  1
6 4  2
7 4  3

In [18]:
# Incompatible types -------------------------------------------------
# If the list-col contains types that can not be natively
df <- tibble(x = 1:2, y = list("1", 1:3))

df

  x y
1 1 1
2 2 1, 2, 3

In [21]:
#This will raise an error
#df %>% unchop(y)