In [2]:
library(tidyverse)

# "Uncount" a dataframe

Performs the opposite operation to `dplyr::count()`, duplicating rows according to a weighting variable (or expression).

```r
uncount(data, weights, .remove = TRUE, .id = NULL)
```

# Examples

**`weights`**	
A vector of weights. Evaluated in the context of data; supports quasiquotation.

In [8]:
df <- tibble(x = c("a", "b"), n = c(2, 3))

df

  x n
1 a 2
2 b 3

In [8]:
uncount(df, n)

  x
1 a
2 a
3 b
4 b
5 b

In [9]:
# add unique id to each group, the name of that column is 'id'
uncount(df, n, .id = "id")

  x id
1 a 1
2 a 2
3 b 1
4 b 2
5 b 3

In [10]:
# You can also use constants
uncount(df, 2)

  x n
1 a 2
2 a 2
3 b 3
4 b 3

In [11]:
#or expression

uncount(df, 6 / n)

  x n
1 a 2
2 a 2
3 a 2
4 b 3
5 b 3

In [10]:
# preserve count
df %>% uncount(n, .remove = F)

  x n
1 a 2
2 a 2
3 b 3
4 b 3
5 b 3

In [11]:
# default, do not preserve count
df %>% uncount(n)

  x
1 a
2 a
3 b
4 b
5 b