In [2]:
library(tidyverse)

# Read a delimited file (including csv & tsv) into a tibble

**`read_csv()`** and **`read_tsv()`** are special cases of the general **`read_delim()`**. They're useful for reading the most common types of flat file data, comma separated values and tab separated values, respectively. **`read_csv2()`** uses ; for the field separator and , for the decimal point. This is common in some European countries.

```r
read_delim(
  file,
  delim,
  quote = "\"",
  escape_backslash = FALSE,
  escape_double = TRUE,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  comment = "",
  trim_ws = FALSE,
  skip = 0,
  n_max = Inf,
  guess_max = min(1000, n_max),
  progress = show_progress(),
  skip_empty_rows = TRUE
)

read_csv(
  file,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  guess_max = min(1000, n_max),
  progress = show_progress(),
  skip_empty_rows = TRUE
)

read_csv2(
  file,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  guess_max = min(1000, n_max),
  progress = show_progress(),
  skip_empty_rows = TRUE
)

read_tsv(
  file,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = c("", "NA"),
  quoted_na = TRUE,
  quote = "\"",
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  guess_max = min(1000, n_max),
  progress = show_progress(),
  skip_empty_rows = TRUE
)
```

# Examples

<hr>

**input sources**

Read from a path

In [3]:
mtcars_path <- readr_example('mtcars.csv')
mtcars_path

[1] "C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/mtcars.csv"

In [4]:
read_csv(mtcars_path)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [5]:
# Including remote paths
read_csv("https://github.com/tidyverse/readr/raw/master/inst/extdata/mtcars.csv")

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [6]:
# Or directly from a string (must contain a newline)
read_csv("x,y\n1,2\n3,4")

  x y
1 1 2
2 3 4

<hr>

**Column types**

By default, readr guesses the columns types, looking at the first 1000 rows.
You can override with a compact specification:

In [8]:
read_csv("x,y\n1,2\n3,4", col_types = 'dc') %>% glimpse()

Rows: 2
Columns: 2
$ x <dbl> 1, 3
$ y <chr> "2", "4"

Or with a list of column types:

In [10]:
read_csv("x,y\n1,2\n3,4", col_types = list(col_double(), col_character())) %>% glimpse()

Rows: 2
Columns: 2
$ x <dbl> 1, 3
$ y <chr> "2", "4"

If there are parsing problems, you get a warning, and can extract
more details with **`problems()`**`

In [12]:
df <- read_csv("x\n1\n2\nb", col_types = list(col_double()))

Warning message:
"1 parsing failure.
row col expected actual         file
  3   x a double      b literal data
"

In [13]:
problems(df)

  row col expected actual file
1 3   x   a double b      literal data

<hr>

**File types**

In [17]:
read_csv("a,b\n1.0,2.0")

  a b
1 1 2

In [19]:
# using ; to separate fields and using , for decimal point
read_csv2("a;b\n1,2;2,5")

i Using ',' as decimal and '.' as grouping mark. Use `read_delim()` for more control.

  a   b
1 1.2 2.5

In [20]:
read_tsv("a\tb\n1.0\t2.0")

  a b
1 1 2

In [22]:

read_delim("a|b\n1.0|2.0", delim = '|')

  a b
1 1 2

# Arguments

### `file`

Either a path to a file, a connection, or literal data (either a single string or a raw vector).

Files ending in `.gz`, `.bz2`, `.xz`, or `.zip` will be automatically uncompressed. Files starting with `http://`,`https://`, `ftp://`, or `ftps://` will be automatically downloaded. Remote gz files can also be automatically downloaded and decompressed.

Literal data is most useful for examples and tests. It must contain at least one new line to be recognised as data (instead of a path) or be a vector of greater than length 1.

Using a value of **`clipboard()`** will read from the system clipboard.

<hr>

In [23]:
# a path to a file
path <- readr_example('mtcars.csv')

read_csv(path) %>% head()

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [24]:
# a connection
read_csv("https://github.com/tidyverse/readr/raw/master/inst/extdata/mtcars.csv") %>% head()

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [27]:
# zip, bz files
read_csv(readr_example('mtcars.csv.bz2')) %>% head()

read_csv(readr_example('mtcars.csv.zip')) %>% head()

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [30]:
# string literal

read_csv("a,b\n1.0,2.0")

  a b
1 1 2

### `delim`

	
Single character used to separate fields within a record.

<hr>

In [32]:
# comma seperated value (csv)

read_delim(path, delim = ',') %>% head()
# equivalent
# read_csv(path)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [35]:
# tab separated value
read_delim("a\tb\n1.0\t2.0", delim = '\t') 
# equivalent
# read_tsv("a\tb\n1.0\t2.0")

  a b
1 1 2

### `quote`

Single character used to quote strings.

<hr>

Sometimes strings in a CSV file contain commas. To prevent them from causing problems they need to be surrounded by a quoting character, like " or '

In [5]:
read_csv("x,y\n1,'a,b'", quote = "'")

  x y
1 1 a,b

In [39]:
# default
read_csv("name,clan\n'VN Pikachu', 'VN Champions'", quote = '\"')

  name         clan
1 'VN Pikachu' 'VN Champions'

In [38]:
read_csv("name,clan\n'VN Pikachu', 'VN Champions'", quote = '\'')

  name       clan
1 VN Pikachu VN Champions

### `escape_backslash`

Does the file use backslashes to escape special characters? This is more general than escape_double as backslashes can be used to escape the delimiter character, the quote character, or to add special characters like \\n.

### `escape_double`

Does the file escape quotes by doubling them? i.e. If this option is TRUE, the value """" represents a single quote, \".

### `col_names`


Either `TRUE`, `FALSE` or a character vector of column names.

<hr>

If TRUE, the first row of the input will be used as the column names, and will not be included in the data frame

In [41]:
file_data <- 'name,clan\nVN Pikachu,VN Champions'

In [42]:
read_csv(file_data, col_names = T)

  name       clan
1 VN Pikachu VN Champions

If FALSE, column names will be generated automatically: X1, X2, X3 etc.

In [43]:
read_csv(file_data, col_names = F)

  X1         X2
1 name       clan
2 VN Pikachu VN Champions

If `col_names` is a character vector, the values will be used as the names of the columns, and the first row of the input will be read into the first row of the output data frame.

In [44]:
read_csv(file_data, col_names = c('First column', 'Second column'))

  First column Second column
1 name         clan
2 VN Pikachu   VN Champions

Missing (`NA`) column names will generate a warning, and be filled in with dummy names X1, X2 etc.

In [45]:
read_csv('name,\nVN Pikachu,VN Champions')

Warning message:
"Missing column names filled in: 'X2' [2]"

  name       X2
1 VN Pikachu VN Champions

Duplicate column names will generate a warning and be made unique with a numeric suffix.

In [46]:
read_csv('name,name\nVN Pikachu,VN Champions')

Warning message:
"Duplicated column names deduplicated: 'name' => 'name_1' [2]"

  name       name_1
1 VN Pikachu VN Champions

### `col_types`

One of `NULL`, a `cols()` specification, or a string.

<hr>

If NULL, all column types will be imputed from the first 1000 rows on the input. This is convenient (and fast), but not robust. If the imputation fails, you'll need to supply the correct types yourself.

In [48]:
read_csv(readr_example('challenge.csv'))

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  x = col_double(),
  y = col_logical()
)

Warning message:
"1000 parsing failures.
 row col           expected     actual                                                                file
1001   y 1/0/T/F/TRUE/FALSE 2015-01-16 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1002   y 1/0/T/F/TRUE/FALSE 2018-05-18 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1003   y 1/0/T/F/TRUE/FALSE 2015-09-05 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1004   y 1/0/T/F/TRUE/FALSE 2012-11-28 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1005   y 1/0/T/F/TRUE/FALSE 2020-01-13 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
.... ... .................. .......... ...................................................................
See problems(...) for more details.
"

     x          y
1     404       NA
2    4172       NA
3    3004       NA
4     787       NA
5      37       NA
6    2332       NA
7    2489       NA
8    1449       NA
9    3665       NA
10   3863       NA
11   4374       NA
12    875       NA
13    172       NA
14   1602       NA
15   2012       NA
16    979       NA
17   2018       NA
18    319       NA
19   1944       NA
20   4878       NA
21   1450       NA
22   3392       NA
23   3677       NA
24    980       NA
25   4903       NA
26   3708       NA
27    258       NA
28   2652       NA
29   3480       NA
30   3443       NA
...  ...        ...
1971 0.14324546 NA
1972 0.42678032 NA
1973 0.56445359 NA
1974 0.18729942 NA
1975 0.60274952 NA
1976 0.73487829 NA
1977 0.06834881 NA
1978 0.78291796 NA
1979 0.92149271 NA
1980 0.04428217 NA
1981 0.71311485 NA
1982 0.90388602 NA
1983 0.73958150 NA
1984 0.17217563 NA
1985 0.18658998 NA
1986 0.38248836 NA
1987 0.45361328 NA
1988 0.45513148 NA
1989 0.17310278 NA
1990 0.30541726 NA
1991 0.86775210 NA
1992 0.26023225 NA
1993 0.68087076 NA
1994 0.85357656 NA
1995 0.80527431 NA
1996 0.16351634 NA
1997 0.47193898 NA
1998 0.71831865 NA
1999 0.26987859 NA
2000 0.60823719 NA

If a column specification created by **`cols()`**, it must contain one column specification for each column. If you only want to read a subset of the columns, use **`cols_only()`**.
Alternatively, you can use a compact string representation where each character represents one column:

* c = character

* i = integer

* n = number

* d = double

* l = logical

* f = factor

* D = date

* T = date time

* t = time

* ? = guess

* _ or - = skip

By default, reading a file without a column specification will print a message showing what readr guessed they were. To remove this message, use `col_types = cols()`.

see <b><a href = '../Introduction.ipynb'>this notebook</a></b> for detail and examples.

In [50]:
# remove `spec` message
read_csv(mtcars_path, col_types = cols()) %>% head()

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### `locale`

The locale controls defaults that vary from place to place. The default locale is US-centric (like R), but you can use `locale()` to create your own locale that controls things like the default time zone, encoding, decimal mark, big mark, and day/month names.

<hr>

<b><a href = '../locales.ipynb'>Notebook detail and examples</a></b>

### `na`

Character vector of strings to interpret as missing values. Set this option to `character()` to indicate no missing values.

<hr>

In [57]:
file_data <- 'name,clan\nVN Pikachu,missing\nETOGRUL,NA\nunknown,King Allool'

read_csv(file_data)

  name       clan
1 VN Pikachu missing
2 ETOGRUL    NA
3 unknown    King Allool

In [59]:
# specify 'NA', '', 'missing', 'unknown' as missing value

read_csv(file_data, na = c('', 'NA', 'missing', 'unknown'))

  name       clan
1 VN Pikachu NA
2 ETOGRUL    NA
3 NA         King Allool

### `quoted_na`

Should missing values inside quotes be treated as missing values (the default) or strings.

### `comment`

A string used to identify comments. Any text after the comment characters will be silently ignored.

In [68]:
read_csv('name,clan\nVN Pikachu,VN Champions#ignore this part...', comment = '#')

  name       clan
1 VN Pikachu VN Champions

### `trim_ws`

Should leading and trailing whitespace be trimmed from each field before parsing it?

<hr>

In [85]:
# default trim_ws = TRUE in read_csv

read_csv(' name ,   clan \n VN Pikachu,  VN Champions') %>% colnames()

[1] "name" "clan"

In [84]:
read_csv(' name ,   clan \n VN Pikachu,  VN Champions', trim_ws = F) %>% colnames()

[1] " name "   "   clan "

### `skip`

	
Number of lines to skip before reading data.

<hr>

In [90]:
file_data <- 'id,name\n1,a\n2,b\n3,c\n4,d\n5,e'
cat(file_data)

id,name
1,a
2,b
3,c
4,d
5,e

In [87]:
read_csv(file_data)

  id name
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e

In [93]:
# skip first 3 rows in the text, the parse
# If we want column names, we have to specify it manually
read_csv(file_data, skip = 3, col_names = c('id', 'name'))

  id name
1 3  c
2 4  d
3 5  e

### `n_max`

Maximum number of records to read.
<hr>

In [94]:
# read 2 records
read_csv(file_data, n_max = 2)

  id name
1 1  a
2 2  b

### **`guess_max`**

Maximum number of records to use for guessing column types.
<hr>

For each column, using 101 values to guess the type of that column. default is 1000.

In [96]:
read_csv(readr_example('challenge.csv'), guess_max = 1000) # default

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  x = col_double(),
  y = col_logical()
)

Warning message:
"1000 parsing failures.
 row col           expected     actual                                                                file
1001   y 1/0/T/F/TRUE/FALSE 2015-01-16 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1002   y 1/0/T/F/TRUE/FALSE 2018-05-18 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1003   y 1/0/T/F/TRUE/FALSE 2015-09-05 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1004   y 1/0/T/F/TRUE/FALSE 2012-11-28 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
1005   y 1/0/T/F/TRUE/FALSE 2020-01-13 'C:/Users/dell/Anaconda3/Lib/R/library/readr/extdata/challenge.csv'
.... ... .................. .......... ...................................................................
See problems(...) for more details.
"

     x          y
1     404       NA
2    4172       NA
3    3004       NA
4     787       NA
5      37       NA
6    2332       NA
7    2489       NA
8    1449       NA
9    3665       NA
10   3863       NA
11   4374       NA
12    875       NA
13    172       NA
14   1602       NA
15   2012       NA
16    979       NA
17   2018       NA
18    319       NA
19   1944       NA
20   4878       NA
21   1450       NA
22   3392       NA
23   3677       NA
24    980       NA
25   4903       NA
26   3708       NA
27    258       NA
28   2652       NA
29   3480       NA
30   3443       NA
...  ...        ...
1971 0.14324546 NA
1972 0.42678032 NA
1973 0.56445359 NA
1974 0.18729942 NA
1975 0.60274952 NA
1976 0.73487829 NA
1977 0.06834881 NA
1978 0.78291796 NA
1979 0.92149271 NA
1980 0.04428217 NA
1981 0.71311485 NA
1982 0.90388602 NA
1983 0.73958150 NA
1984 0.17217563 NA
1985 0.18658998 NA
1986 0.38248836 NA
1987 0.45361328 NA
1988 0.45513148 NA
1989 0.17310278 NA
1990 0.30541726 NA
1991 0.86775210 NA
1992 0.26023225 NA
1993 0.68087076 NA
1994 0.85357656 NA
1995 0.80527431 NA
1996 0.16351634 NA
1997 0.47193898 NA
1998 0.71831865 NA
1999 0.26987859 NA
2000 0.60823719 NA

In [99]:
# using 1500 values to guess the type 
read_csv(readr_example('challenge.csv'), guess_max = 1500) %>% head()

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  x = col_double(),
  y = col_date(format = "")
)

  x    y
1  404 <NA>
2 4172 <NA>
3 3004 <NA>
4  787 <NA>
5   37 <NA>
6 2332 <NA>

### `progress`

Display a progress bar? By default it will only display in an interactive session and not while knitting a document. The display is updated every 50,000 values and will only display if estimated reading time is 5 seconds or more. The automatic progress bar can be disabled by setting option `readr.show_progress` to FALSE.

### `skip_empty_rows`

	
Should blank rows be ignored altogether? i.e. If this option is TRUE then blank rows will not be represented at all. If it is FALSE then they will be represented by NA values in all the columns.
<hr>

In [104]:
file_data <- 'name,clan\n\nVN pikachu,VN Champions'

In [105]:
# default skip_empty_rows = T

read_csv(file_data, skip_empty_rows = T)

  name       clan
1 VN pikachu VN Champions

In [106]:
# skip_empty_rows = F
read_csv(file_data, skip_empty_rows = F)

Warning message:
"1 parsing failure.
row col  expected    actual         file
  1  -- 2 columns 1 columns literal data
"

  name       clan
1 NA         NA
2 VN pikachu VN Champions

# Value

A **`tibble()`**. If there are parsing problems, a warning tells you how many, and you can retrieve the details with `problems()`.