In [2]:
library(tidyverse)

# Read whitespace-separated columns into a tibble

**`read_table()`** and **`read_table2()`** are designed to read the type of textual data where each column is separated by one (or more) columns of space.

**`read_table2()`** is like **`read.table()`**, it allows any number of whitespace characters between columns, and the lines can be of different lengths.

**`read_table()`** is more strict, each line must be the same length, and each field is in the same position in every line. It first finds empty columns and then parses like a fixed width file.

**`spec_table()`** and **`spec_table2()`** return the column specifications rather than a data frame.

```r
read_table(
  file,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = "NA",
  skip = 0,
  n_max = Inf,
  guess_max = min(n_max, 1000),
  progress = show_progress(),
  comment = "",
  skip_empty_rows = TRUE
)

read_table2(
  file,
  col_names = TRUE,
  col_types = NULL,
  locale = default_locale(),
  na = "NA",
  skip = 0,
  n_max = Inf,
  guess_max = min(n_max, 1000),
  progress = show_progress(),
  comment = "",
  skip_empty_rows = TRUE
)
```

**Arguments**  
See this <b><a href = './delimited file.ipynb'>Notebook</a></b>

# Examples

In [4]:
massey <- readr_example("massey-rating.txt")

writeLines(read_lines(massey))

UCC PAY LAZ KPK  RT   COF BIH DII ENG ACU Rank Team            Conf
  1   1   1   1   1     1   1   1   1   1    1 Ohio St          B10
  2   2   2   2   2     2   2   2   4   2    2 Oregon           P12
  3   4   3   4   3     4   3   4   2   3    3 Alabama          SEC
  4   3   4   3   4     3   5   3   3   4    4 TCU              B12
  6   6   6   5   5     7   6   5   6  11    5 Michigan St      B10
  7   7   7   6   7     6  11   8   7   8    6 Georgia          SEC
  5   5   5   7   6     8   4   6   5   5    7 Florida St       ACC
  8   8   9   9  10     5   7   7  10   7    8 Baylor           B12
  9  11   8  13  11    11  12   9  14   9    9 Georgia Tech     ACC
 13  10  13  11   8     9  10  11   9  10   10 Mississippi      SEC

In [5]:
read_table(massey)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  UCC = col_double(),
  PAY = col_double(),
  LAZ = col_double(),
  KPK = col_double(),
  RT = col_double(),
  COF = col_double(),
  BIH = col_double(),
  DII = col_double(),
  ENG = col_double(),
  ACU = col_double(),
  Rank = col_double(),
  Team = col_character(),
  Conf = col_character()
)

   UCC PAY LAZ KPK RT COF BIH DII ENG ACU Rank Team         Conf
1   1   1   1   1   1  1   1   1   1   1   1   Ohio St      B10
2   2   2   2   2   2  2   2   2   4   2   2   Oregon       P12
3   3   4   3   4   3  4   3   4   2   3   3   Alabama      SEC
4   4   3   4   3   4  3   5   3   3   4   4   TCU          B12
5   6   6   6   5   5  7   6   5   6  11   5   Michigan St  B10
6   7   7   7   6   7  6  11   8   7   8   6   Georgia      SEC
7   5   5   5   7   6  8   4   6   5   5   7   Florida St   ACC
8   8   8   9   9  10  5   7   7  10   7   8   Baylor       B12
9   9  11   8  13  11 11  12   9  14   9   9   Georgia Tech ACC
10 13  10  13  11   8  9  10  11   9  10  10   Mississippi  SEC

In [6]:
epa <- readr_example("epa78.txt")
cat(read_file(epa))

ALFA ROMEO                                                                     ALFA ROMEO           78010003
ALFETTA                              03  81  8    74  7   89  9                ALFETTA              78010053
SPIDER 2000                          01                                        SPIDER 2000          78010103
AMC                                                                            AMC                  78020002
GREMLIN                              03  79  9                    79  9        GREMLIN              78020053
PACER                                04  89 11                    89 11        PACER                78020103
PACER WAGON                          07  90 26    91 26                        PACER WAGON          78020153
CONCORD                              04  88 12    90 11   90 11   83 16        CONCORD              78020203
CONCORD WAGON                        07  91 30            91 30                CONCORD WAGON        78020253
MATADOR COUPE                        05  97 14    97 14                        MATADOR COUPE        78020303
MATADOR SEDAN                        06 110 20           110 20                MATADOR SEDAN        78020353
MATADOR WAGON                        09 112 50           112 50                MATADOR WAGON        78020403
ASTON MARTIN                                                                   ASTON MARTIN         78040002
ASTON MARTIN                                                                   ASTON MARTIN         78040053
AUDI                                                                           AUDI                 78050002
FOX                                  03  84 11    84 11   84 11                FOX                  78050053
FOX WAGON                            07  83 40            83 40                FOX WAGON            78050103
5000                                 04  90 15            90 15                5000                 78050153
AVANTI                                                                         AVANTI               78065002
AVANTI II                            02  75  8    75  8                        AVANTI II            78065053

In [8]:
read_table(epa, col_names = F)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  X1 = col_character(),
  X2 = col_character(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_double(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double(),
  X9 = col_double(),
  X10 = col_double(),
  X11 = col_character(),
  X12 = col_double()
)

   X1            X2 X3  X4 X5 X6 X7  X8 X9 X10 X11           X12
1  ALFA ROMEO        NA NA NA NA  NA NA NA NA  ALFA ROMEO    78010003
2  ALFETTA       03  81  8 74  7  89  9 NA NA  ALFETTA       78010053
3  SPIDER 2000   01  NA NA NA NA  NA NA NA NA  SPIDER 2000   78010103
4  AMC               NA NA NA NA  NA NA NA NA  AMC           78020002
5  GREMLIN       03  79  9 NA NA  NA NA 79  9  GREMLIN       78020053
6  PACER         04  89 11 NA NA  NA NA 89 11  PACER         78020103
7  PACER WAGON   07  90 26 91 26  NA NA NA NA  PACER WAGON   78020153
8  CONCORD       04  88 12 90 11  90 11 83 16  CONCORD       78020203
9  CONCORD WAGON 07  91 30 NA NA  91 30 NA NA  CONCORD WAGON 78020253
10 MATADOR COUPE 05  97 14 97 14  NA NA NA NA  MATADOR COUPE 78020303
11 MATADOR SEDAN 06 110 20 NA NA 110 20 NA NA  MATADOR SEDAN 78020353
12 MATADOR WAGON 09 112 50 NA NA 112 50 NA NA  MATADOR WAGON 78020403
13 ASTON MARTIN      NA NA NA NA  NA NA NA NA  ASTON MARTIN  78040002
14 ASTON MARTIN      NA NA NA NA  NA NA NA NA  ASTON MARTIN  78040053
15 AUDI              NA NA NA NA  NA NA NA NA  AUDI          78050002
16 FOX           03  84 11 84 11  84 11 NA NA  FOX           78050053
17 FOX WAGON     07  83 40 NA NA  83 40 NA NA  FOX WAGON     78050103
18 5000          04  90 15 NA NA  90 15 NA NA  5000          78050153
19 AVANTI            NA NA NA NA  NA NA NA NA  AVANTI        78065002
20 AVANTI II     02  75  8 75  8  NA NA NA NA  AVANTI II     78065053