In [2]:
library(tidyverse)

# Pivot data from long to wide

**`pivot_wider()`** "widens" data, increasing the number of columns and decreasing the number of rows. The inverse transformation is pivot_longer().

```r
pivot_wider(
  data,
  id_cols = NULL,
  names_from = name,
  names_prefix = "",
  names_sep = "_",
  names_glue = NULL,
  names_sort = FALSE,
  names_repair = "check_unique",
  values_from = value,
  values_fill = NULL,
  values_fn = NULL,
  ...
)
```

# Examples

<b><a href = './pivoting.ipynb'>See this notebook for detail explanation and more examples</a></b>

**`values_fill`**	
Optionally, a (scalar) value that specifies what each value should be filled in with when missing.

This can be a named list if you want to apply different aggregations to different value columns.

In [3]:
score <- tribble(
    ~name, ~subject, ~ grade,
    "a"  , 'Math', 8,
    "b"  , "english", 3
)

score

  name subject grade
1 a    Math    8
2 b    english 3

In [4]:
score %>% pivot_wider(names_from = subject, values_from = grade)

  name Math english
1 a     8   NA
2 b    NA    3

In [5]:
# fill NA in both column with -1

score %>% pivot_wider(names_from = subject, values_from = grade, values_fill = -1)

  name Math english
1 a     8   -1
2 b    -1    3