In [5]:
library(tidyverse)

This notebook is based on self-understanding

# Longer

### string data in column name

You are interested in the number of males and females in each country. So you visit several countries, ask for the number of males and females of these countries and obtain a dataset like this

In [2]:
pop <- data.frame(
    country = c('United States', 'China'),
    male = c(66, 80),
    female = c(34, 20)
)

pop

  country       male female
1 United States 66   34
2 China         80   20

In [6]:
pop %>% pivot_longer(
    cols = !country,   #Which columns should be reshaped, in this case, every column except country
    names_to = 'sex',
    values_to = 'count'
)

  country       sex    count
1 United States male   66
2 United States female 34
3 China         male   80
4 China         female 20

### numeric data in column names

Let's say you are playing Tank Force. For each player, ask for the number of tank level 7, level 8, level 9, level 10, level 11 that player has and obtained a dataset like this

In [8]:
TF <- data.frame(
    player = c('VN Pikachu', 'Meomeo888'),
    level7 = c(1, 0),
    level8 = c(1, 0),
    level9 = c(2, 2),
    level10 = c(5, 4),
    level11 = c(3, 3)
)

TF

  player     level7 level8 level9 level10 level11
1 VN Pikachu 1      1      2      5       3
2 Meomeo888  0      0      2      4       3

In [10]:
TF %>% pivot_longer(
    cols = !player,
    names_to = 'tank level',
    values_to = 'number of tanks',
    names_prefix = 'level',
    names_transform = list(`tank level` = as.integer)
)

   player     tank level number of tanks
1  VN Pikachu  7         1
2  VN Pikachu  8         1
3  VN Pikachu  9         2
4  VN Pikachu 10         5
5  VN Pikachu 11         3
6  Meomeo888   7         0
7  Meomeo888   8         0
8  Meomeo888   9         2
9  Meomeo888  10         4
10 Meomeo888  11         3

### many variables in column name

You are playing Tank Force. You are interested in 2 groups:
* `premium_H8_9`: Then number of premium heavy tanks levels 8-9
* `premium_L4_7`: The number of premium light tanks levels 4-7
* `normal_H8_11`: The number of normal medium tanks levels 8-11

For each clan, you will ask for the number of players having tanks in each group and obtained a dataset like this

In [18]:
TF <- data.frame(
    clan = c('VNC', 'Daemones'),
    `premium_H8_9` = c(10, 3),
    `premium_L4_7` = c(2, 6),
    `normal_H8_11` = c(8, 2)
)

TF

  clan     premium_H8_9 premium_L4_7 normal_H8_11
1 VNC      10           2            8
2 Daemones  3           6            2

In [19]:
TF %>% pivot_longer(
    cols = !clan,
    names_pattern = '([a-z]+)_(.)(.*)',
    names_to = c('vip', 'tank type', 'tier'),
    values_to = 'count'
)

  clan     vip     tank type tier count
1 VNC      premium H         8_9  10
2 VNC      premium L         4_7   2
3 VNC      normal  H         8_11  8
4 Daemones premium H         8_9   3
5 Daemones premium L         4_7   6
6 Daemones normal  H         8_11  2

### Multiple observations per row

For each clan, record the number of premium heavy tanks, normal heavy tanks, premium light tanks, normal light tanks

In [21]:
TF <- data.frame(
    clan = c('VN Champions', 'Daemones'),
    premium_heavy = c(5, 2),
    premium_light = c(3, 2),
    normal_heavy = c(8, 3),
    normal_light = c(7, 6)
)

TF

  clan         premium_heavy premium_light normal_heavy normal_light
1 VN Champions 5             3             8            7
2 Daemones     2             2             3            6

In [24]:
TF %>% pivot_longer(
    cols = !clan,
    names_sep = '_',
    names_to = c('tank vip', '.value'),
    values_to = 'count'
)

  clan         tank vip heavy light
1 VN Champions premium  5     3
2 VN Champions normal   8     7
3 Daemones     premium  2     2
4 Daemones     normal   3     6

In [25]:
TF %>% pivot_longer(
    cols = !clan, 
    names_sep = '_',
    names_to = c('.value', 'tank type'),
    values_to = 'count'
)

  clan         tank type premium normal
1 VN Champions heavy     5       8
2 VN Champions light     3       7
3 Daemones     heavy     2       3
4 Daemones     light     2       6

# Wider