In [2]:
library(tidyverse)

# Drop unused levels

Compared to base**`::droplevels()`**, does not drop NA levels that have values.

```r
fct_drop(f, only)
```
**Arguments**   
`f`	
A factor (or character vector).

`only`	
A character vector restricting the set of levels to be dropped. If supplied, only levels that have no entries and appear in this vector will be removed.

# Examples

In [13]:
fruits <- factor(c('Apple', 'Banana'), levels = c('Apple', 'Banana', 'Durian', 'Coconut'))

fruits

fruits %>% levels()

[1] Apple  Banana
Levels: Apple Banana Durian Coconut

[1] "Apple"   "Banana"  "Durian"  "Coconut"

In [15]:
# The values of factor `fruits` only have 2 distinct values 'Apple' and 'Banana'
# Drop categories does not appear in the data ('Durian' and 'Coconut')
fruits_1 <- fruits %>% fct_drop() 

fruits_1
fruits_1 %>% levels()

[1] Apple  Banana
Levels: Apple Banana

[1] "Apple"  "Banana"

In [18]:
# If category 'Durian' does not appear in the data, drop it
# Notice the difference to the above example
# In this case, category 'Coconut' is not removed.
fruits_2 <- fruits %>% fct_drop(only = 'Durian')

fruits_2

fruits_2 %>% levels()

[1] Apple  Banana
Levels: Apple Banana Coconut

[1] "Apple"   "Banana"  "Coconut"