In [2]:
library(tidyverse)

# Parse logicals, integers and reals

Use `parse_*()` if you have a character vector you want to parse. Use `col_*()` in conjunction with a `read_*()` function to parse the values as they're read in.

```r
parse_logical(x, na = c("", "NA"), locale = default_locale(), trim_ws = TRUE)

parse_integer(x, na = c("", "NA"), locale = default_locale(), trim_ws = TRUE)

parse_double(x, na = c("", "NA"), locale = default_locale(), trim_ws = TRUE)

parse_character(x, na = c("", "NA"), locale = default_locale(), trim_ws = TRUE)

col_logical()

col_integer()

col_double()

col_character()
```

# Examples

See <b><a href = '../Introduction.ipynb'>Introduction Notebook</a></b> for more detail and examples

In [3]:
parse_integer(c("1", "2", "3"))

[1] 1 2 3

In [4]:
parse_double(c("1", "2", "3.123"))

[1] 1.000 2.000 3.123

In [5]:
parse_number("$1,123,456.00")

[1] 1123456

In [7]:
parse_number("$1.123.456,00", locale = locale(decimal_mark = ','))

[1] 1123456

Invalid values are replaced with missing values with a warning.

In [8]:
x <- c("1", "2", "3", "-")

parse_integer(x)

Warning message:
"1 parsing failure.
row col   expected actual
  4  -- an integer      -
"

[1]  1  2  3 NA
attr(,"problems")
# A tibble: 1 x 4
    row   col expected   actual
  <int> <int> <chr>      <chr>
1     4    NA an integer -