In [2]:
library(tidyverse)

# Parse number flexibly

This drops any non-numeric characters before or after the first number. The grouping mark specified by the locale is ignored inside the number.

```r
parse_number(x, na = c("", "NA"), locale = default_locale(), trim_ws = TRUE)

col_number()
```

# Examples

In [3]:
parse_number('$1000')

[1] 1000

In [4]:
parse_number('euro25.32')

[1] 25.32

In [5]:
parse_number('1,3234.53')

[1] 13234.53

In [6]:
parse_number('1.3234,53', locale = locale(decimal_mark = ','))

[1] 13234.53

Specifying strings for NAs

In [8]:
parse_number(c('1', '2', 'nan', 'NA'), na = c('NA', 'nan'))

[1]  1  2 NA NA