In [2]:
library(tidyverse)

# Flatten a list of lists into a simple vector.

These functions remove a level hierarchy from a list. They are similar to `unlist()`, but they only ever remove a single layer of hierarchy and they are type-stable, so you always know what the type of the output is.

```r
flatten(.x)

flatten_lgl(.x)

flatten_int(.x)

flatten_dbl(.x)

flatten_chr(.x)

flatten_raw(.x)

flatten_dfr(.x, .id = NULL)

flatten_dfc(.x)
```

**Arguments**  
`.x`	
A list to flatten. The contents of the list can be anything for `flatten()` (as a list is returned), but the contents must match the type for the other functions.

`.id`	
Either a string or NULL. If a string, the output will contain a variable with that name, storing either the name (if .x is named) or the index (if .x is unnamed) of the input. If NULL, the default, no variable will be created.

Only applies to _dfr variant.

# Examples

In [3]:
x <-list(1:5, 1:5)

In [4]:
# Return a list
x %>% flatten()

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 1

[[7]]
[1] 2

[[8]]
[1] 3

[[9]]
[1] 4

[[10]]
[1] 5

In [9]:
# return an integer vector
x %>% flatten_int()

 [1] 1 2 3 4 5 1 2 3 4 5

ERROR: Error in flatten(., 2L): unused argument (2)

In [8]:
# return a character vector
x %>% flatten_chr()

 [1] "1" "2" "3" "4" "5" "1" "2" "3" "4" "5"