In [2]:
library(tidyverse)

# Modify a list

`list_modify()` and `list_merge()` recursively combine two lists, matching elements either by name or position. If a sub-element is present in both lists `list_modify()` takes the value from y, and `list_merge()` concatenates the values together.

```r
list_modify(.x, ...)

list_merge(.x, ...)
```

**Arguments**  
`.x`	
List to modify.

`...`	
New values of a list. Use `zap()` to remove values.

These values should be either all named or all unnamed. When inputs are all named, they are matched to .x by name. When they are all unnamed, they are matched positionally.

These dots support tidy dots features. In particular, if your functions are stored in a list, you can splice that in with !!!.

# Examples

**`list_modify`**: It works like setting a value for a dictionary in python

In [6]:
x <- list(x = 1:10, y = 4, z = c(a = 1, b = 2))
x

$x
 [1]  1  2  3  4  5  6  7  8  9 10

$y
[1] 4

$z
a b
1 2

In [7]:
# Change the element of name $z to 1
x %>% list_modify(z = 1)

$x
 [1]  1  2  3  4  5  6  7  8  9 10

$y
[1] 4

$z
[1] 1

In [10]:
# If the name is not presented in the list, it will be added
x %>% list_modify(a = 1)

$x
 [1]  1  2  3  4  5  6  7  8  9 10

$y
[1] 4

$z
a b
1 2

$a
[1] 1

In [12]:
# modify multiple values
x %>% list_modify(z = 1:5, a = 1)

$x
 [1]  1  2  3  4  5  6  7  8  9 10

$y
[1] 4

$z
[1] 1 2 3 4 5

$a
[1] 1

remove values using **`zap()`**: This works like removing a key in a dictionary in python

In [13]:
x %>% list_modify(x = zap(), z = zap())

$y
[1] 4

**`list_merge()`**: merging values

In [16]:
x %>% list_merge(x = 11, y = 5:8, z = c(a = 2:5, c = 4))

$x
 [1]  1  2  3  4  5  6  7  8  9 10 11

$y
[1] 4 5 6 7 8

$z
 a  b a1 a2 a3 a4  c
 1  2  2  3  4  5  4

All these funtions support tidy dots. use !!! to splice

In [17]:
l <- list(new = 1, y = zap(), z = 5)

x %>% list_modify(!!!l)

$x
 [1]  1  2  3  4  5  6  7  8  9 10

$z
[1] 5

$new
[1] 1