In [42]:
import pandas as pd
import numpy as np
import os
import re
os.chdir(r'C:\Users\dell\PycharmProjects\MachineLearning\Pandas\datasets')

In [7]:
dir(pd.Series.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [2]:

#NOTE: convert Series/Index Object to String object then perform string functions (provided by pandas) : use --> Series.str
#Most importantly, these functions ignore NaN values
status = pd.Series(['DeAd', 'aLiVe'], index = ['Romeo', 'Juliet'])
print(status.str.islower())
print(status.str.isupper())
print(status)
print(status.str.lower())
print(status.str.upper())
print(status.str.count('e'))
print(status.str.contains('eA'))
print(status.str.capitalize())
print(status.str.replace('e', '3'))
print(status.str.len())
print(status.str.isnumeric())
print(status.str.startswith('D'))
print(status.str.endswith('d'))
print(status.str.find('e'))
print(status.str.cat(sep='<3'))
#get_dummies

Romeo     False
Juliet    False
dtype: bool
Romeo     False
Juliet    False
dtype: bool
Romeo      DeAd
Juliet    aLiVe
dtype: object
Romeo      dead
Juliet    alive
dtype: object
Romeo      DEAD
Juliet    ALIVE
dtype: object
Romeo     1
Juliet    1
dtype: int64
Romeo      True
Juliet    False
dtype: bool
Romeo      Dead
Juliet    Alive
dtype: object
Romeo      D3Ad
Juliet    aLiV3
dtype: object
Romeo     4
Juliet    5
dtype: int64
Romeo     False
Juliet    False
dtype: bool
Romeo      True
Juliet    False
dtype: bool
Romeo      True
Juliet    False
dtype: bool
Romeo     1
Juliet    4
dtype: int64
DeAd<3aLiVe

In [35]:
names = pd.Series(['VN Pikachu', 'Tank Cao', 'bac giang vn', 'quachtinh', '394588'], name = 'VN Champions')

In [9]:
#Converts strings in the Series/Index to lower case.
names.str.lower()

0      vn pikachu
1        tank cao
2    bac giang vn
3       quachtinh
Name: VN Champions, dtype: object

2	


Converts strings in the Series/Index to upper case.

In [10]:
names.str.upper()

0      VN PIKACHU
1        TANK CAO
2    BAC GIANG VN
3       QUACHTINH
Name: VN Champions, dtype: object

3	


Computes String length().

In [11]:
names.str.len()

0    10
1     8
2    12
3     9
Name: VN Champions, dtype: int64

4	


Helps strip whitespace(including newline) from each string in the Series/index from both the sides.

In [14]:
names.str.strip()

0      VN Pikachu
1        Tank Cao
2    bac giang vn
3       quachtinh
Name: VN Champions, dtype: object

5	


Splits each string with the given pattern.

In [15]:
names.str.split(' ')

0       [VN, Pikachu]
1         [Tank, Cao]
2    [bac, giang, vn]
3         [quachtinh]
Name: VN Champions, dtype: object

6	


Concatenates the series/index elements with given separator.

In [21]:
names.str.cat(sep = ' |  ')

'VN Pikachu |  Tank Cao |  bac giang vn |  quachtinh'

7	


Returns the DataFrame with One-Hot Encoded values.

In [22]:
names.str.get_dummies()

   Tank Cao  VN Pikachu  bac giang vn  quachtinh
0         0           1             0          0
1         1           0             0          0
2         0           0             1          0
3         0           0             0          1

8	


Returns a Boolean value True for each element if the substring contains in the element, else False.

In [24]:
names.str.lower().str.contains('vn')

0     True
1    False
2     True
3    False
Name: VN Champions, dtype: bool

9	


Replaces the value a with the value b.

In [25]:
names.str.replace('o', '0')

0      VN Pikachu
1        Tank Ca0
2    bac giang vn
3       quachtinh
Name: VN Champions, dtype: object

10	


Repeats each element with specified number of times.

In [27]:
names.str.repeat(3)

0          VN PikachuVN PikachuVN Pikachu
1                Tank CaoTank CaoTank Cao
2    bac giang vnbac giang vnbac giang vn
3             quachtinhquachtinhquachtinh
Name: VN Champions, dtype: object

11	


Returns count of appearance of pattern in each element.

In [29]:
names.str.count('vn')

0    0
1    0
2    1
3    0
Name: VN Champions, dtype: int64

12	


Returns true if the element in the Series/Index starts with the pattern.

In [31]:
names.str.startswith('V')

0     True
1    False
2    False
3    False
Name: VN Champions, dtype: bool

13	


Returns true if the element in the Series/Index ends with the pattern.

In [33]:
names.str.endswith('n')

0    False
1    False
2     True
3    False
Name: VN Champions, dtype: bool

14	


Returns the first position of the first occurrence of the pattern.

In [45]:
names.str.find(r'vn')

0    -1
1    -1
2    10
3    -1
4    -1
Name: VN Champions, dtype: int64

15	


Returns a list of all occurrence of the pattern.

In [46]:
names.str.findall('vn')

0      []
1      []
2    [vn]
3      []
4      []
Name: VN Champions, dtype: object




Swaps the case lower/upper.

In [39]:
names.str.swapcase()

0      vn pIKACHU
1        tANK cAO
2    BAC GIANG VN
3       QUACHTINH
4          394588
Name: VN Champions, dtype: object

17	


Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean

In [38]:
names.str.islower()

0    False
1    False
2     True
3     True
4    False
Name: VN Champions, dtype: bool

18	


Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.

In [37]:
names.str.isupper()

0    False
1    False
2    False
3    False
4    False
Name: VN Champions, dtype: bool

19	


Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [36]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
4     True
Name: VN Champions, dtype: bool

# Tricks

In [3]:
pd.Series.get?

Signature: pd.Series.get(self, key, default=None)
Docstring:
Get item from object for given key (ex: DataFrame column).

Returns default value if not found.

Parameters
----------
key : object

Returns
-------
value : same type as items contained in object
File:      ~/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py
Type:      function

In [4]:
pd.Series.str.get?

Signature: pd.Series.str.get(self, i)
Docstring:
Extract element from each component at specified position.

Extract element from lists, tuples, or strings in each element in the
Series/Index.

Parameters
----------
i : int
    Position of element to extract.

Returns
-------
Series or Index

Examples
--------
>>> s = pd.Series(["String",
...               (1, 2, 3),
...               ["a", "b", "c"],
...               123,
...               -456,
...               {1: "Hello", "2": "World"}])
>>> s
0                        String
1                     (1, 2, 3)
2                     [a, b, c]
3                           123
4                          -456
5    {1: 'Hello', '2': 'World'}
dtype: object

>>> s.str.get(1)
0        t
1        2
2        b
3      NaN
4      NaN
5    Hello
dtype: object

>>> s.str.get(-1)
0      g
1      3
2      c
3    NaN
4    NaN
5    None
dtype: object
File:      ~/anaconda3/lib/python3.7/site-packages/pandas/core/strings/accessor.py
Type:      function

In [5]:
values = pd.Series([('a', 'b', 'c'), ('x', 'y', 'z')])
values

0    (a, b, c)
1    (x, y, z)
dtype: object

In [6]:
values.str.get(1)

0    b
1    y
dtype: object