In [2]:
library(tidyverse)

# Switch location of matches to location of non-matches.

Invert a matrix of match locations to match the opposite of what was previously matched.

```r
invert_match(loc)
```

**Arguments**  
`loc` 	
matrix of match locations, as from **`str_locate_all()`**

# Examples

In [6]:
numbers <- "1 and 2 and 4 and 456"

In [24]:
num_loc <- str_locate_all(numbers, "[0-9]+")[[1]]

num_loc

     start end
[1,]  1     1
[2,]  7     7
[3,] 13    13
[4,] 19    21

In [27]:
num_loc_invert <- invert_match(num_loc)
num_loc_invert

     start end
[1,]  0     0
[2,]  2     6
[3,]  8    12
[4,] 14    18
[5,] 22    -1

In [26]:
numbers %>% str_sub(num_loc[,1], num_loc[,2])

[1] "1"   "2"   "4"   "456"

In [28]:
numbers %>% str_sub(num_loc_invert[,1], num_loc_invert[,2])

[1] ""      " and " " and " " and " ""