In [3]:
library(tidyverse)

# Join multiple strings into a single string

Joins two or more vectors element-wise into a single character vector, optionally inserting sep between input vectors. If collapse is not NULL, it will be inserted between elements of the result, returning a character vector of length 1.

```r
# equivalent to: base::paste
str_c(..., sep = "", collapse = NULL)
```

**Arguments**  
 `...`	
One or more character vectors. Zero length arguments are removed. Short arguments are recycled to the length of the longest.

Like most other R functions, missing values are "infectious": whenever a missing value is combined with another string the result will always be missing. Use str_replace_na() to convert NA to "NA"

 `sep`	
String to insert between input vectors.

`collapse`	
Optional string used to combine input vectors into single string.

# Missing values

In [6]:
# Missing inputs give missing outputs
str_c(NA, 'a')

[1] NA

In [7]:
# Use str_replace_NA to display literal NAs:
str_c(str_replace_na(c("a", NA, "b")), "-d")

[1] "a-d"  "NA-d" "b-d"

In [8]:
# This is diffrerent from base R paste and paste0, which convert NA to 'NA' then concatenate
paste0(NA, 'a')

[1] "NAa"

# Examples

In [4]:
str_c('I am', 'VN', 'Pikachu', sep = ' ')

[1] "I am VN Pikachu"

In [5]:
str_c(c('VNC', 'VN'), c('Son La TF', 'Van Du'), sep = '--')

[1] "VNC--Son La TF" "VN--Van Du"

In [6]:
# collapse the result above into a single string

str_c(c('VNC', 'VN'), c('Son La TF', 'Van Du'), sep = '--', collapse = '***')

[1] "VNC--Son La TF***VN--Van Du"

In [7]:
# recyle (broadcast)

str_c('I', c('First', 'Second'), sep = '+')

[1] "I+First"  "I+Second"

Object of length 0 is silently dropped, this is particularly useful in conjunction with `if`

In [5]:
is_pikachu <- T

str_c('Hi ', if(is_pikachu) 'Pikachu', '!')
      
is_pikachu <- F
      
str_c('Hi ', if(is_pikachu) 'Pikachu', '!')

[1] "Hi Pikachu!"

[1] "Hi !"

To collapse a vector of strings into a single string, use `collapse`:

In [8]:
letters %>% str_c(collapse = ', ')

[1] "a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z"