In [2]:
library(lubridate)

# Parse dates with year, month, and day components

Transforms dates stored in character and numeric vectors to Date or POSIXct objects (see `tz` argument). These functions recognize arbitrary non-digit separators as well as no separator. As long as the order of formats is correct, these functions will parse dates correctly even when the input vectors contain differently formatted dates.

```r
ymd(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ydm(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

mdy(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

myd(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

dmy(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

dym(
  ...,
  quiet = FALSE,
  tz = NULL,
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

yq(..., quiet = FALSE, tz = NULL, locale = Sys.getlocale("LC_TIME"))
```

### Arguments

<hr>

**`...`**	
a character or numeric vector of suspected dates

<hr>

A character vector of dates

In [5]:
x <- c("09-01-01", "09-01-02", "09-01-03")

ymd(x)

[1] "2009-01-01" "2009-01-02" "2009-01-03"

In [6]:
x <- c("2009-01-01", "2009-01-02", "2009-01-03")

ymd(x)

[1] "2009-01-01" "2009-01-02" "2009-01-03"

In [10]:
# The second quarter of year 2012
yq('2012.2')

[1] "2012-04-01"

A numeric vector of dates

In [7]:
ymd(090101, 90102)

[1] "2009-01-01" "2009-01-02"

In [8]:
dmy(061001)

[1] "2001-10-06"

In [11]:
## heterogeneous formats in a single vector:
x <- c(20090101, "2009-01-02", "2009 01 03", "2009-1-4",
       "2009-1, 5", "Created on 2009 1 6", "200901 !!! 07")

ymd(x)

[1] "2009-01-01" "2009-01-02" "2009-01-03" "2009-01-04" "2009-01-05"
[6] "2009-01-06" "2009-01-07"

In [13]:
# What lubridate might not handle:

# Extremely weird cases when one of the separators is "" and some of the
# formats are not in double digits might not be parsed correctly:

dmy("0312-2010", "312-2010")

Warning message:
" 1 failed to parse."

[1] "2010-12-03" NA

<hr>

**`tz`** 	
Time zone indicator. If NULL (default), a Date object is returned. Otherwise a POSIXct with time zone attribute set to `tz`.

In [14]:
# set time zone, return a POSIXct.

dmy('06/10/2001', tz = 'US/central')

[1] "2001-10-06 CDT"

<hr>

**`quiet`**	
logical. If TRUE, function evaluates without displaying customary messages.

<hr>

**`locale`**	
locale to be used

<hr>

**`truncated`**	
integer. Number of formats that can be truncated.
<hr>

If the truncated parameter is non-zero, the `ymd()` functions also check for truncated formats. For example, `ymd()` with `truncated = 2` will also parse incomplete dates like 2012-06 and 2012.

In [19]:
# allow missing up to 2 elements: day and month
ymd('2012-06', truncated = 2)

[1] "2012-06-01"

In [20]:
# allow missing up to 2 elements: day and month
ymd('2012', truncated = 2)

[1] "2012-01-01"

### Value

a vector of class POSIXct if tz argument is non-NULL or Date if tz is NULL (default)

# Parse date-times with year, month, and day, hour, minute, and second components.

Transform dates stored as character or numeric vectors to POSIXct objects.   
The `ymd_hms()` family of functions recognizes all non-alphanumeric separators (with the exception of "." if `frac = TRUE`) and correctly handles heterogeneous date-time representations.

```r
ymd_hms(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ymd_hm(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ymd_h(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

dmy_hms(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

dmy_hm(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

dmy_h(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

mdy_hms(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

mdy_hm(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

mdy_h(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ydm_hms(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ydm_hm(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)

ydm_h(
  ...,
  quiet = FALSE,
  tz = "UTC",
  locale = Sys.getlocale("LC_TIME"),
  truncated = 0
)
```

### Examples

In [3]:
x <- c("2010-04-14-04-35-59", "2010-04-01-12-00-00")

ymd_hms(x)

[1] "2010-04-14 04:35:59 UTC" "2010-04-01 12:00:00 UTC"

In [4]:
x <- c("2011-12-31 12:59:59", "2010-01-01 12:00:00")

ymd_hms(x)

[1] "2011-12-31 12:59:59 UTC" "2010-01-01 12:00:00 UTC"

In [5]:
## ** heterogeneous formats **
x <- c(20100101120101, "2009-01-02 12-01-02", "2009.01.03 12:01:03",
       "2009-1-4 12-1-4",
       "2009-1, 5 12:1, 5",
       "200901-08 1201-08",
       "2009 arbitrary 1 non-decimal 6 chars 12 in between 1 !!! 6",
       "OR collapsed formats: 20090107 120107 (as long as prefixed with zeros)",
       "Automatic wday, Thu, detection, 10-01-10 10:01:10 and p format: AM",
       "Created on 10-01-11 at 10:01:11 PM")

ymd_hms(x)

 [1] "2010-01-01 12:01:01 UTC" "2009-01-02 12:01:02 UTC"
 [3] "2009-01-03 12:01:03 UTC" "2009-01-04 12:01:04 UTC"
 [5] "2009-01-05 12:01:05 UTC" "2009-01-08 12:01:08 UTC"
 [7] "2009-01-06 12:01:06 UTC" "2009-01-07 12:01:07 UTC"
 [9] "2010-01-10 10:01:10 UTC" "2010-01-11 22:01:11 UTC"

In [6]:
## ** fractional seconds **
op <- options(digits.secs=3)
dmy_hms("20/2/06 11:16:16.683")

[1] "2006-02-20 11:16:16.683 UTC"

In [7]:
## ** different formats for ISO8601 timezone offset **
ymd_hms(c("2013-01-24 19:39:07.880-0600",
"2013-01-24 19:39:07.880", "2013-01-24 19:39:07.880-06:00",
"2013-01-24 19:39:07.880-06", "2013-01-24 19:39:07.880Z"))

[1] "2013-01-25 01:39:07.88 UTC" "2013-01-24 19:39:07.88 UTC"
[3] "2013-01-25 01:39:07.88 UTC" "2013-01-25 01:39:07.88 UTC"
[5] "2013-01-24 19:39:07.88 UTC"

If the `truncated` parameter is non-zero, the `ymd_hms()` functions also check for truncated formats. For example, `ymd_hms()` with `truncated = 3` will also parse incomplete dates like `2012-06-01 12:23`, `2012-06-01 12` and `2012-06-01`

In [11]:
## ** truncated time-dates **
ymd_hms('2012-06-01 12', '2012-06-01 12:23', truncated = 0) # default

ymd_hms('2012-06-01 12', '2012-06-01 12:23', truncated = 3)

Warning message:
" 1 failed to parse."

[1] NA                        "2020-12-06 01:12:23 UTC"

[1] "2012-06-01 12:00:00 UTC" "2012-06-01 12:23:00 UTC"

# Parse periods with hour, minute, and second components

Transforms a character or numeric vector into a period object with the specified number of hours, minutes, and seconds. `hms()` recognizes all non-numeric characters except '-' as separators ('-' is used for negative `durations`). After hours, minutes and seconds have been parsed, the remaining input is ignored.

```r
ms(..., quiet = FALSE, roll = FALSE)

hm(..., quiet = FALSE, roll = FALSE)

hms(..., quiet = FALSE, roll = FALSE)
```

**Arguments**  
`roll`	
logical. If TRUE, smaller units are rolled over to higher units if they exceed the conventional limit. For example, `hms("01:59:120", roll = TRUE)` produces period "2H 1M 0S".

### Value

A vector of period object

### Examples

In [12]:
ms(c("09:10", "09:02", "1:10"))

[1] "9M 10S" "9M 2S"  "1M 10S"

In [13]:
ms('7 6')

[1] "7M 6S"

In [14]:
ms('7,6')

[1] "7M 6S"

In [15]:
x <- c("09:10:01", "09:10:02", "09:10:03")

hms(x)

[1] "9H 10M 1S" "9H 10M 2S" "9H 10M 3S"

In [16]:
hms("7 6 5", "3:23:::2", "2 : 23 : 33", "Finished in 9 hours, 20 min and 4 seconds")

[1] "7H 6M 5S"   "3H 23M 2S"  "2H 23M 33S" "9H 20M 4S"

In [3]:
ms('1:120')

ms('1:120', roll = T)

[1] "1M 120S"

[1] "3M 0S"