In [2]:
library(tidyverse)

# Return melted data for each token in a fixed width file

For certain non-rectangular data formats, it can be useful to parse the data into a melted format where each row represents a single token.

```r
melt_fwf(
  file,
  col_positions,
  locale = default_locale(),
  na = c("", "NA"),
  comment = "",
  trim_ws = TRUE,
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  skip_empty_rows = FALSE
)
```

# Examples

Works exactly the same as **`read_fwf()`**, but return a **melted format** instead of a data frame

In [4]:
sample_path <- readr_example("fwf-sample.txt")

In [6]:
melt_fwf(sample_path, fwf_empty(sample_path))

   row col data_type value
1  1   1   character John
2  1   2   character Smith
3  1   3   character WA
4  1   4   character 418-Y11-4111
5  2   1   character Mary
6  2   2   character Hartford
7  2   3   character CA
8  2   4   character 319-Z19-4341
9  3   1   character Evan
10 3   2   character Nolan
11 3   3   character IL
12 3   4   character 219-532-c301