In [2]:
library(tidyverse)

# Return melted data for each token in a whitespace-separated file

For certain non-rectangular data formats, it can be useful to parse the data into a melted format where each row represents a single token.

```r
melt_table(
  file,
  locale = default_locale(),
  na = "NA",
  skip = 0,
  n_max = Inf,
  guess_max = min(n_max, 1000),
  progress = show_progress(),
  comment = "",
  skip_empty_rows = FALSE
)

melt_table2(
  file,
  locale = default_locale(),
  na = "NA",
  skip = 0,
  n_max = Inf,
  progress = show_progress(),
  comment = "",
  skip_empty_rows = FALSE
)
```

# Examples

Work exactly the same as **`read_table()`**, **`read_table2()`** but return a **melted format** instead of a data frame

In [3]:
massey <- readr_example("massey-rating.txt")

melt_table(massey)

    row col data_type value
1   1    1  character UCC
2   1    2  character PAY
3   1    3  character LAZ
4   1    4  character KPK
5   1    5  character RT
6   1    6  character COF
7   1    7  character BIH
8   1    8  character DII
9   1    9  character ENG
10  1   10  character ACU
11  1   11  character Rank
12  1   12  character Team
13  1   13  character Conf
14  2    1  integer   1
15  2    2  integer   1
16  2    3  integer   1
17  2    4  integer   1
18  2    5  integer   1
19  2    6  integer   1
20  2    7  integer   1
21  2    8  integer   1
22  2    9  integer   1
23  2   10  integer   1
24  2   11  integer   1
25  2   12  character Ohio St
26  2   13  character B10
27  3    1  integer   2
28  3    2  integer   2
29  3    3  integer   2
30  3    4  integer   2
... ... ... ...       ...
114  9  10  integer   7
115  9  11  integer   8
116  9  12  character Baylor
117  9  13  character B12
118 10   1  integer   9
119 10   2  integer   11
120 10   3  integer   8
121 10   4  integer   13
122 10   5  integer   11
123 10   6  integer   11
124 10   7  integer   12
125 10   8  integer   9
126 10   9  integer   14
127 10  10  integer   9
128 10  11  integer   9
129 10  12  character Georgia Tech
130 10  13  character ACC
131 11   1  integer   13
132 11   2  integer   10
133 11   3  integer   13
134 11   4  integer   11
135 11   5  integer   8
136 11   6  integer   9
137 11   7  integer   10
138 11   8  integer   11
139 11   9  integer   9
140 11  10  integer   10
141 11  11  integer   10
142 11  12  character Mississippi
143 11  13  character SEC