In [2]:
library(tidyverse)

# Keep or discard elements using a predicate function.

```r
keep(.x, .p, ...)

discard(.x, .p, ...)

compact(.x, .p = identity)
```

# Examples

In [3]:
values <- c(5, 23, 51, 235, 31)

In [4]:
# keep values that are a multiple of 5

values %>% keep(~ . %% 5 == 0)

[1]   5 235

In [5]:
# discard values that are a multiple of 5
values %>% discard(~ . %% 5 == 0)

[1] 23 51 31

In [6]:
# compact() discards elements that are NULL or that have length zero
list(a = "a", b = NULL, c = integer(0), d = NA, e = list()) %>% compact()

$a
[1] "a"

$d
[1] NA