In [2]:
library(tidyverse)

# Count entries in a factor

Count entries in a factor
```r
fct_count(f, sort = FALSE, prop = FALSE)
```

**Arguments**  
`f`	
A factor (or character vector).

`sort`	
If TRUE, sort the result so that the most common values float to the top.

`prop`	
If TRUE, compute the fraction of marginal table.

# Examples

In [3]:
fruits <- factor(c('Apple', 'Apple', 'Banana', 'Durian', 'Durian', 'Durian'))

In [4]:
# calculate the frequency of each category, sort result by frequency

fruits %>% fct_count(sort = T)

  f      n
1 Durian 3
2 Apple  2
3 Banana 1

In [5]:
# Relative frequency
fruits %>% fct_count(prop = T)

  f      n p
1 Apple  2 0.3333333
2 Banana 1 0.1666667
3 Durian 3 0.5000000