In [4]:
library(tidyverse)

# Extract a character column into multiple columns using regular expression groups

Given a regular expression with capturing groups, **`extract()`** turns each group into a new column. If the groups don't match, or the input is NA, the output will be NA.

```r
extract(
  data,
  col,
  into,
  regex = "([[:alnum:]]+)",
  remove = TRUE,
  convert = FALSE,
  ...
)
```

# Examples

In [1]:
df <- data.frame(x = c(NA, "a-b", "a-d", "b-c", "d-e"))

df

  x
1 NA
2 a-b
3 a-d
4 b-c
5 d-e

In [6]:
#using default:  regex = "([[:alnum:]]+)" ---> captured first consecutive alphanumeric characters
df %>% extract(col = x, into = 'A')

  A
1 NA
2 a
3 a
4 b
5 d

In [7]:
df %>% extract(x, c("A", "B"), "([[:alnum:]]+)-([[:alnum:]]+)")

  A  B
1 NA NA
2 a  b
3 a  d
4 b  c
5 d  e

In [8]:
# If no match, NA:
df %>% extract(x, c("A", "B"), "([a-d]+)-([a-d]+)")

  A  B
1 NA NA
2 a  b
3 a  d
4 b  c
5 NA NA