In [3]:
library(tidyverse)

# Separate a collapsed column into multiple rows

If a variable contains observations with multiple delimited values, this separates the values and places each one in its own row.

```r
separate_rows(data, ..., sep = "[^[:alnum:].]+", convert = FALSE)
```

# Examples

In [4]:
df <- tibble(
  x = 1:3,
  y = c("a", "d,e,f", "g,h"),
  z = c("1", "2,3,4", "5,6")
)

df

  x y     z
1 1 a     1
2 2 d,e,f 2,3,4
3 3 g,h   5,6

In [10]:
#separate 2 columns y and z at the same time
#Automatically convert '1' to 1
df %>% separate_rows(y, z, convert =T) 

# select columns using tidy select
# df %>% separate_rows(c(y, z), convert = T)

  x y z
1 1 a 1
2 2 d 2
3 2 e 3
4 2 f 4
5 3 g 5
6 3 h 6

In [11]:
df %>% separate_rows(y)

  x y z
1 1 a 1
2 2 d 2,3,4
3 2 e 2,3,4
4 2 f 2,3,4
5 3 g 5,6
6 3 h 5,6

In [12]:
df %>% separate_rows(z)

  x y     z
1 1 a     1
2 2 d,e,f 2
3 2 d,e,f 3
4 2 d,e,f 4
5 3 g,h   5
6 3 g,h   6