In [2]:
library(tidyverse)

# Unite multiple columns into one by pasting strings together

Convenience function to paste together multiple columns into one.

```r
unite(data, col, ..., sep = "_", remove = TRUE, na.rm = FALSE)
```

# Examples

In [3]:
df <- expand_grid(x = c("a", NA), y = c("b", NA))
df

  x  y
1 a  b
2 a  NA
3 NA b
4 NA NA

In [5]:

df %>% unite(col = 'result', # Set the name of the new column to result
             x:y,            # tidy-select: columns to join
             sep = '--')

  result
1 a--b
2 a--NA
3 NA--b
4 NA--NA

In [6]:
#remove = FALSE will do not remove input column
df %>% unite(col = 'result',
             x:y,
             sep = '--',
             remove = F)

  result x  y
1 a--b   a  b
2 a--NA  a  NA
3 NA--b  NA b
4 NA--NA NA NA

In [9]:
df %>% unite(col = 'result',
            x:y,
            sep = '--',
            na.rm = T       #remove rows having columns of interest contains NA before joining
            )

  result
1 a--b
2 a
3 b
4

In [13]:
## Separate is almost the complement of unite

df %>% 
unite(
    'result',
    x:y,
    sep = '---'
) %>%

separate(col = result, into = c('x', 'y'), sep = '---')

  x  y
1 a  b
2 a  NA
3 NA b
4 NA NA