# Joining Columns and Rows in a Data Frame

**`cbind()`**

In [7]:
city <- c("Tampa","Seattle","Hartford","Denver")
state <- c("FL","WA","CT","CO")
zipcode <- c(33602,98104,06161,80294)

adress <- cbind(city, state, zipcode)
adress

     city     state zipcode
[1,] Tampa    FL    33602
[2,] Seattle  WA    98104
[3,] Hartford CT    6161
[4,] Denver   CO    80294

In [8]:
class(adress)

[1] "matrix"

**`rbind()`**

In [6]:
new.address <- data.frame(
   city = c("Lowry","Charlotte"),
   state = c("CO","FL"),
   zipcode = c("80230","33949"),
   stringsAsFactors = FALSE
)

new.address

  city      state zipcode
1 Lowry     CO    80230
2 Charlotte FL    33949

In [9]:
rbind(adress, new.address)

  city      state zipcode
1 Tampa     FL    33602
2 Seattle   WA    98104
3 Hartford  CT    6161
4 Denver    CO    80294
5 Lowry     CO    80230
6 Charlotte FL    33949

# Merging Data Frames

We can merge two data frames by using the **merge()** function.  
The data frames must have same column names on which the merging happens.

# Melting and Casting

ne of the most interesting aspects of R programming is about changing the shape of the data in multiple steps to get a desired shape. The functions used to do this are called **`melt()`** and **`cast()`**.