In [1]:
level <- 33

# if

In [4]:
if(level > 29) {
    print('Army General')
}

[1] "Army General"

When you use the single argument form without an else statement, if invisibly (Section 6.7.2) returns `NULL` if the condition is `FALSE`.

In [2]:
x <- if(T) 3

y <- if(F) 3

x # 3

y # NULL

[1] 3

NULL

This behavior is useful for functions like `c()`, `paste0`, `stringr::str_c`, ... because it ignores `NULL`

In [3]:
c('VN Pikachu', if(T) 'Dr Strange', 'Tank Cao')

[1] "VN Pikachu" "Dr Strange" "Tank Cao"

In [4]:
c('VN Pikachu', if(F) 'Dr Strange', 'Tank Cao')

[1] "VN Pikachu" "Tank Cao"

In [6]:
stringr::str_c('xXx-', if(F) 'Hadi', '-xXx')

[1] "xXx--xXx"

# if...else

In [6]:
level = 19

In [7]:
if(level > 29) {
    print('Army General')
} else if(level > 24) {
    print('Colonel')
} else {
    print('Solider')
}

[1] "Solider"

# ifelse

I recommend using `ifelse()` only when the yes and no vectors are the same type as it is otherwise hard to predict the output type

In [2]:
#like np.where
x <- 9.2
ifelse(x > 9, 'Good', 'Bad')

[1] "Good"

In [4]:
scores <- c(5, 2, 9, 7)
ifelse(scores > 5, 'Large', 'Small')

[1] "Small" "Small" "Large" "Large"

# dplyr::case_when

Another vectorised equivalent is the more general `dplyr::case_when()`. It uses a special syntax to allow any number of condition-vector pairs:

In [8]:
x <- 1:10
dplyr::case_when(
  x %% 35 == 0 ~ "fizz buzz",
  x %% 5 == 0 ~ "fizz",
  x %% 7 == 0 ~ "buzz",
  is.na(x) ~ "???",
  TRUE ~ as.character(x)
)

 [1] "1"    "2"    "3"    "4"    "fizz" "6"    "buzz" "8"    "9"    "fizz"

# switch

It’s a compact, special purpose equivalent that lets you replace code like:

```r
x_option <- function(x) {
  if (x == "a") {
    "option 1"
  } else if (x == "b") {
    "option 2" 
  } else if (x == "c") {
    "option 3"
  } else {
    stop("Invalid `x` value")
  }
}
```

with the more succint:

In [15]:
x_option <- function(x) switch(x, a = 'option 1', b = 'option 2', c = 'option 3', stop('Invalid `x` value'))

In [21]:
x_option('a')

x_option('c')

x_option('z')

[1] "option 1"

[1] "option 3"

ERROR: Error in x_option("z"): Invalid `x` value

The last component of a `switch()` should always throw an error, otherwise unmatched inputs will invisibly return `NULL`:

In [20]:
(switch('c', a = 1, b = 2)) # return NULL invisibly

NULL

If multiple inputs have the same output, you can leave the right hand side of = empty and the input will “fall through” to the next value. This mimics the behaviour of C’s switch statement:

In [24]:
leg <- function(n) {
    switch(n, 
           dog = ,
           cat = ,
           horse = ,
           cow = 4,
           chicken = ,
           bird = ,
           human = 2, 
           plant = 0,
           stop('Unknown'))
}

leg('dog')

leg('cat')

leg('bird')

leg('dragon')

[1] 4

[1] 4

[1] 2

ERROR: Error in leg("dragon"): Unknown

It is also possible to use `switch()` with a numeric x, but is harder to read, and has undesirable failure modes if x is a not a whole number. I recommend using `switch()` only with character inputs.

---

```R
switch(expression, case1, case2, case3....)
```

The following rules apply to a switch statement −

* If the value of expression is not a character string it is coerced to integer.

* You can have any number of case statements within a switch. Each case is followed by the value to be compared to and a colon.

* If the value of the integer is between 1 and nargs()−1 (The max number of arguments)then the corresponding element of case condition is evaluated and the result returned.

* If expression evaluates to a character string then that string is matched (exactly) to the names of the elements.

* If there is more than one match, the first matching element is returned.

* No Default argument is available.

* In the case of no match, if there is a unnamed element of ... its value is returned. (If there is more than one such argument an error is returned.)

If the value of `expression` is not a character string it is coerced to integer.

In [3]:
switch(1, 'one', 'two', 'three')

[1] "one"

In [12]:
switch(3, 'one', 'two', 'three')

[1] "three"

In [13]:
#this will raise an error because valid values for the first argument is 1, 2, 3
switch(0, 'one', 'two' 'three')

ERROR: Error in parse(text = x, srcfile = src): <text>:1:24: unexpected string constant
1: switch(0, 'one', 'two' 'three'
                           ^

<hr>

If `expression` evaluates to a character string then that string is matched (exactly) to the names of the elements in .... If there is a match then that element is evaluated unless it is missing, in which case the next non-missing element is evaluated, so for example `switch("cc", a = 1, cc =, cd =, d = 2)` evaluates to 2. If there is more than one match, the first matching element is used. In the case of no match, if there is a unnamed element of `...` its value is returned.

In [14]:
switch('name', 'clan' = 'VN Champions', 'level' = 31, 'name' = 'VN Pikachu')

[1] "VN Pikachu"

In [1]:
#There is no match, so the first positional argument is returned
#we can imagine default = 'Male'
switch('gender', 'Male', name = 'VN Pikachu', clan = 'VN Champions')

[1] "Male"

In [9]:
# In general, this this the way to set default value
variable <- 'c'
switch(variable, 'a' = 'apple', 'b' = 'banana', 'This is default value')

[1] "This is default value"

In [2]:
#This will return nothing because we do not specify the default return value
switch('gender', name = 'VN Pikachu', clan = 'VN Champions')