match, which, %in%

# which

**`which()`**: which indices are TRUE? (<b style = 'color:red'>Like **`np.nonzero`**</b>)

**Usage**
```R
which(x, arr.ind = FALSE, useNames = TRUE)
arrayInd(ind, .dim, .dimnames = NULL, useNames = FALSE)
```
**Arguments**
`x`	
a logical vector or array. NAs are allowed and omitted (treated as if FALSE).

`arr.ind`	
logical; should array indices be returned when x is an array?

`ind`	
integer-valued index vector, as resulting from which(x).

`.dim`	
dim(.) integer vector

`.dimnames`	
optional list of character dimnames(.). If useNames is true, to be used for constructing dimnames for arrayInd() (and hence, which(*, arr.ind=TRUE)). If names(.dimnames) is not empty, these are used as column names. .dimnames[[1]] is used as row names.

`useNames`	
logical indicating if the value of arrayInd() should have (non-null) dimnames at all.

<hr>

<b style = 'color:red'>
NOTE:<br>
Unlike most other base R functions this does not coerce x to logical: only arguments with typeof logical are accepted and others give an error.
</b>

<hr>

In [2]:
values <- c(TRUE, FALSE, FALSE, TRUE, FALSE)

which(values)

[1] 1 4

In [6]:
values <- 1:8
which(values %% 3 == 0)

[1] 3 6

In [10]:
#which the index or letter R
which(LETTERS == 'R')

[1] 18

In [30]:
l1 <- c(TRUE, FALSE, TRUE, NA, FALSE, FALSE, TRUE) #> 1 3 7
names(l1) <- letters[seq(l1)]
l1 #A series in Pandas

    a     b     c     d     e     f     g
 TRUE FALSE  TRUE    NA FALSE FALSE  TRUE

In [31]:
which(l1)

a c g
1 3 7

<hr>

`arr.ind`

In [33]:
mat <- matrix(1:12, 3, 4)
#flatten matrix then return index as 1D
which(mat %% 3 == 0)

[1]  3  6  9 12

In [34]:
#return index of array
which(mat %% 3 == 0, arr.ind = TRUE)

     row col
[1,] 3   1
[2,] 3   2
[3,] 3   3
[4,] 3   4

<hr>

`useNames`

In [39]:
#turn off the dimnames of the result (compare with the output above)
which(mat %% 3 == 0, arr.ind = TRUE, useNames = FALSE)

     [,1] [,2]
[1,] 3    1
[2,] 3    2
[3,] 3    3
[4,] 3    4

# Value Matching

### %in%

```R
%in% is currently defined as
"%in%" <- function(x, table) match(x, table, nomatch = 0) > 0
```

In [43]:
c(-1, 1, 10) %in% 1:5

[1] FALSE  TRUE FALSE

In [48]:
in_ <- function(x, table) match(x, table, nomatch = 0) > 0

in_(c(1,2), c(-1, 2, 3))

[1] FALSE  TRUE

### match

**`match()`**: returns a vector of the positions of (first) matches of its first argument in its second.

In [46]:
args(match)

function (x, table, nomatch = NA_integer_, incomparables = NULL)
NULL

**Arguments**  
`x`	
vector or NULL: the values to be matched. Long vectors are supported.

`table`	
vector or NULL: the values to be matched against. Long vectors are not supported.

`nomatch`	
the value to be returned in the case when no match is found. Note that it is coerced to integer.

`incomparables`	
a vector of values that cannot be matched. Any value in x matching a value in this vector is assigned the nomatch value. For historical reasons, FALSE is equivalent to NULL.

In [50]:
#if there is no match, return -1
items <- c('Shoes', 'Shirt', 'Cube')

tools <- c('Shoes', 'Sword', 'Gun', 'Rocket', 'Shirt')

match(items, tools, nomatch = -1)
#Python: tools.index('Shoe'), tools.index('Shirt'), tools.index('Cube')

[1]  1  5 -1