<b style = 'color:red'> `list` if a type of vector (recursive vector)</b>

Lists are the R objects which contain elements of different types like âˆ’ numbers, strings, vectors and another list inside it. A list can also contain a matrix or a function as its elements. List is created using **`list()`** function.

**Usage**

```R
list(...)
pairlist(...)

as.list(x, ...)
## S3 method for class 'environment'
as.list(x, all.names = FALSE, sorted = FALSE, ...)
as.pairlist(x)

is.list(x)
is.pairlist(x)

alist(...)
```

**Arguments**


`...`	
objects, possibly named.

`x`	
object to be coerced or tested.

`all.names`	
a logical indicating whether to copy all values or (default) only those whose names do not begin with a dot.

`sorted`	
a logical indicating whether the names of the resulting list should be sorted (increasingly). Note that this is somewhat costly, but may be useful for comparison of environments.

# Creating a list

In [1]:
#attribute-free
player = list('VN Pikachu', 31, c(57832, 2799))
player

[[1]]
[1] "VN Pikachu"

[[2]]
[1] 31

[[3]]
[1] 57832  2799

In [2]:
#list with attributes
player <- list(name = 'VN Pikachu', level = 31, stats = c(57832, 2799))
player

$name
[1] "VN Pikachu"

$level
[1] 31

$stats
[1] 57832  2799

In [3]:
## "pre-allocate" an empty list of length 5
vector("list", 5)

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

[[5]]
NULL

A very useful tool for working with lists is **`str()`** because it focusses on the structure, not the contents.

In [4]:
str(player)

List of 3
 $ name : chr "VN Pikachu"
 $ level: num 31
 $ stats: num [1:2] 57832 2799

# Naming list elements

the list elements can be given names and they can be accessed using these names.

In [4]:
names(player) <- c('Name', 'Level', 'Stats')
player

$Name
[1] "VN Pikachu"

$Level
[1] 31

$Stats
[1] 57832  2799

# Accessing list elements

### By name

In [5]:
player$Name

[1] "VN Pikachu"

In [6]:
player$Stats

[1] 57832  2799

### By index

<b style = 'color:red'>Like **`Vector`**</b>

In [12]:
clan = list('VN Champions', level = 7, c(24, 25), TRUE)
clan

[[1]]
[1] "VN Champions"

$level
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] TRUE

In [13]:
print(clan)

[[1]]
[1] "VN Champions"

$level
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] TRUE

- `[[` extracts a single component from a list. It removes a level of hierarchy from the list.

In [15]:
# Access a single element
clan[[2]]

[1] 7

- `[` extracts a sub-list. The result will always be a list.

In [11]:
#integer indexing, this return a list
clan[3]

str(clan[3])

[[1]]
[1] 24 25

List of 1
 $ : num [1:2] 24 25

In [9]:
#multiple integer indexing, return a list
clan[c(1,3)]

[[1]]
[1] "VN Champions"

[[2]]
[1] 24 25

In [10]:
#negative indexing
clan[-1]

[[1]]
[1] 7

[[2]]
[1] 24 25

[[3]]
[1] TRUE

In [11]:
#multiple negative indexing
clan[c(-2, -4)]

[[1]]
[1] "VN Champions"

[[2]]
[1] 24 25

In [12]:
#boolean indexing
clan[c(TRUE, FALSE, FALSE, TRUE)]

[[1]]
[1] "VN Champions"

[[2]]
[1] TRUE

# Slicing

In [13]:
clan[1:3]

[[1]]
[1] "VN Champions"

[[2]]
[1] 7

[[3]]
[1] 24 25

# Manipulation

### Adding, deleting and updating

 We can add and delete elements only at the end of a list  
 But we can update any element.

In [14]:
clan

[[1]]
[1] "VN Champions"

[[2]]
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] TRUE

In [15]:
#adding
clan[5] = 44000L


clan

[[1]]
[1] "VN Champions"

[[2]]
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] TRUE

[[5]]
[1] 44000

With lists, you can use `x[[i]] <- NULL` to remove a component.

In [16]:
#deleting
clan[5] = NULL

clan

[[1]]
[1] "VN Champions"

[[2]]
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] TRUE

To add a literal `NULL`, use `x[i] <- list(NULL)`:

In [2]:
player <- list(name = 'VN Pikachu', level = 31)

# set level to NULL, instead of removing it
player['level'] <- list(NULL)

str(player)

List of 2
 $ name : chr "VN Pikachu"
 $ level: NULL

In [17]:
#updating
clan[4] = FALSE

clan

[[1]]
[1] "VN Champions"

[[2]]
[1] 7

[[3]]
[1] 24 25

[[4]]
[1] FALSE

### Merging list

using **`c()`**

In [18]:
list1 = list('VN Pikachu', 31, c(57321, 2799))
list2 = list('bac giang vn', 33, c(59322, 3031))

merged.list = c(list1, list2)
merged.list

[[1]]
[1] "VN Pikachu"

[[2]]
[1] 31

[[3]]
[1] 57321  2799

[[4]]
[1] "bac giang vn"

[[5]]
[1] 33

[[6]]
[1] 59322  3031

In [19]:
class(merged.list)

[1] "list"

### Converting list to vector

**`unlist()`**

A list can be converted to a vector so that the elements of the vector can be used for further manipulation. All the arithmetic operations on vectors can be applied after the list is converted into vectors. To do this conversion, we use the **`unlist()`** function. It takes the list as input and produces a vector.

In [20]:
res <- unlist(list1)
res

[1] "VN Pikachu" "31"         "57321"      "2799"

In [21]:
class(res)

[1] "character"

<hr>

# Checking List

**`is.list()`**

In [22]:
is.list(c('VN', 'Pikachu'))

[1] FALSE

In [23]:
is.list(list('VN Pikachu', 35))

[1] TRUE

# Converting to List

**`as.list()`**

In [24]:
player <- c('VN Pikachu', 'VN Champions', 'Viet Nam')
player

[1] "VN Pikachu"   "VN Champions" "Viet Nam"

In [25]:
as.list(player)

[[1]]
[1] "VN Pikachu"

[[2]]
[1] "VN Champions"

[[3]]
[1] "Viet Nam"

In [26]:
is.list(as.list(player))

[1] TRUE

# Attributes

Any vector can contain arbitrary additional metadata through its attributes. You can think of attributes as named list of vectors that can be attached to any object. You can get and set individual attribute values with `attr()` or see them all at once with `attributes()`.

In [18]:
x <- 1:10

attributes(x)

attr(x, 'name') <- 'variable x'

attr(x, 'datatype') <- 'integer'

attributes(x)

NULL

$name
[1] "variable x"

$datatype
[1] "integer"

There are three very important attributes that are used to implement fundamental parts of R:

1. **Names** are used to name the elements of a vector.
2. **Dimensions** (dims, for short) make a vector behave like a matrix or array.
3. **Class** is used to implement the S3 object oriented system.