In [2]:
library(tidyverse)

# Change columns order

Use **`relocate()`** to change column positions, using the same syntax as **`select()`** to make it easy to move blocks of columns at once.

```R
relocate(.data, ..., .before = NULL, .after = NULL)
```

# Examples

In [4]:
df <- tibble(a = 1, b = 1, c = 1, d = "a", e = "a", f = "a")
df

  a b c d e f
1 1 1 1 a a a

Move column f to the the first column

In [5]:
df %>% relocate(f)

  f a b c d e
1 a 1 1 1 a a

move column a after column d

In [6]:
df %>% relocate(a, .after = d)

  b c d a e f
1 1 1 a 1 a a

move column d before column b

In [7]:
df %>% relocate(d, .before = b)

  a d b c e f
1 1 a 1 1 a a

Can also select variables based on their type

In [11]:
#Put columns having character datatypes as first columns
df %>% relocate(where(is.character)) #equivalent to:  df.relocate(d, e, f)

  d e f a b c
1 a a a 1 1 1

In [16]:
#Put columns having character datatypes as first columns
df %>% relocate(where(is.character), .after = last_col())

  a b c d e f
1 1 1 1 a a a

In [18]:
# When .before or .after refers to multiple variables they will be
# moved to be immediately before/after the selected variables.

df %>% relocate(where(is.character), .after = where(is.numeric))

  a b c d e f
1 1 1 1 a a a

# Arguments

### `...`

`<tidy-select>` Columns to move.

<hr>

`<tidy-select>`: We do not need to use `dplyr::across`

In [4]:
#put Sepal... after Petal
iris %>% relocate(starts_with('Sepal'), .after = starts_with('Petal')) %>% head()

  Petal.Length Petal.Width Sepal.Length Sepal.Width Species
1 1.4          0.2         5.1          3.5         setosa
2 1.4          0.2         4.9          3.0         setosa
3 1.3          0.2         4.7          3.2         setosa
4 1.5          0.2         4.6          3.1         setosa
5 1.4          0.2         5.0          3.6         setosa
6 1.7          0.4         5.4          3.9         setosa

### `.before`, `.after`

`<tidy-select>` Destination of columns selected by `....` Supplying neither will move columns to the left-hand side; specifying both is an error.

In [9]:
#by default, relocate selected columns to the left-side
iris %>% relocate(Species) %>% head()

  Species Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa  5.1          3.5         1.4          0.2
2 setosa  4.9          3.0         1.4          0.2
3 setosa  4.7          3.2         1.3          0.2
4 setosa  4.6          3.1         1.5          0.2
5 setosa  5.0          3.6         1.4          0.2
6 setosa  5.4          3.9         1.7          0.4

In [8]:
#Relocate columns having names ending with 'Length' to the right-side
iris %>% relocate(ends_with('Length'), .after = last_col()) %>% head()

  Sepal.Width Petal.Width Species Sepal.Length Petal.Length
1 3.5         0.2         setosa  5.1          1.4
2 3.0         0.2         setosa  4.9          1.4
3 3.2         0.2         setosa  4.7          1.3
4 3.1         0.2         setosa  4.6          1.5
5 3.6         0.2         setosa  5.0          1.4
6 3.9         0.4         setosa  5.4          1.7