In [2]:
library(tidyverse)

# Create, modify, and delete columns

`mutate()` adds new variables and preserves existing ones; `transmute()` adds new variables and drops existing ones. New variables overwrite existing variables of the same name. Variables can be removed by setting their value to NULL

```R
mutate(.data, ...)

# S3 method for data.frame
mutate(
  .data,
  ...,
  .keep = c("all", "used", "unused", "none"),
  .before = NULL,
  .after = NULL
)

transmute(.data, ...)
```

# Useful mutate functions


* +, -, log(), etc., for their usual mathematical meanings

* lead(), lag()

* dense_rank(), min_rank(), percent_rank(), row_number(), cume_dist(), ntile()

* cumsum(), cummean(), cummin(), cummax(), cumany(), cumall()

* na_if(), coalesce()

* if_else(), recode(), case_when()

* Grouped tibbles

# Examples

Newly created variables are available immediately

In [4]:
#Create a new column, preserve the existing ones
iris %>% mutate(Sepal.Length.Square = Sepal.Length ^ 2) %>% head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Sepal.Length.Square
1 5.1          3.5         1.4          0.2         setosa  26.01
2 4.9          3.0         1.4          0.2         setosa  24.01
3 4.7          3.2         1.3          0.2         setosa  22.09
4 4.6          3.1         1.5          0.2         setosa  21.16
5 5.0          3.6         1.4          0.2         setosa  25.00
6 5.4          3.9         1.7          0.4         setosa  29.16

Only add newly created variables, drop existing variables

In [15]:
iris %>% transmute(Sepal.Length.Square = Sepal.Length ^ 2) %>% head()

  Sepal.Length.Square
1 26.01
2 24.01
3 22.09
4 21.16
5 25.00
6 29.16

As well as adding new variables, you can use mutate() to
remove variables and modify existing variables.

In [5]:
#remove column Sepal.Length, Sepal.Width
iris %>% mutate(Sepal.Length = NULL, Sepal.Width = NULL) %>% head()

  Petal.Length Petal.Width Species
1 1.4          0.2         setosa
2 1.4          0.2         setosa
3 1.3          0.2         setosa
4 1.5          0.2         setosa
5 1.4          0.2         setosa
6 1.7          0.4         setosa

In [7]:
#Modify: transform Petal.Width to sqrt
iris %>% mutate(Petal.Width = sqrt(Petal.Width)) %>% head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.4472136   setosa
2 4.9          3.0         1.4          0.4472136   setosa
3 4.7          3.2         1.3          0.4472136   setosa
4 4.6          3.1         1.5          0.4472136   setosa
5 5.0          3.6         1.4          0.4472136   setosa
6 5.4          3.9         1.7          0.6324555   setosa

In [8]:
# Use across() with mutate() to apply a transformation
# to multiple columns in a tibble.
starwars %>%
 select(name, homeworld, species) %>%
 mutate(across(!name, as.factor))

    name                  homeworld    species
1   Luke Skywalker        Tatooine     Human
2   C-3PO                 Tatooine     Droid
3   R2-D2                 Naboo        Droid
4   Darth Vader           Tatooine     Human
5   Leia Organa           Alderaan     Human
6   Owen Lars             Tatooine     Human
7   Beru Whitesun lars    Tatooine     Human
8   R5-D4                 Tatooine     Droid
9   Biggs Darklighter     Tatooine     Human
10  Obi-Wan Kenobi        Stewjon      Human
11  Anakin Skywalker      Tatooine     Human
12  Wilhuff Tarkin        Eriadu       Human
13  Chewbacca             Kashyyyk     Wookiee
14  Han Solo              Corellia     Human
15  Greedo                Rodia        Rodian
16  Jabba Desilijic Tiure Nal Hutta    Hutt
17  Wedge Antilles        Corellia     Human
18  Jek Tono Porkins      Bestine IV   Human
19  Yoda                  NA           Yoda's species
20  Palpatine             Naboo        Human
21  Boba Fett             Kamino       Human
22  IG-88                 NA           Droid
23  Bossk                 Trandosha    Trandoshan
24  Lando Calrissian      Socorro      Human
25  Lobot                 Bespin       Human
26  Ackbar                Mon Cala     Mon Calamari
27  Mon Mothma            Chandrila    Human
28  Arvel Crynyd          NA           Human
29  Wicket Systri Warrick Endor        Ewok
30  Nien Nunb             Sullust      Sullustan
... ...                   ...          ...
58  Cordé                 Naboo        Human
59  Cliegg Lars           Tatooine     Human
60  Poggle the Lesser     Geonosis     Geonosian
61  Luminara Unduli       Mirial       Mirialan
62  Barriss Offee         Mirial       Mirialan
63  Dormé                 Naboo        Human
64  Dooku                 Serenno      Human
65  Bail Prestor Organa   Alderaan     Human
66  Jango Fett            Concord Dawn Human
67  Zam Wesell            Zolan        Clawdite
68  Dexter Jettster       Ojom         Besalisk
69  Lama Su               Kamino       Kaminoan
70  Taun We               Kamino       Kaminoan
71  Jocasta Nu            Coruscant    Human
72  Ratts Tyerell         Aleen Minor  Aleena
73  R4-P17                NA           Droid
74  Wat Tambor            Skako        Skakoan
75  San Hill              Muunilinst   Muun
76  Shaak Ti              Shili        Togruta
77  Grievous              Kalee        Kaleesh
78  Tarfful               Kashyyyk     Wookiee
79  Raymus Antilles       Alderaan     Human
80  Sly Moore             Umbara       NA
81  Tion Medon            Utapau       Pau'an
82  Finn                  NA           Human
83  Rey                   NA           Human
84  Poe Dameron           NA           Human
85  BB8                   NA           Droid
86  Captain Phasma        NA           NA
87  Padmé Amidala         Naboo        Human

Window functions are useful for grouped mutates:

In [11]:
TF <- data.frame(
    clan = c('VNC', 'VNC', 'VNC', 'King Allool', 'King Allool'),
    player = c('Meomeo888', 'Tank Cao', 'VN Pikachu', 'xXx-Hadi-xXx', 'GHOST'),
    power = c(95, 88, 100, 50, 65)
)

TF

  clan        player       power
1 VNC         Meomeo888     95
2 VNC         Tank Cao      88
3 VNC         VN Pikachu   100
4 King Allool xXx-Hadi-xXx  50
5 King Allool GHOST         65

In [12]:
#For each class, ranking player by his power
TF %>% 
group_by(clan) %>%
mutate(rank = rank(desc(power)))

  clan        player       power rank
1 VNC         Meomeo888     95   2
2 VNC         Tank Cao      88   3
3 VNC         VN Pikachu   100   1
4 King Allool xXx-Hadi-xXx  50   2
5 King Allool GHOST         65   1

In [14]:
#Normalize Sepal.Width for each Species
iris %>% 
group_by(Species) %>% 
mutate(Sepal.Width = (Sepal.Width - mean(Sepal.Width)) / sd(Sepal.Width)) %>%
head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1           0.1899414  1.4          0.2         setosa
2 4.9          -1.1290958  1.4          0.2         setosa
3 4.7          -0.6014810  1.3          0.2         setosa
4 4.6          -0.8652884  1.5          0.2         setosa
5 5.0           0.4537488  1.4          0.2         setosa
6 5.4           1.2451711  1.7          0.4         setosa

# Arguments

### `.data`

A data frame, data frame extension (e.g. a tibble), or a lazy data frame (e.g. from dbplyr or dtplyr). See Methods, below, for more details.

### `...`

	
<data-masking> Name-value pairs. The name gives the name of the column in the output.

The value can be:

* A vector of length 1, which will be recycled to the correct length.

* A vector the same length as the current group (or the whole data frame if ungrouped).

* NULL, to remove the column.

* A data frame or tibble, to create multiple columns in the output.

In [4]:
clan <- data.frame(
    name = c('VN Pikachu', 'Tank Cao', 'quachtinh'),
    level = c(31, 34, 33)
)

clan

  name       level
1 VN Pikachu 31
2 Tank Cao   34
3 quachtinh  33

a vector of length 1

In [9]:
clan %>% mutate(sex = 'Male')

  name       level sex
1 VN Pikachu 31    Male
2 Tank Cao   34    Male
3 quachtinh  33    Male

A vector the same length as the current group (or the whole data frame if ungrouped)

In [7]:
clan %>% mutate(power = c(100, 85, 53))

  name       level power
1 VN Pikachu 31    100
2 Tank Cao   34     85
3 quachtinh  33     53

In [13]:
#level %/% 10 return a vector of length 3
#think of it as value = clan$level %/% 10
clan %>% mutate(value = level %/% 10)

  name       level value
1 VN Pikachu 31    3
2 Tank Cao   34    3
3 quachtinh  33    3

In [8]:
#level = NULL to remove column level
clan %>% mutate(level = NULL)

  name
1 VN Pikachu
2 Tank Cao
3 quachtinh

In [ ]:
#A data frame or tibble, to create multiple columns in the output.