In [2]:
library(tidyverse)

# Rename Columns

**`rename()`** changes the names of individual variables using `new_name = old_name` syntax; **`rename_with()`** renames columns using a function.

```R
rename(.data, ...)

rename_with(.data, .fn, .cols = everything(), ...)
```

# Examples

In [6]:
#Change column's names: Petal.Length to petal_length, Petal.Width to petal_width
iris %>% rename(petal_length = Petal.Length, petal_width = Petal.Width) %>% head()

  Sepal.Length Sepal.Width petal_length petal_width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [8]:
#Change every column name to lower case
iris %>% rename_with(tolower) %>% head()

  sepal.length sepal.width petal.length petal.width species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [9]:
#Change column names starting with 'Sepal' to lowercase
iris %>% rename_with(tolower, starts_with('Petal')) %>% head()

  Sepal.Length Sepal.Width petal.length petal.width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [6]:
# passing additional arguments
iris %>% rename_with(str_replace, .cols = everything(), fixed('.'), '_') %>% head()

# equivalent, using purrr formula                      style
iris %>% rename_with(~ str_replace(., fixed('.'), '_')) %>% head()

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

# Arguments

### `...`

For **`rename()`**: `<tidy-select>` Use `new_name = old_name` to rename selected variables.  
for **`rename_with()`**:  additional arguments passed onto `.fn`.

<hr>

In [8]:
#rename 'Sepal.Length' to sepal_length
iris %>% rename(sepal_length = Sepal.Length) %>% head()

  sepal_length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [7]:
#tidy-select
#rename columns that are not Species
iris %>% rename(variable = !Species) %>% head()

  variable1 variable2 variable3 variable4 Species
1 5.1       3.5       1.4       0.2       setosa
2 4.9       3.0       1.4       0.2       setosa
3 4.7       3.2       1.3       0.2       setosa
4 4.6       3.1       1.5       0.2       setosa
5 5.0       3.6       1.4       0.2       setosa
6 5.4       3.9       1.7       0.4       setosa

### `.fn`

	
A function used to transform the selected .cols. Should return a character vector the same length as the input.

In [11]:
decorate <- function(values) paste0('xXx-', values, '-xXx')
#by default, .cols = everything(), it means we will apply this function to the name of every column
iris %>% rename_with(.fn = decorate) %>% head()

  xXx-Sepal.Length-xXx xXx-Sepal.Width-xXx xXx-Petal.Length-xXx
1 5.1                  3.5                 1.4
2 4.9                  3.0                 1.4
3 4.7                  3.2                 1.3
4 4.6                  3.1                 1.5
5 5.0                  3.6                 1.4
6 5.4                  3.9                 1.7
  xXx-Petal.Width-xXx xXx-Species-xXx
1 0.2                 setosa
2 0.2                 setosa
3 0.2                 setosa
4 0.2                 setosa
5 0.2                 setosa
6 0.4                 setosa

### `.cols`


`<tidy-select>` Columns to rename; defaults to all columns.

In [14]:
#Decorate the name of columns that end with 'Length'
iris %>% rename_with(decorate, .cols = ends_with('Length')) %>% head()

  xXx-Sepal.Length-xXx Sepal.Width xXx-Petal.Length-xXx Petal.Width Species
1 5.1                  3.5         1.4                  0.2         setosa
2 4.9                  3.0         1.4                  0.2         setosa
3 4.7                  3.2         1.3                  0.2         setosa
4 4.6                  3.1         1.5                  0.2         setosa
5 5.0                  3.6         1.4                  0.2         setosa
6 5.4                  3.9         1.7                  0.4         setosa