In [2]:
library(tidyverse)

# Perform an operation with temporary groups

This is an experimental new function that allows you to modify the grouping variables for a single operation.

```r
with_groups(.data, .groups, .f, ...)
```

# Examples

In [3]:
df <- tibble(g = c(1, 1, 2, 2, 3), x = runif(5))
df

  g x
1 1 0.77595432
2 1 0.07081933
3 2 0.05684885
4 2 0.21081576
5 3 0.04473063

In [4]:
df %>%
  with_groups(g, mutate, x_mean = mean(x))

  g x          x_mean
1 1 0.77595432 0.42338682
2 1 0.07081933 0.42338682
3 2 0.05684885 0.13383230
4 2 0.21081576 0.13383230
5 3 0.04473063 0.04473063

In [5]:
#Equivlent to:
df %>%
group_by(g) %>%
mutate(x_mean = mean(x))

  g x          x_mean
1 1 0.77595432 0.42338682
2 1 0.07081933 0.42338682
3 2 0.05684885 0.13383230
4 2 0.21081576 0.13383230
5 3 0.04473063 0.04473063