In [2]:
library(tidyverse)

# Create column specification

* **`cols()`** includes all columns in the input data, guessing the column types as the default.  
* **`cols_only()`** includes only the columns you explicitly specify, skipping the rest.

```r
cols(..., .default = col_guess())

cols_only(...)
```

**Arguments**  
`...`	
Either column objects created by `col_*()`, or their abbreviated character names (as described in the `col_types` argument of `read_delim()`). If you're only overriding a few columns, it's best to refer to columns by name. If not named, the column types must match the column names exactly.

`.default`	
Any named columns not explicitly overridden in `...` will be read with this column type.

# Details

The available specifications are: (with string abbreviations in brackets)

* **`col_logical()`** [l], containing only T, F, TRUE or FALSE.

* **`col_integer()`** [i], integers.

* **`col_double()`** [d], doubles.

* **`col_character()`** [c], everything else.

* **`col_factor(levels, ordered)`** [f], a fixed set of values.

* **`col_date(format = "")`** [D]: with the locale's date_format.

* **`col_time(format = "")`** [t]: with the locale's time_format.

* **`col_datetime(format = "")`** [T]: ISO8601 date times

* **`col_number()`** [n], numbers containing the grouping_mark

* **`col_skip()`** [_, -], don't import this column.

* **`col_guess()`** [?], parse using the "best" type based on the input.

# Examples

See <b><a href = '../Introduction.ipynb'>Introduction notebook</a></b> for more examples

In [3]:
cols(Sepal.Length = col_double())

cols(
  Sepal.Length = col_double()
)

In [9]:
# Specify to date type of column `cyl` is Integer
read_csv(readr_example('mtcars.csv'), col_types = cols(cyl = col_integer())) %>% glimpse()

Rows: 32
Columns: 11
$ mpg  <dbl> 21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17...
$ cyl  <int> 6, 6, 4, 6, 8, 6, 8, 4, 4, 6, 6, 8, 8, 8, 8, 8, 8, 4, 4, 4, 4,...
$ disp <dbl> 160.0, 160.0, 108.0, 258.0, 360.0, 225.0, 360.0, 146.7, 140.8,...
$ hp   <dbl> 110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, ...
$ drat <dbl> 3.90, 3.90, 3.85, 3.08, 3.15, 2.76, 3.21, 3.69, 3.92, 3.92, 3....
$ wt   <dbl> 2.620, 2.875, 2.320, 3.215, 3.440, 3.460, 3.570, 3.190, 3.150,...
$ qsec <dbl> 16.46, 17.02, 18.61, 19.44, 17.02, 20.22, 15.84, 20.00, 22.90,...
$ vs   <dbl> 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,...
$ am   <dbl> 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,...
$ gear <dbl> 4, 4, 4, 3, 3, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 4, 3,...
$ carb <dbl> 4, 4, 1, 1, 2, 1, 4, 2, 2, 4, 4, 3, 3, 3, 4, 4, 4, 1, 2, 1, 1,...

In [4]:
cols_only(Sepal.Length = col_double(), Sepal.Width = col_double())

cols_only(
  Sepal.Length = col_double(),
  Sepal.Width = col_double()
)

In [16]:
# Only include columns 'disp' and 'mpg'
read_csv(readr_example('mtcars.csv'), col_types = cols_only(disp = col_double(), mpg = col_double()))%>% glimpse()

Rows: 32
Columns: 2
$ mpg  <dbl> 21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17...
$ disp <dbl> 160.0, 160.0, 108.0, 258.0, 360.0, 225.0, 360.0, 146.7, 140.8,...

You can also use the standard abbreviation:

In [5]:
cols(cyl = 'i') # Integer

cols(
  cyl = col_integer()
)

In [ ]:
cols(Sepal.Length = 'd', Species = '_') # Skip column Species

You can also use multiple sets of column definitions by combining
them like so:

In [6]:
t1 <- cols(
  column_one = col_integer(),
  column_two = col_number())

t2 <- cols(
 column_three = col_character())

t3 <- t1
t3$cols <- c(t1$cols, t2$cols)
t3

cols(
  column_one = col_integer(),
  column_two = col_number(),
  column_three = col_character()
)