In [2]:
library(tidyverse)

**`map2()`** and **`walk2()`** are specialised for the two argument case;   
**`pmap()`** and **`pwalk()`** allow you to provide any number of arguments in a list.   
Note that a data frame is a very important special case, in which case **`pmap()`** and **`pwalk()`** apply the function `.f` to each **row**.

# Map over multiple inputs simultaneously.

```r
map2(.x, .y, .f, ...)

map2_lgl(.x, .y, .f, ...)

map2_int(.x, .y, .f, ...)

map2_dbl(.x, .y, .f, ...)

map2_chr(.x, .y, .f, ...)

map2_raw(.x, .y, .f, ...)

map2_dfr(.x, .y, .f, ..., .id = NULL)

map2_dfc(.x, .y, .f, ...)

walk2(.x, .y, .f, ...)

pmap(.l, .f, ...)

pmap_lgl(.l, .f, ...)

pmap_int(.l, .f, ...)

pmap_dbl(.l, .f, ...)

pmap_chr(.l, .f, ...)

pmap_raw(.l, .f, ...)

pmap_dfr(.l, .f, ..., .id = NULL)

pmap_dfc(.l, .f, ...)

pwalk(.l, .f, ...)
```

# Examples

### `map2()`

In [14]:
clan <- c('VNC', 'Dirilis', 'King Allool')
player <- c('Meomeo888', 'ETOGRUL', 'xXx-Hadi-xXx')
country <- c('Vietnam', 'Sweeden', 'Siberia')

# mapping over 2 list
map2_chr(clan, player, ~ str_c(.x, ': ', .y))

[1] "VNC: Meomeo888"            "Dirilis: ETOGRUL"
[3] "King Allool: xXx-Hadi-xXx"

In [13]:
# mapping over multiple list

list(clan, player, country) %>% pmap_chr(function(x, y, z) str_c(z, ': ', y, ' (', x,')'))

[1] "Vietnam: Meomeo888 (VNC)"            "Sweeden: ETOGRUL (Dirilis)"
[3] "Siberia: xXx-Hadi-xXx (King Allool)"

### `pmap()`

In [19]:
# Vectorizing a function over multiple arguments
df <- data.frame(
  x = c("apple", "banana", "cherry"),
  pattern = c("p", "n", "h"),
  replacement = c("P", "N", "H"),
  stringsAsFactors = FALSE)

df

  x      pattern replacement
1 apple  p       P
2 banana n       N
3 cherry h       H

In [29]:
# each row is a list of argument
df %>% pmap(gsub)

[[1]]
[1] "aPPle"

[[2]]
[1] "baNaNa"

[[3]]
[1] "cHerry"

In [32]:
ex_fun <- function(arg1, arg2){
col <- arg1 + arg2
x <- as.data.frame(col)
}
arg1 <- 1:4
arg2 <- 10:13
map2_dfr(arg1, arg2, ex_fun)

  col
1 11
2 13
3 15
4 17

---

Here, the column names are critical: I’ve carefully chosen to match them to the arguments to `runif()`, so the `pmap(params, runif)` is equivalent to `runif(n = 1L, min = 0, max = 1)`, `runif(n = 2, min = 10, max = 100)`, `runif(n = 3L, min = 100, max = 1000)`. (If you have a data frame in hand, and the names don’t match, use `dplyr::rename()` or similar.)

Gereate 3 random uniform distributions:
- `runif(1, min = 0, max = 1)`
- `runif(2, min = 10, max = 100)`
- `runif(3, min = 100, max = 1000)`

In [3]:
params <- tibble::tribble(
  ~ n, ~ min, ~ max,
   1L,     0,     1,
   2L,    10,   100,
   3L,   100,  1000
)

In [6]:
params  %>% pmap(runif)

[[1]]
[1] 0.9978271

[[2]]
[1] 29.75857 45.78744

[[3]]
[1] 215.7780 746.5849 432.7977