In [4]:
library(tidyverse)

# Convert a data frame to a delimited string

These functions are equivalent to **`write_csv()`** etc., but instead of writing to disk, they return a string.

```r
format_delim(
  x,
  delim,
  na = "NA",
  append = FALSE,
  col_names = !append,
  quote_escape = "double",
  eol = "\n"
)

format_csv(
  x,
  na = "NA",
  append = FALSE,
  col_names = !append,
  quote_escape = "double",
  eol = "\n"
)

format_csv2(
  x,
  na = "NA",
  append = FALSE,
  col_names = !append,
  quote_escape = "double",
  eol = "\n"
)

format_tsv(
  x,
  na = "NA",
  append = FALSE,
  col_names = !append,
  quote_escape = "double",
  eol = "\n"
)
```

# Examples

In [13]:
data(band_members, package = 'dplyr')

band_members

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

In [7]:
format_csv(band_members) %>% cat()

name,band
Mick,Stones
John,Beatles
Paul,Beatles

In [10]:
format_tsv(band_members) %>% cat()

name	band
Mick	Stones
John	Beatles
Paul	Beatles

In [12]:
format_csv2(band_members) %>% cat()

name;band
Mick;Stones
John;Beatles
Paul;Beatles

In [9]:
format_delim(band_members, delim = '|') %>% cat()

name|band
Mick|Stones
John|Beatles
Paul|Beatles

Specifying missing values

In [15]:
df <- data.frame(x = c(1, NA, 3))

format_csv(df, na = 'missing value') %>% cat()

x
1
missing value
3

In [16]:
# Quotes are automatically added as needed
df <- data.frame(x = c("a ", '"', ",", "\n"))

format_csv(df) %>% cat()

x
a
""""
","
"
"

# Arguments

### `x`

A data frame.
<hr>

In [18]:
format_csv(band_members) %>% cat()

name,band
Mick,Stones
John,Beatles
Paul,Beatles

### `delim`

Delimiter used to separate values. Defaults to " " for `write_delim()`, "," for `write_excel_csv()` and ";" for `write_excel_csv2()`. Must be a single character.

<hr>

In [21]:
format_delim(band_members, delim = '|') %>% cat()

name|band
Mick|Stones
John|Beatles
Paul|Beatles

### `append`

	
If FALSE, will overwrite existing file. If TRUE, will append to existing file. In both cases, if the file does not exist a new file is created.

### `col_names`

	
If FALSE, column names will not be included at the top of the file. If TRUE, column names will be included. If not specified, `col_names` will take the opposite value given to append.
<hr>

In [23]:
# does not include column names at the top of the file
format_csv(band_members, col_names = F) %>% cat()

Mick,Stones
John,Beatles
Paul,Beatles

### `quote_escape`


The type of escaping to use for quoted values, one of "double", "backslash" or "none". You can also use FALSE, which is equivalent to "none". The default is "double", which is expected format for Excel.

### `eol`

The end of line character to use. Most commonly either "\n" for Unix style newlines, or "\r\n" for Windows style newlines.